.lightbox {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
    background-image: url(/bse-admin/images/trans_pixel.gif); /* Stop click-through events */
}

.dialog {
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 10, Direction = 135, Color = #555555);    
    border: 0.083em solid #CCC;
}

input, 
select,
textarea {
    min-width: 20em;
    width: 40%;
}

textarea {
    overflow: auto;    
}

div.full input,
div.full select,
div.full textarea,
div.dialog input,
div.dialog select,
div.dialog textarea {
	width: 100%;
}

input[type=submit],
input[type=checkbox],
input[type=radio] {
    min-width: auto;
    width: auto !important;
}

ul.menu ul {
    border: 1px solid #CCC;
}

ul.menu li.disabled,
ul.menu li.disabled a,
ul.menu li.disabled span {
    filter: alpha(opacity = 100);
}

*[data-icon].selected:before {
    filter: alpha(opacity = 70);
}

.disabled,
button[disabled],
input[disabled] {
    filter: alpha(opacity = 25);
}

*[data-role=controlgroup] :first-child,
*[data-role=controlgroup] > .button + .button {
    margin-left: -0.083em;
    margin-right: 0;
}

*[data-role=controlgroup] :first-child {
    margin-left: 0;
}

*[data-role].fullscreen [data-role=navbar] {
    filter: alpha(opacity = 0);
}
 
*[data-role].fullscreen [data-role=navbar].visible,
*[data-role].fullscreen [data-role=navbar]:hover {
    filter: none;
}