/* @group navbar */

ul.menu > li ul li.parent > a {
    background-image: url(/bse-admin/images/widgets/arrow.png);
}

ul.menu > li ul li.hover.parent > a,
ul.menu > li ul li.active.parent > a {
    background-image: url(/bse-admin/images/widgets/arrow-white.png);
}

ul.menu.header > li > a {
    background-image: url(/bse-admin/images/widgets/caret.png);
}

/* @end */

/* @group details */

.disclosure-widget:before {
    background-image: url(/bse-admin/images/widgets/arrow.png);
}

/* @end */

/* @group button icons */

*[data-icon=action\+]:before {
    background-image: url(/bse-admin/images/buttons/action+.png);
}

*[data-icon=action]:before {
    background-image: url(/bse-admin/images/buttons/action.png);
}

*[data-icon=preview]:before {
    background-image: url(/bse-admin/images/buttons/preview.png);
}

*[data-icon=back\+]:before {
    background-image: url(/bse-admin/images/buttons/back+.png);
}

*[data-icon=back]:before {
    background-image: url(/bse-admin/images/buttons/back.png);
}

*[data-icon=delete]:before {
    background-image: url(/bse-admin/images/buttons/delete.png);
}

*[data-icon=regen]:before {
    background-image: url(/bse-admin/images/buttons/regen.png);
}

*[data-icon=path\+]:before {
    background-image: url(/bse-admin/images/buttons/path+.png);
}

*[data-icon=path]:before {
    background-image: url(/bse-admin/images/buttons/path.png);
}

*[data-icon=add]:before {
    background-image: url(/bse-admin/images/buttons/add.png);
}

*[data-icon=subtract]:before {
    background-image: url(/bse-admin/images/buttons/subtract.png);
}

*[data-icon=images]:before {
    background-image: url(/bse-admin/images/buttons/images.png);
}

*[data-icon=files]:before {
    background-image: url(/bse-admin/images/buttons/files.png);
}

*[data-icon=article]:before {
    background-image: url(/bse-admin/images/buttons/article.png);
}

*[data-icon=load]:before {
    background-image: url(/bse-admin/images/buttons/load.png);
}

*[data-icon=orders]:before {
    background-image: url(/bse-admin/images/buttons/orders.png);
}

*[data-icon=users]:before {
    background-image: url(/bse-admin/images/buttons/users.png);
}

*[data-icon=products]:before {
    background-image: url(/bse-admin/images/buttons/products.png);
}

*[data-icon=menu]:before {
    background-image: url(/bse-admin/images/buttons/menu.png);
}

*[data-icon=reports]:before {
    background-image: url(/bse-admin/images/buttons/reports.png);
}

*[data-icon=next]:before {
    background-image: url(/bse-admin/images/buttons/next.png);
}

*[data-icon=previous]:before {
    background-image: url(/bse-admin/images/buttons/previous.png);
}

*[data-icon=info]:before {
    background-image: url(/bse-admin/images/buttons/info.png);
}
 
*[data-icon=help]:before {
    background-image: url(/bse-admin/images/buttons/help.png);
}

*[data-icon=source]:before {
    background-image: url(/bse-admin/images/buttons/source.png);
}

*[data-icon=children]:before {
    background-image: url(/bse-admin/images/buttons/children.png);
}

*[data-icon=trash]:before {
    background-image: url(/bse-admin/images/buttons/trash.png);
}

*[data-icon=timetables]:before {
    background-image: url(/bse-admin/images/buttons/timetables.png);
}

*[data-icon=alert]:before {
    background-image: url(/bse-admin/images/buttons/alert.png);
}

*[data-icon=tick]:before {
    background-image: url(/bse-admin/images/buttons/tick.png);
}

*[data-icon=cross]:before {
    background-image: url(/bse-admin/images/buttons/cross.png);
}

*[data-icon=left]:before {
    background-image: url(/bse-admin/images/buttons/left.png);
}

*[data-icon=right]:before {
    background-image: url(/bse-admin/images/buttons/right.png);
}

*[data-icon=up]:before {
    background-image: url(/bse-admin/images/buttons/up.png);
}

*[data-icon=down]:before {
    background-image: url(/bse-admin/images/buttons/down.png);
}

*[data-icon=versions+]:before {
    background-image: url(/bse-admin/images/buttons/versions+.png);
}

*[data-icon=versions]:before {
    background-image: url(/bse-admin/images/buttons/versions.png);
}

*[data-icon=redirect]:before {
    background-image: url(/bse-admin/images/buttons/redirect.png);
}

*[data-icon=close]:before {
    background-image: url(/bse-admin/images/buttons/close.png);
}

*[data-icon=stop]:before {
    background-image: url(/bse-admin/images/buttons/stop.png);
}

*[data-icon=filter]:before {
    background-image: url(/bse-admin/images/buttons/filter.png);
}

/* @end */

/* @group launchpad */

.launchpad *[data-icon=action]:before {
    background-image: url(/bse-admin/images/launcher/action.png);
}

.launchpad *[data-icon=preview]:before {
    background-image: url(/bse-admin/images/launcher/preview.png);
}

.launchpad *[data-icon=regen]:before {
    background-image: url(/bse-admin/images/launcher/regen.png);
}

.launchpad *[data-icon=path]:before {
    background-image: url(/bse-admin/images/launcher/path.png);
}

.launchpad *[data-icon=add]:before {
    background-image: url(/bse-admin/images/launcher/add.png);
}

.launchpad *[data-icon=images]:before {
    background-image: url(/bse-admin/images/launcher/images.png);
}

.launchpad *[data-icon=files]:before {
    background-image: url(/bse-admin/images/launcher/files.png);
}

.launchpad *[data-icon=article]:before {
    background-image: url(/bse-admin/images/launcher/article.png);
}

.launchpad *[data-icon=load]:before {
    background-image: url(/bse-admin/images/launcher/load.png);
}

.launchpad *[data-icon=orders]:before {
    background-image: url(/bse-admin/images/launcher/orders.png);
}

.launchpad *[data-icon=path]:before {
    background-image: url(/bse-admin/images/launcher/path.png);
}

.launchpad *[data-icon=users]:before {
    background-image: url(/bse-admin/images/launcher/users.png);
}

.launchpad *[data-icon=products]:before {
    background-image: url(/bse-admin/images/launcher/products.png);
}

.launchpad *[data-icon=reports]:before {
    background-image: url(/bse-admin/images/launcher/reports.png);
}

.launchpad *[data-icon=children]:before {
    background-image: url(/bse-admin/images/launcher/children.png);
}

.launchpad *[data-icon=timetables]:before {
    background-image: url(/bse-admin/images/launcher/timetables.png);
}

/* @end */

/* @group widget icons */

*[data-widget=stepkid]:after {
    background-image: url(/bse-admin/images/widgets/stepkid.png);
}

*[data-widget=fullscreen] {
    background-image: url(/bse-admin/images/widgets/fullscreen.png);
}

*[data-widget=window] {
    background-image: url(/bse-admin/images/widgets/window.png);
    opacity: 1;
}

*[data-widget=close] {
    background-image: url(/bse-admin/images/widgets/close.png);
}

*[data-widget=menu] {
    background-image: url(/bse-admin/images/widgets/menu.png);
}

/* @end */
