<:-.wrap "admin/base.tmpl", "title":"Edit Coupon" :>

<:-.set referer = request.referer -:>
<:-.set cgi_referer = cgi.param("referer") -:>
<:-.set cgi_r = cgi.param("r") -:>

<:-.if cgi_r -:>
<:-.set done_url = cgi_r -:>

<:-.elsif cgi_referer and referer and referer !~ /logon/ -:>
<:-.set done_url = referer.replace(/(&amp;|&|\?)referer=[\d]+/, "").replace(/\.pl&(mp;)?/, ".pl?") -:>

<:-.else -:>
<:-.set done_url = cfg.admin_url2("shopadmin", "coupon_list") -:>

<:-.end if -:>

<div class="window dialog">
  <header>
    <h1><:= params.title :></h1>
  </header>
  <:-.set object = coupon :>
  <form action="<:= cfg.admin_url("shopadmin") :>" method="post" data-object="Coupon">
    <input type="hidden" name="id" value="<:= coupon.id :>" />
    <:csrfp admin_bse_coupon_edit hidden :>
    <:-.if coupon.is_expired :>
    <p data-role="status" class="error">This coupon has expired, modify its expiry date before use</p>
    <:-.elsif !coupon.is_removable :>
    <p data-role="status" class="warning">This coupon has been used, its code cannot be modified</p>
    <:-.end if :>
    <fieldset>
      <legend>Coupon</legend>
      <:.call "field", "name":"code", "options":{ "readonly":!coupon.is_removable } :>
      <:.call "field", "name":"description" :>
      <:.call "field", "name":"classid" :>
      <:-.set classid = cgi.param("classid") ? [ cgi.param("classid") ][0] : coupon.classid :>
      <:-.set config = coupon.config_obj :>
      <:-.for bh in behaviours :>
        <:-.set fs = bh.behaviour.config_fields :>
        <:-.set ordered_f = fs.keys.sort(@{a,b: fs[a].order <=> fs[b].order }) :>
        <:-.set attr = { "data-behaviour": bh.id } :>
        <:-.if classid ne bh.id :>
          <:-% attr.set("style", "display: none") :>
          <:-.set disabled = "disabled":>
        <:-.else:>
          <:-.set disabled = "":>
        <:-.end if :>
        <:-.for f in ordered_f :>
          <:.call "field", "name":f, "fields":fs, "options": { "disabled":disabled, "htmlattr":attr }, "object":config :>
        <:-.end for:>
      <:-.end for:>
      <:.call "field", "name":"campaign" :>
    </fieldset>
    <fieldset>
      <legend>Validity</legend>
      <:.call "field", "name":"release", "options":{ "placeholder":"DD/MM/YYYY" } :>
      <:.call "field", "name":"expiry", "options":{ "placeholder":"DD/MM/YYYY" } :>
    </fieldset>
    <:-.if tiers.size != 0 :>
    <:.call "fieldset", "name":"tiers" :>
    <:-.else :>
    <input type="hidden" name="tiers" value="0" />
    <:-.end if :>
    <p class="buttons">
      <a href="<:= done_url:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <input type="submit" name="a_coupon_save" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
    </p>
  </form>
</div>
<script type="text/javascript">
    var classid = $$("select[name=classid]")[0];
    classid.observe("change", function(ev) {
	    var val = ev.target.value;
	    var val_sel = "[data-behaviour=" + val + "]";
	    $$("[data-behaviour]").invoke("hide");
	    $$("[data-behaviour] input, [data-behaviour] select").invoke("setAttribute", "disabled", true);
	    $$(val_sel + " input, " + val_sel + " select").invoke("removeAttribute", "disabled");
	    $$(val_sel).invoke("show");

        changesMonitor.initialize();
    });
</script>