<:wrap admin/base.tmpl title=>"System Reports" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <:- if Reports:>
  <fieldset>
    <legend>Reports</legend>
    <table class="full list">
      <thead>
        <tr>
          <th>Description</th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:- iterator begin reports:>
        <tr>
          <td>
            <:report name:>
          </td>
          <td class="actions">
            <a href="<:script:>?<:ifReport has_params:>s_prompt<:or:>s_show<:eif:>=1&amp;r=<:report id:>" class="button gray small">Details</a>
          </td>
        </tr>
        <:- iterator end reports:>
      </tbody>
    </table>
  </fieldset>
  <:- or Reports:>
  <fieldset>
    <legend>Reports</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No reports to display</p>
    </div>
  </fieldset>
  <:- eif Reports:>
</div>