<:wrap admin/base.tmpl title=>"Report Arguments" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <form action="<:script:>" method="post">
    <input type="hidden" name="r" value="<:report id:>" />
    <fieldset class="list">
      <legend><:report name:></legend>
      <:- iterator begin fields:>
      <div>
        <label for="p<:arithmetic [field_index] + 1:>"><:field label:></label>
        <span>
          <:replace [field html] "name=\"([a-z A-Z 0-9 _]+)\"" "name=\"$1\" id=\"$1\"":>
        </span>
      </div>
      <:- iterator end fields:>
      <:- if Sort_count:>
      <div>
        <label for="sort">Sort order</label>
        <span>
          <select name="sort" id="sort">
            <:- iterator begin sorts:>
            <option value="<:sort id:>"><:sort label:></option>
            <:- iterator end sorts:>
          </select>
        </span>
      </div>
      <:- or Sort_count:><:eif Sort_count:>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <input type="submit" name="s_show" value="View Report" accesskey="d" title="AccessKey = d" class="button green" />
    </p>
  </form>
</div>