<:-.wrap "admin/base.tmpl", "title": "Activity Details" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <fieldset>
    <legend>Log Entry #<:auditentry id:></legend>
    <div class="field">
      <label class="field-label">When</label>
      <span class="field-input">
        <:date "%d-%b-%Y / %r" auditentry when_at:>
      </span>
    </div>
    <div class="field">
      <label class="field-label">Facility</label>
      <span class="field-input">
        <:auditentry facility:>
      </span>
    </div>
    <div class="field">
      <label class="field-label">Component</label>
      <span class="field-input">
        <:auditentry component:>
      </span>
    </div>
    <div class="field">
      <label class="field-label">Module</label>
      <span class="field-input">
        <:auditentry module:>
      </span>
    </div>
    <div class="field">
      <label class="field-label">Function</label>
      <span class="field-input">
        <:auditentry function:>
      </span>
    </div>
    <div class="<:auditentry level_name:>">
      <label>Level</label>
      <span class="field-input">
        <:auditentry level_name:>
      </span>
    </div>
    <div class="field">
      <label class="field-label">Actor</label>
      <span class="field-input">
        <:- if Auditentry actor_link:>
        <a href="<:auditentry actor_link:>"><:auditentry actor_name:></a>
        <:- or Auditentry:><:auditentry actor_name:>
        <:- eif Auditentry:>
      </span>
    </div>
    <div class="field">
      <label class="field-label">Object</label>
      <span class="field-input">
        <:- if Auditentry object_link:>
        <a href="<:auditentry object_link:>"><:auditentry object_name:></a>
        <:- or Auditentry:>
        <:auditentry object_name:>
        <:- eif Auditentry:>
      </span>
    </div>
    <div class="field">
      <label class="field-label">Message</label>
      <span class="field-input">
        <:auditentry msg:>
      </span>
    </div>
    <div class="field">
      <label class="field-label">IP Address</label>
      <span class="field-input">
        <:auditentry ip_address:>
      </span>
    </div>
    <:- if Auditentry dump:>
    <div class="field full">
      <label class="field-label">Log</label>
      <span class="field-input">
        <textarea><:auditentry dump:></textarea>
      </span>
    </div>
    <:- eif Auditentry:>
  </fieldset>
  <p class="buttons">
    <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:adminurl log:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
  </p>
</div>