<:wrap admin/base.tmpl title=>"Activity Details" nomessage=>"1" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" data-widget="close">Quick Launch</a>
  </header>
  <fieldset>
    <legend>Log Entry #<:auditentry id:></legend>
    <div>
      <label>When</label>
      <span>
        <:date "%d-%b-%Y / %r" auditentry when_at:>
      </span>
    </div>
    <div>
      <label>Facility</label>
      <span>
        <:auditentry facility:>
      </span>
    </div>
    <div>
      <label>Component</label>
      <span>
        <:auditentry component:>
      </span>
    </div>
    <div>
      <label>Module</label>
      <span>
        <:auditentry module:>
      </span>
    </div>
    <div>
      <label>Function</label>
      <span>
        <:auditentry function:>
      </span>
    </div>
    <div>
      <label>Level</label>
      <span>
        <:auditentry level_name:>
      </span>
    </div>
    <div>
      <label>Actor</label>
      <span>
        <:- if Auditentry actor_link:>
        <a href="<:auditentry actor_link:>"><:auditentry actor_name:></a>
        <:- or Auditentry:><:auditentry actor_name:>
        <:- eif Auditentry:>
      </span>
    </div>
    <div>
      <label>Object</label>
      <span>
        <:- if Auditentry object_link:>
        <a href="<:auditentry object_link:>"><:auditentry object_name:></a>
        <:- or Auditentry:>
        <:auditentry object_name:>
        <:- eif Auditentry:>
      </span>
    </div>
    <div>
      <label>Message</label>
      <span>
        <:auditentry msg:>
      </span>
    </div>
    <div>
      <label>IP Address</label>
      <span>
        <:auditentry ip_address:>
      </span>
    </div>
    <:- if Auditentry dump:>
    <div class="full">
      <label>Log</label>
      <span>
        <textarea><:auditentry dump:></textarea>
      </span>
    </div>
    <:- or Auditentry:><:eif Auditentry:>
  </fieldset>
  <p class="buttons">
    <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:adminurl log:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
  </p>
</div>