        <tr>
          <!--<th>Id</th>-->
          <th>When</th>
          <th>Level</th>
          <!--<th>Who</th>
          <th>What</th>
          <th>Object</th>-->
          <th>Message</th>
          <th><!--Actions--></th>
        </tr>
