<:wrap admin/base.tmpl title=>"System Activity" bodyid=>"auditlog" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <:- if Auditlog:>
  <fieldset>
    <legend>Audit Log</legend>
    <table class="full list">
      <thead>
<:include admin/log/head.tmpl:>
      </thead>
      <tbody>
        <:- iterator begin auditlog:>
<:include admin/log/data.tmpl:>
        <:- iterator end auditlog:>
      </tbody>
    </table>
  </fieldset>
  <p class="pagination">
    Page <:auditlog_pagenum:> of <:auditlog_pagecount:>
    <:- if FirstAuditlogPage:>
    <span class="disabled">|←</span>
    <:- or FirstAuditlogPage:>
    <a href="<:adminurl log:>?p=1&amp;pp=<:auditlog_perpage:>">|←</a>
    <a href="<:adminurl log:>?p=<:prevAuditlogPage:>&amp;pp=<:auditlog_perpage:>">←</a>
    <:- eif FirstAuditlogPage:>
    <:- iterator begin auditlog_pagec:>
    <:- switch:>
    <:- case auditentry_pagec gap:>
    <span class="truncation">...</span>
    <:- case auditentry_pagec link:>
    <a href="<:adminurl log:>?p=<:auditentry_pagec page:>&amp;pp=<:auditlog_perpage:>"><:auditentry_pagec page:></a>
    <:- case default:>
    <span class="disabled"><:auditentry_pagec page:></span>
    <:- endswitch:>
    <:- iterator end auditlog_pagec:>
    <:- if LastAuditlogPage:>
    <span class="disabled">→|</span>
    <:- or LastAuditlogPage:>
    <a href="<:adminurl log:>?p=<:nextAuditlogPage:>&amp;pp=<:auditlog_perpage:>">→</a>
    <a href="<:adminurl log:>?p=<:auditlog_pagecount:>&amp;pp=<:auditlog_perpage:>">→|</a>
    <:- eif LastAuditlogPage:>
  </p>
  <:- or Auditlog:>
  <fieldset>
    <legend>Audit Log</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" /></p>
      <p>No audit log entries to display</p>
    </div>
  </fieldset>
  <:- eif Auditlog:>
</div>