<:-.wrap "email/base.tmpl", "title": "Activity notification" :>

<p>This noteworthy activity has occurred on your site.</p>

<dl>
  <dt>Activity Details:</dt>
  <dd><span>Level:</span> <:= entry.level_name:><br />
  <span>When:</span> <:= bse.date("%d-%b-%Y / %r", entry.when_at):><br /><br />
  <span>Message:</span><br />
  <:= entry.msg:></dd>
</dl>
