<:-.wrap "admin/base.tmpl", "title": "Preview System Pages" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <fieldset>
    <legend>Templates</legend>
    <table class="full list">
      <thead>
        <tr>
          <th>Name</th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:- iterator begin templates:>
        <tr>
          <td><:template id:></td>
          <td class="actions">
            <a href="<:adminurl pregen a_show 1 template [template id]:>" class="button gray small">Preview</a>
            <:- if UserCan bse_regen_extras:>
            <a href="<:adminurl generate r [adminurl pregen] id [cat "extra:" [template id]] m 1 |x:>" class="button green small">Regenerate</a>
            <:- eif UserCan:>
          </td>
        </tr>
        <:- iterator end templates:>
      </tbody>
    </table>
  </fieldset>
</div>