<:wrap admin/base.tmpl title=>"Show Template", classes=>"preview toolbar" :>
<header>
  <nav data-role="toolbar">
    <a href="<:adminurl pregen:>" accesskey="," title="AccessKey = ," data-icon="back" data-icon-only="true" class="button">Back</a>
    <:- if UserCan bse_regen_extras:>
    <a href="<:adminurl generate r [adminurl pregen a_show 1 template [template id] |z] id [cat "extra:" [template id]] m 1 |x:>" accesskey="r" title="AccessKey = r" data-icon="regen" data-icon-only="true" class="button">Regenerate</a>
    <:- eif UserCan:>
    <a href="<:adminurl pregen a_display 1 template [template id]:>" accesskey="u" title="AccessKey = u" data-icon="refresh"  data-icon-only="true" target="workarea" class="button">Refresh</a>
    <span class="button selected">Preview: <:template id:></span>
  </nav>
</header>
<div id="preview" class="preview">
  <iframe src="<:adminurl pregen a_display 1 template [template id]:>" name="workarea">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>