<:-.wrap "admin/base.tmpl", "title": "Show Template", "classes": "preview toolbar" :>
<:-.set template_id = "template id".evaltag :>
<header>
  <nav data-role="toolbar">
    <a href="<:= cfg.admin_url("pregen"):>" accesskey="," title="AccessKey = ," data-icon="back" data-icon-only="true" class="button">Back</a>
    <:-.if request.user_can("bse_regen_extras"):>
    <a href="<:= cfg.admin_url("generate", { "id": ("extra:" _ template_id ), "m": 1, "r": cfg.admin_url2("pregen", "show", { "template": template_id }) }) :>" accesskey="r" title="AccessKey = r" data-icon="regen" data-icon-only="true" class="button">Regenerate</a>
    <:-.end if:>
    <a href="<:= cfg.admin_url2("pregen", "display", { "template": template_id }) :>" accesskey="u" title="AccessKey = u" data-icon="refresh"  data-icon-only="true" target="workarea" class="button">Refresh</a>
    <span class="button selected">Preview: <:= template_id:></span>
  </nav>
</header>
<div id="preview" class="preview">
  <iframe src="<:= cfg.admin_url2("pregen", "display", { "template": template_id }) :>" name="workarea">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>