<:wrap admin/base.tmpl title=>"New User File" :>
<div class="window dialog">
  <h1><:param title:></h1>
  <form action="<:script:>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<:siteuser id:>" />
    <:csrfp admin_user_add_file hidden:>
    <input name="r" type="hidden" value="<:cgi r:>" />
    <fieldset>
      <legend>Resource</legend>
      <div>
        <label for="file">File <span class="required">*</span> <:error_img file:></label>
        <span>
          <input type="file" name="file" id="file" accesskey="f" title="AccessKey = f" required="required" autofocus="autofocus" class="<:ifError_img file:>error<:or:><:eif:>" />
          <:help editsiteuser file:>
        </span>
      </div>
      <div>
        <label for="category">Category <:error_img category:></label>
        <span>
          <:replace [userfile_category] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":>
          <:help editsiteuser category:>
        </span>
      </div>
      </fieldset>
      <fieldset>
      <legend>Content</legend>
       <div>
        <label for="title">Description <:error_img title:></label>
        <span>
          <input type="text" name="title" id="title" value="<:old title:>" class="<:ifError_img title:>error<:or:><:eif:>" />
          <:help editsiteuser title:>
        </span>
      </div>
      <div>
        <label for="body">Notes <:error_img body:></label>
        <span>
          <textarea name="body" id="body" class="<:ifError_img body:>error<:or:><:eif:>"><:old body:></textarea>
          <:help editsiteuser body:>
        </span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Last Modified</legend>
      <div>
        <label for="modwhen_date">Date <:error_img modwhen_date:></label>
        <span>
          <input type="text" name="modwhen_date" id="modwhen_date" value="<:old modwhen_date:>" placeholder="DD/MM/YYYY" class="<:ifError_img modwhen_date:>error<:or:><:eif:>" />
          <:help editsiteuser modwhen_date:>
        </span>
      </div>
       <div>
        <label for="modwhen_time">Time <:error_img modwhen_time:></label>
        <span>
          <input type="text" name="modwhen_time" id="modwhen_time" value="<:old modwhen_time:>" placeholder="HH:MM:SS" class="<:ifError_img modwhen_time:>error<:or:><:eif:>" />
          <:help editsiteuser modwhen_time:>
        </span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Properties</legend>
      <div>
        <label for="content_type">Content type <:error_img content_type:></label>
        <span>
          <input type="text" name="content_type" id="content_type" value="<:old content_type:>" placeholder="MIME format" class="<:ifError_img content_type:>error<:or:><:eif:>" />
          <:help editsiteuser content_type:>
        </span>
      </div>
      <div>
        <label for="download">Force download <:error_img download:></label>
        <span>
          <input type="checkbox" name="download" id="download" value="1" <:ifOld download:>checked="checked" <:or:><:eif:>/>
          <:help editsiteuser download:>
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:referer:><:case default:><:script:>?a_edit=1&amp;id=<:siteuser id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button gray">Cancel</a>
      <:if UserCan bse_members_user_add_file:>
      <input type="submit" name="a_adduserfile" value="Upload file" accesskey="u" title="AccessKey = u" class="button green" />
      <:or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>