<:wrap admin/base.tmpl title=>"Edit Site User File" :>
<div class="window dialog">
  <h1><:param title:></h1>
  <nav data-role="toolbar">
    <:- if UserCan bse_members_user_del_file:>
    <a href="<:script:>?a_deluserfile=1&amp;id=<:siteuser id:>&amp;file_id=<:userfile id:>&amp;_csrfp=<:csrfp admin_user_del_file:>" accesskey="d" title="AccessKey = d" onclick="return window.confirm('Are you sure you want to delete this File?')" data-icon="delete" class="button">Delete</a>
    <:- or UserCan:>
    <a  data-icon="delete" class="button disabled">Delete</a>
    <:- eif UserCan:>
  </nav>
  <form action="<:script:>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<:siteuser id:>" />
    <input type="hidden" name="file_id" value="<:userfile id:>" />
    <:csrfp admin_user_edit_file hidden:>
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Resource</legend>
      <div>
        <label for="file">Change file <:error_img file:></label>
        <span>
          <input type="file" name="file" id="file" accesskey="f" title="AccessKey = f" class="<:ifError_img file:>error<:or:><:eif:>" />
          <:help editsiteuser file:>
        </span>
      </div>
      <div>
        <label for="category">Category <:error_img userfile_category:></label>
        <span>
          <:replace [userfile_category] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":>
          <:help editsiteuser userfile_category:>
        </span>
      </div>
      <div>
        <label>Original</label>
        <span>
          <:userfile display_name:>
        </span>
      </div>
      <div>
        <label>Size</label>
        <span>
          <:arithmetic d1:([userfile size_in_bytes] / 1024):>kB
        </span>
      </div>
    </fieldset>
    <details>
      <summary>More attributes</summary>
      <fieldset>
        <legend>Content</legend>
         <div>
          <label for="title">Description <:error_img title:></label>
          <span>
            <input type="text" name="title" id="title" value="<:old title userfile title:>" class="<:ifError_img title:>error<:or:><:eif:>" />
            <:help editsiteuser title:>
          </span>
        </div>
        <div>
          <label for="body">Notes <:error_img body:></label>
          <span>
            <textarea name="body" id="body" class="<:ifError_img body:>error<:or:><:eif:>"><:old body userfile body:></textarea>
            <:help editsiteuser body:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Last Modified</legend>
        <div>
          <label for="modwhen_date">Date <span class="required">*</span> <:error_img modwhen_date:></label>
          <span>
            <input type="text" name="modwhen_date" id="modwhen_date" value="<:old modwhen_date date "%d/%m/%Y" userfile modwhen:>" placeholder="DD/MM/YYYY" required="required" class="<:ifError_img modwhen_date:>error<:or:><:eif:>" />
            <:help editsiteuser modwhen_date:>
          </span>
        </div>
         <div>
          <label for="modwhen_time">Time <span class="required">*</span> <:error_img modwhen_time:></label>
          <span>
            <input type="text" name="modwhen_time" id="modwhen_time" value="<:old modwhen_time date "%H:%M:%S" userfile modwhen:>" placeholder="HH:MM:SS" required="required" class="<:ifError_img modwhen_time:>error<:or:><:eif:>" />
            <:help editsiteuser modwhen_time:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Properties</legend>
        <div>
          <label for="content_type">Content type <span class="required">*</span> <:error_img content_type:></label>
          <span>
            <input type="text" name="content_type" id="content_type" value="<:old content_type userfile content_type:>" required="required" class="<:ifError_img content_type:>error<:or:><:eif:>" />
            <:help editsiteuser content_type:>
          </span>
        </div>
        <div>
          <label for="download">Force download <:error_img download:></label>
          <span>
            <input type="checkbox" name="download" id="download" value="1" <:ifOr [old download] [userfile download]:>checked="checked" <:or:><:eif:>/>
            <:help editsiteuser download:>
          </span>
        </div>
      </fieldset>
    </details>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:referer:><:case default:><:script:>?a_edit=1&amp;id=<:siteuser id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button gray">Done</a>
      <:- if UserCan bse_members_user_edit_file:>
      <input type="submit" name="a_saveuserfile" value="Save changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>