<:wrap admin/base.tmpl title=>"Edit Site Group" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <nav data-role="toolbar">
      <ul class="menu context">
        <li><a href="#" data-icon="action" data-icon-only="true" class="button">Actions</a>
          <ul>
            <:- if UserCan bse_members_group_add_file:>
            <li><a href="<:script:>?a_addgroupfileform=1&amp;id=<:group id:>" accesskey="f" title="AccessKey = f">New File…</a></li>
            <:- or UserCan:><:eif UserCan:>      
            <:- if UserCan bse_members_group_delete:>
            <li class="divider"></li>
            <li><a href="<:script:>?a_deletegroup=1&amp;id=<:group id:>" accesskey="d" title="AccessKey = d" data-action="delete" data-object="Group">Delete</a></li>
            <:- or UserCan:>
            <li class="disabled"><span>Delete</span></li>
            <:- eif UserCan:>
          </ul>
        </li>
      </ul>
      <span data-role="controlgroup">
        <:- if UserCan bse_members_user_list:>
        <a href="<:script:>" class="button">Users</a>
        <:- or UserCan:><:eif UserCan:>
        <:- if UserCan bse_members_group_list:>
        <a href="<:script:>?a_grouplist=1" class="button active">Groups</a>
        <:- or UserCan:><:eif UserCan:>
      </span>
      <span data-role="controlgroup">
        <a href="<:script:>?a_editgroup=1&amp;id=<:group id:>" class="button selected">Group</a>
        <:- if UserCan bse_members_user_list:>
        <a href="<:script:>?a_groupmemberform=1&amp;id=<:group id:>" class="button">Members</a>
        <:- or UserCan:><:eif UserCan:>
      </span>
      <:- if UserCan bse_members_group_delete:>
      <a href="<:script:>?a_deletegroup=1&amp;id=<:group id:>" accesskey="d" title="AccessKey = d" data-action="delete" data-object="Group" data-icon="delete" class="button">Delete</a>
      <:- or UserCan:>
      <a  data-icon="delete" class="button disabled">Delete</a>
      <:- eif UserCan:>
    </nav>
  </header>
  <form action="<:script:>" method="post" data-object="Group">
    <input type="hidden" name="id" value="<:group id:>" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Group</legend>
      <div>
        <label for="name">Name <span class="required">*</span> <:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name group name:>" required="required" class="<:ifError_img name:>error<:or:><:eif:>" />
          <:help editsiteuser name:>
        </span>
      </div>
    </fieldset>
    <!--
    <:- if UserCan bse_members_user_list:>
    <:- if Siteusers:>
    <fieldset>
    <legend>Members</legend>
      <ul>
        <:- iterator begin siteusers:>
        <li>
          <input type="hidden" name="set_is_member" value="<:siteuser id:>" />
          <input type="checkbox" name="is_member" id="userid_<:siteuser id:>" value="<:siteuser id:>" <:ifMember:>checked="checked" <:or:><:eif:>/>
          <label for="userid_<:siteuser id:>"><a href="<:script:>?a_edit=1&amp;id=<:siteuser id:>"><:siteuser userId:></a><:ifOr [siteuser name1] [siteuser name2]:> (<:siteuser name1:> <:siteuser name2:>)<:or:><:eif:></label>
        </li>
        <:- iterator end siteusers:>
      </ul>
    </fieldset>
    <:- or Siteusers:><:eif Siteusers:>
    <:- or UserCan:><:eif UserCan:>
    -->
    <:- if Groupfiles:>
    <fieldset>
      <legend>Files</legend>
      <ul class="children groupfiles">
        <:- iterator begin groupfiles:>
        <li>
          <a href="<:target user downufile id [groupfile id]:>" title="<:groupfile title:>"><span class="listed <:switch:><:case default:>green<:endswitch:>"></span> <:groupfile display_name:></a>
          <span>
            <:- if UserCan bse_members_group_edit_file:>
            <a href="<:script:>?a_editgroupfile=1&amp;id=<:group id:>&amp;file_id=<:groupfile id:>" class="button gray small">Edit</a>
            <:- or UserCan:>
            <a class="button gray small disabled">Edit</a>
            <:- eif UserCan:>
            <:- if UserCan bse_members_group_del_file:>
            <a href="<:script:>?a_delgroupfile=1&amp;id=<:group id:>&amp;file_id=<:groupfile id:>&amp;_csrfp=<:csrfp admin_group_del_file:>" data-action="delete" data-object="File" class="button red small">Delete</a>
            <:- or UserCan:>
            <a class="button red small disabled">Delete</a>
            <:- eif UserCan:>
          </span>
        </li>
        <:- iterator end groupfiles:>
      </ul>
    </fieldset>
    <:- or Groupfiles:><:eif Groupfiles:>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:replace [referer] "&amp;referer=1":><:case default:><:script:>?a_grouplist=1<:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:- if UserCan bse_members_group_edit:>
      <input type="submit" name="a_savegroup" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>