<:wrap admin/base.tmpl title=>"Manage Site Groups" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <nav data-role="toolbar">
      <:- if Or [ifUserCan bse_members_user_add] [ifUserCan bse_members_group_add]:>
      <ul class="menu context">
        <li><a href="#" data-icon="action" data-icon-only="true" class="button">Actions</a>
          <ul>
            <:- if UserCan bse_members_user_add:>
            <li><a href="<:script:>?a_addform=1" accesskey="u" title="AccessKey = u">New Site User…</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_members_group_add:>
            <li class="divider"></li>
            <li><a href="<:script:>?a_addgroupform=1" accesskey="g" title="AccessKey = g">New Site Group…</a></li>
            <:- or UserCan:><:eif UserCan:>
          </ul>
        </li>
      </ul>
      <:- or Or:><:eif Or:>
      <span data-role="controlgroup">
        <:- if UserCan bse_members_user_list:>
        <a href="<:script:>" class="button">Users</a>
        <:- or UserCan:><:eif UserCan:>
        <:- if UserCan bse_members_group_list:>
        <a href="<:script:>?a_grouplist=1" class="button selected">Groups</a>
        <:- or UserCan:><:eif UserCan:>
      </span>
    </nav>
  </header>
  <:- if Groups:>
  <fieldset class="list">
    <legend>Groups</legend>
    <table class="full list">
      <thead>
        <tr>
          <th>Name</th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:- iterator begin groups:>
        <tr>
          <td><:group name:></td>
          <td class="actions">
            <a href="<:script:>?a_editgroup=1&amp;id=<:group id:>" class="button gray small">Edit</a>
            <:- if UserCan bse_members_group_delete:>
            <a href="<:script:>?a_deletegroup=1&amp;id=<:group id:>" data-action="Delete" data-object="Group" class="button red small">Delete</a>
            <:- or UserCan:>
            <a class="button red small disabled">Delete</a>
            <:- eif UserCan:>
          </td>
        </tr>
        <:- iterator end groups:>
      </tbody>
    </table>
  </fieldset>
  <:- or Groups:>
  <fieldset>
    <legend>Groups</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" /></p>
      <p>No site groups to display</p>
      <:- if UserCan bse_members_group_add:>
      <p><a href="<:script:>?a_addgroupform=1&amp;referer=1" data-icon="add" class="button white">New Site Group…</a></p>
      <:- or UserCan:><:eif UserCan:>
    </div>
  </fieldset>
  <:- eif Groups:>
</div>