<:-.wrap "admin/base.tmpl", "title": "Manage Site Users" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <:-.if request.user_can("bse_members_user_add") or request.user_can("bse_members_group_add"):>
      <ul class="menu context">
        <li><a href="#" data-icon="action+" data-icon-only="true" class="button">Actions</a>
          <ul>
            <:-.if request.user_can("bse_members_user_add"):>
            <li><a href="<:= cfg.admin_url2("siteusers", "addform"):>" accesskey="u" title="AccessKey = u">New Site User…</a></li>
            <:-.end if:>
            <:-.if request.user_can("bse_members_group_add"):>
            <li class="divider"></li>
            <li><a href="<:= cfg.admin_url2("siteusers", "addgroupform"):>" accesskey="g" title="AccessKey = g">New Site Group…</a></li>
            <:-.end if:>
          </ul>
        </li>
      </ul>
      <:-.end if:>
      <span data-role="controlgroup">
        <:-.if request.user_can("bse_members_user_list"):>
        <a href="<:= cfg.admin_url("siteusers"):>" class="button selected">Users</a>
        <:-.end if:>
        <:-.if request.user_can("bse_members_group_list"):>
        <a href="<:= cfg.admin_url2("siteusers", "grouplist"):>" class="button">Groups</a>
        <:-.end if:>
      </span>
    </nav>
  </header>
  <form action="<:= cfg.admin_url("siteusers"):>" method="post">
    <input type="hidden" name="s" value="<:= cgi.param("s"):>" />
    <input type="hidden" name="r" value="<:= cgi.param("r"):>" />
    <fieldset>
      <legend>Filter users</legend>
      <div class="field">
        <label class="field-label" for="userId"><:cfg "site users" display_userid "Username":></label>
        <span class="field-input">
          <input type="text" name="userId" id="userId" value="<:= cgi.param("userId"):>" />
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="name1"><:cfg "site users" display_name1 "First Name":></label>
        <span class="field-input">
          <input type="text" name="name1" id="name1" value="<:= cgi.param("name1"):>" />
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="name2"><:cfg "site users" display_name2 "Last Name":></label>
        <span class="field-input">
          <input type="text" name="name2" id="name2" value="<:= cgi.param("name2"):>" />
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="organization"><:cfg "site users" display_organization "Organisation Name":></label>
        <span class="field-input">
          <input type="text" name="organization" id="organization" value="<:= cgi.param("organization"):>" />
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="email"><:cfg "site users" display_email "Email Address":></label>
        <span class="field-input">
          <input type="text" name="email" id="email" value="<:= cgi.param("email"):>" />
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="disabled"><:cfg "site users" display_enabled "Disabled":></label>
        <span class="field-input">
          <input type="checkbox" name="disabled" id="disabled" value="1" <:-= cgi.param("disabled") ? ' checked="checked"' : '' -:> />
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="pp">Per Page</label>
        <span class="field-input">
          <select name="pp" id="pp">
            <option value="-1"<:ifEq [siteusers_perpage] "-1":> selected="selected"<:eif:>>All users</option>
            <option value="1000"<:ifEq [siteusers_perpage] "1000":> selected="selected"<:eif:>>1000</option>
            <option value="500"<:ifEq [siteusers_perpage] "500":> selected="selected"<:eif:>>500</option>
            <option value="100"<:ifEq [siteusers_perpage] "100":> selected="selected"<:eif:>>100</option>
            <option value="50"<:ifEq [siteusers_perpage] "50":> selected="selected"<:eif:>>50</option>
            <option value="20"<:ifEq [siteusers_perpage] "20":> selected="selected"<:eif:>>20</option>
            <option value="15"<:ifEq [siteusers_perpage] "15":> selected="selected"<:eif:>>15</option>
            <option value="10"<:ifEq [siteusers_perpage] "10":> selected="selected"<:eif:>>10</option>
            <option value="5"<:ifEq [siteusers_perpage] "5":> selected="selected"<:eif:>>5</option>
          </select>
        </span>
      </div>
      <p class="buttons">
        <input type="submit" value="Update filter"  accesskey="u" title="AccessKey = u" class="button blue" />
      </p>
    </fieldset>
  </form>
  <:-.set siteusers = bse.paged(siteusers) :>
  <:-.if siteusers.size:>
  <fieldset>
    <legend>Users</legend>
    <table class="full list">
      <thead>
        <tr>
          <th><a href="<:script:>?<:sorthelp userId:>&amp;p=<:siteusers_pagenum:>&amp;pp=<:siteusers_perpage:>&amp;<:search_param:>"><:cfg "site users" display_userid "Username":></a></th>
          <th><a href="<:script:>?<:sorthelp name1:>&amp;p=<:siteusers_pagenum:>&amp;pp=<:siteusers_perpage:>&amp;<:search_param:>"><:cfg "site users" display_name1 "First Name":></a></th>
          <th><a href="<:script:>?<:sorthelp name2:>&amp;p=<:siteusers_pagenum:>&amp;pp=<:siteusers_perpage:>&amp;<:search_param:>"><:cfg "site users" display_name2 "Last Name":></a></th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:-.for siteuser in siteusers.items:>
        <tr <:-.if siteuser.locked_out:> class="warning"<:.end if:>>
          <td><:= siteuser.userId:></td>
          <td><:= siteuser.name1:></td>
          <td><:= siteuser.name2:></td>
          <td class="actions">
            <:-.if request.user_can("bse_members_user_view") or request.user_can("bse_members_user_edit") :>
            <a href="<:= cfg.admin_url2("siteusers", "edit", { "id":siteuser.id }):>" class="button white small">Edit</a>
            <:-.else:>
            <a class="button white small disabled">Edit</a>
            <:-.end if:>
            <:-.if request.user_can("bse_members_user_delete") :>
            <a href="<:= cfg.admin_url2("siteusers", "delete", { "id":siteuser.id, "_csrfp":request.get_csrf_token("admin_siteuser_delete"), "r":cfg.admin_url("siteusers") }):>" data-action="Delete" data-object="User" class="button red small">Delete</a>
            <:-.else:>
            <a class="button red small disabled">Delete</a>
            <:-.end if:>
          </td>
        </tr>
        <:-.end for:>
      </tbody>
    </table>
  </fieldset>
  <:-.call "page_list", "base":cfg.admin_url("siteusers"), "pages":siteusers :>
  <:-.else:>
  <fieldset>
    <legend>Users</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No site users to display</p>
      <:- if UserCan bse_members_user_add:>
      <p><a href="<:script:>?a_addform=1&amp;referer=1" data-icon="add" class="button white">New Site User…</a></p>
      <:- eif UserCan:>
    </div>
  </fieldset>
  <:-.end if:>
</div>