      <:-.if custom.size :>
      <fieldset>
        <legend><:= cfg.entry("article custom fields", "legend", "Custom") :></legend>
        <:-.for f in custom.list:>
        <div>
          <label for="<:= f.key :>"><:= f.value.description :> <:-.call "error_img", "field":f.key -:></label>
          <span>
            <:-.if f.value.htmltype eq "select" :>
            <:-# the field config code uses an older mechanism, translate :>
            <:-.set list = [] -:>
            <:-.set baselist = f.value["values"] -:>
            <:-.for i in baselist :>
              <:-% list.push({ "id": i[0], "label": i[1] }) :>
            <:-.end for :>
            <:.call "make_select", "name":f.key, "list":list, "id":"id", "desc":"label", "default":ifnew ? f.value.default : article.get(f.key) :>
            <:-.else :>
            <:-.set default = ifnew ? f.value.default : article.get(f.key) :>
            <:-.if f.value.type eq "date" and default.defined and default ne "" :>
            <:-.set default = bse.date("%d/%m/%Y", default) :>
            <:-.end if :>
            <input type="text" name="<:= f.key :>" id="<:= f.key :>" value="<:.call "old", "field":f.key, "default":default :>" placeholder="<:= f.value.placeholder :>" class="<:.if request.field_errors[f.key]:>error<:.end if:>" />
            <:-.end if :>
          </span>
        </div>
        <:-.end for:>
      </fieldset>
      <:-.end if :>