  <nav data-role="toolbar">
    <ul class="menu context">
      <li><a href="#" data-icon="action" data-icon-only="true" class="button">Actions</a>
        <ul>
          <:- if UserCan bse_edit_add_child:[catalog id]:>
          <li><a href="<:adminurl add:>?parentid=<:catalog id:>&amp;type=Product&amp;r=<:adminurl shopadmin:>%23catalog<:catalog id:>" accesskey="p" title="AccessKey = p">New Product…</a></li>
          <li><a href="<:adminurl add:>?parentid=<:catalog id:>&amp;type=Catalog&amp;r=<:adminurl shopadmin:>%23catalog<:catalog id:>" accesskey="c" title="AccessKey = c">New Catalog…</a></li>
          <:- if Cfg seminars enabled:>
          <li><a href="<:adminurl add:>?parentid=<:catalog id:>&amp;type=Seminar&amp;r=<:adminurl shopadmin:>%23catalog<:catalog id:>" accesskey="s" title="AccessKey = s">New Seminar…</a></li>
          <:- or Cfg:><:eif Cfg:>
          <:- or UserCan:><:eif UserCan:>
          <li class="divider"></li>
          <:- if UserCan bse_regen_article:catalog:>
          <li><a href="<:adminurl generate:>?id=<:catalog id:>&amp;r=<:adminurl shopadmin:>%3Fid=<:catalog id:>%26m=Catalog%20regenerated" accesskey="r" title="AccessKey = r">Regenerate</a></li>
          <:- or UserCan:><:eif UserCan:>
          <li><a href="<:adminurl add:>?id=<:catalog id:>&amp;preview=1">Preview</a></li>
          <li class="divider"></li>
          <:- if UserCan bse_edit_delete_article:[catalog id]:>
          <li><a href="<:adminurl add:>?id=<:catalog id:>&amp;remove=1&amp;_csrfp=<:csrfp admin_remove_article:>&amp;r=<:adminurl shopadmin:>%23catalog<:catalog parentid:>" data-action="Delete" data-object="Catalog">Delete</a></li>
          <:- or UserCan:>
          <li class="disabled"><span>Delete</span></li>
          <:- eif UserCan:>
        </ul>
      </li>
    </ul>
    <a href="<:adminurl add:>?id=<:catalog id:>&amp;r=<:adminurl shopadmin:>" title="Edit Parent" data-icon="back" data-icon-only="true" class="button">Parent</a>
    <a href="<:adminurl add:>?id=<:catalog id:>&amp;preview=1" title="Preview Catalog" data-icon="preview" class="button">Preview</a>
  </nav> 
  <:- if Products:>
  <fieldset class="list">
    <legend>Products</legend>
    <:- if UserCan bse_edit_reorder_children:[catalog id]:>
    Sort by:
    <ul class="meta group">
      <li><a href="<:adminurl reorder:>?stepparent=<:catalog id:>&amp;sort=title&amp;refreshto=<:adminurl shopadmin:>%3Fm=Products%2Bsorted%2Bby%2Btitle%23catalog<:catalog id:>">title</a></li>
      <li><a href="<:adminurl reorder:>?stepparent=<:catalog id:>&amp;sort=id&amp;refreshto=<:adminurl shopadmin:>%3Fm=Products%2Bsorted%2Bby%2Bdate%23catalog<:catalog id:>">date</a></li>
      <li><a href="<:adminurl reorder:>?stepparent=<:catalog id:>&amp;sort=listed&amp;refreshto=<:adminurl shopadmin:>%3Fm=Products%2Bsorted%2Bby%2Blisted%23catalog<:catalog id:>">listed</a></li>
      <li><a href="<:adminurl reorder:>?stepparent=<:catalog id:>&amp;reverse=1&amp;refreshto=<:adminurl shopadmin:>%3Fm=Products%2Bsorted%2Bin%2Breverse%23catalog<:catalog id:>">reverse</a></li>
    </ul>
    <:- or UserCan:><:eif UserCan:>
    <table class="full">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Product Code</th>
          <th>Retail</th>
          <th><!-- Actions --></th>
        </tr>
      </thead>
      <tbody>
        <:- iterator begin products:>
        <tr>
          <td><:product id:></td>
          <td><span class="listed <:switch:><:case Arithmetic [date "%Y%m%d" product release] > [today "%Y%m%d"]:>gray<:case Arithmetic [today "%Y%m%d"] > [date "%Y%m%d" product expire]:>red<:case Eq [product listed] 0 :>gray<:case Eq [product listed] 2 :>orange<:case default:>green<:endswitch:>"></span> <a href="<:adminurl add:>?id=<:product id:>&amp;preview=1"><:product title:></a></td>
          <td><:product product_code:></td>
          <td><:cfg shop currency "$":><:number money [product retailPrice]:></td>
          <td class="actions">
            <a href="<:adminurl add:>?id=<:product id:>&amp;r=<:adminurl shopadmin:>%23catalog<:catalog id:>" class="button gray small">Edit</a>
            <:- if UserCan bse_edit_delete_article:product:>
            <a href="<:adminurl add:>?id=<:product id:>&amp;remove=1&amp;_csrfp=<:csrfp admin_remove_article:>&amp;r=<:adminurl shopadmin:>%23catalog<:catalog id:>" data-action="Delete" data-object="Product" class="button red small">Delete</a>
            <:- or UserCan:>
            <a class="button red small disabled">Delete</a>
            <:- eif UserCan:>
            <!--:move:-->
          </td>
        </tr>
        <:- iterator end products:>
      </tbody>
    </table>
  </fieldset>
  <:- or Products:>
  <fieldset>
    <legend>Products</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" /></p>
      <p>No products to display</p>
      <:- if UserCan bse_edit_add_child:[catalog id]:>
      <p>
        <a href="<:adminurl add:>?parentid=<:catalog id:>&amp;type=Catalog&amp;r=<:adminurl shopadmin:>%23catalog<:catalog id:>" data-icon="add" class="button white">New Catalog…</a>
        <a href="<:adminurl add:>?parentid=<:catalog id:>&amp;type=Product&amp;r=<:adminurl shopadmin:>%23catalog<:catalog id:>" data-icon="add" class="button white">New Product…</a>
        <:- if Cfg seminars enabled:>
        <a href="<:adminurl add:>?parentid=<:catalog id:>&amp;type=Seminar&amp;r=<:adminurl shopadmin:>%23catalog<:catalog id:>" data-icon="add" class="button white">New Seminar…</a>
        <:- or Cfg:><:eif Cfg:>
      </p>
      <:- or UserCan:><:eif UserCan:>
    </div>
  </fieldset>
  <:- eif Products:>
  <:- if Subcats:>
  <:- iterator begin subcats:> 
  <h2 id="catalog<:subcat id:>"><:subcat title:> <!--:movecat:--></h2>
<:embed subcat include/catalog.tmpl:>
  <:- iterator end subcats:>
  <:- or Subcats:><:eif Subcats:>