<nav id="navbar">
  <ul id="nav" class="menu global">
    <:- if FormLogon:>
    <li><a href="#"><:adminuser logon:></a>
      <ul>
        <:- if Adminuser name:>
        <li class="disabled"><span><:adminuser name:></span></li>
        <li class="divider"></li>
        <:- or Adminuser:><:eif Adminuser:>
        <li><a href="<:adminurl logon a_logoff 1:>">Log Out</a></li>
        <li><a href="<:adminurl changepw referer 1:>">Change Password</a></li>
      </ul>
    </li>
    <:- or FormLogon:><:eif FormLogon:>
    <li><a href="#">Content</a>
      <ul>
        <li><a href="#">Articles</a>
           <ul>
             <li><a href="<:adminurl add id -1:>">Manage Articles</a></li>
             <:- if UserCan bse_edit_add_child:>
             <li><a href="<:adminurl add parentid -1 level 1 referer 1:>">New Article…</a></li>
             <:- or UserCan:><:eif UserCan:>
             <li><a href="<:adminurl add _t load referer 1:>">Load Article…</a></li>
           </ul>
        </li>
        <li class="divider"></li>
        <:- if Or [ifUserCan bse_edit_save] [ifUserCan edit_images_save:-1] [ifUserCan edit_images_add:-1] [ifUserCan edit_images_delete:-1] [ifUserCan edit_images_reorder:-1]:>
        <li><a href="#">Images</a>
          <ul>
            <li><a href="<:adminurl add id -1 _t img:>">Manage Site Images</a></li>
            <:- if UserCan bse_edit_images_add:-1 :>
            <li><a href="<:adminurl add id -1 _t imgupload referer 1:>">New Site Image…</a></li>
            <:- or UserCan:><:eif UserCan:>
          </ul>
        </li>
        <:- or Or:><:eif Or:>
        <:- if Or [ifUserCan bse_edit_save] [ifUserCan edit_files_save:-1] [ifUserCan edit_files_add:-1] [ifUserCan edit_files_delete:-1] [ifUserCan edit_files_reorder:-1]:>
        <li><a href="#">Files</a>
          <ul>
            <li><a href="<:adminurl add id -1 _t file:>">Manage Site Files</a></li>
            <:- if UserCan bse_edit_files_add:-1 :>
            <li><a href="<:adminurl add id -1 _t fileupload referer 1:>">New Site File…</a></li>
            <:- or UserCan:><:eif UserCan:>
          </ul>
        </li>
        <:- or Or:><:eif Or:>
        <:- if UserCan bse_edit_save:>
        <!-- FIXME: find correct permission name -->
        <li><a href="#">Tags</a>
          <ul>
            <li><a href="<:adminurl add id -1 a_tags 1:>">Manage Site Tags</a></li>
            <li><a href="<:adminurl add id -1 a_tagcats 1:>">Manage Tag Dependencies</a></li>
          </ul>
        </li>
        <:- or UserCan:><:eif UserCan:>
        <li class="divider"></li>
        <:- if Or [ifUserCan bse_regen_all] [ifUserCan bse_regen_extras] [ifUserCan bse_makeindex]:>
        <li><a href="#">Regenerate</a>
          <ul>
            <:- if UserCan bse_regen_all:>
            <li><a href="<:adminurl generate progress 1:>">All Site Pages</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_regen_extras:>
            <li><a href="<:adminurl generate id extras progress 1:>">Extra System Pages</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_makeindex:>
            <li class="divider"></li>
            <li><a href="<:adminurl makeIndex verbose 1:>">Search Index</a></li>
            <:- or UserCan:><:eif UserCan:>
          </ul>
        </li>
        <:- or Or:><:eif Or:>
        <li><a href="<:adminurl add id 1 preview 1:>">Preview</a></li>
      </ul>
    </li>
    <:- switch:>
    <:- case Or [ifUserCan bse_members_user_list] [ifUserCan bse_members_user_add] [ifUserCan bse_siteuser_edit] [ifUserCan bse_siteuser_export] [ifUserCan bse_members_group_list] [ifUserCan bse_members_group_add] [ifUserCan bse_members_file_log] [ifUserCan bse_admin_user_list] [ifUserCan bse_admin_user_add] [ifUserCan bse_admin_group_list] [ifUserCan bse_admin_group_add]:>
    <li><a href="#">Users</a>
      <ul>
        <:- if Or [ifUserCan bse_members_user_list] [ifUserCan bse_members_user_add] [ifUserCan bse_members_user_view] [ifUserCan bse_siteuser_edit] [ifUserCan bse_siteuser_export] [ifUserCan bse_members_group_list] [ifUserCan bse_members_group_add] [ifUserCan bse_members_file_log]:>
        <li><a href="#">Site Users</a>
          <ul>
            <:- if UserCan bse_members_user_list:>
            <li><a href="<:adminurl siteusers:>">Manage Site Users</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_members_user_add:>
            <li><a href="<:adminurl siteusers a_addform 1 referer 1:>">New Site User…</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_members_user_view:>
            <li><a href="<:adminurl siteusers _t load referer 1:>">Load Site User…</a></li>
            <:- or UserCan:><:eif UserCan:>
            <li class="divider"></li>
            <:- if UserCan bse_members_group_list:>
            <li><a href="<:adminurl siteusers a_grouplist 1:>">Manage Site Groups</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_members_group_add:>
            <li><a href="<:adminurl siteusers a_addgroupform 1:>">New Site Group…</a></li>
            <:- or UserCan:><:eif UserCan:>
            <li class="divider"></li>
            <:- if And [ifUserCan bse_siteuser_edit] [ifCfgsection "siteuser updates"]:>
            <li><a href="<:adminurl userupdate referer 1:>">Import Site User Data…</a></li>
            <:- or And:><:eif And:>
            <:- if UserCan bse_siteuser_export:>
            <li><a href="<:adminurl menu _t export referer 1:>">Export Site User Data…</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if And [ifUserCan bse_members_file_log] [cfg download log_downuload]:>
            <li class="divider"></li>
            <li><a href="<:adminurl siteusers a_fileaccesslog 1:>">Downloads Activity Log</a></li>
            <:- or And:><:eif And:>
          </ul>
        </li>
        <:- or Or:><:eif Or:>
        <:- if Or [ifUserCan bse_admin_user_list] [ifUserCan bse_admin_user_add] [ifUserCan bse_admin_group_list] [ifUserCan bse_admin_group_add]:>
        <li><a href="#">Admin Users</a>
          <ul>
            <:- if UserCan bse_admin_user_list:>
            <li><a href="<:adminurl adminusers:>">Manage Admin Users</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_admin_user_add:>
            <li><a href="<:adminurl adminusers a_adduserform 1 referer 1:>">New Admin User…</a></li>
            <:- or UserCan:><:eif UserCan:>
            <li class="divider"></li>
            <:- if UserCan bse_admin_group_list:>
            <li><a href="<:adminurl adminusers a_groups 1:>">Manage Admin Groups</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_admin_group_add:>
            <li><a href="<:adminurl adminusers a_addgroupform 1 referer 1:>">New Admin Group…</a></li>
            <:- or UserCan:><:eif UserCan:>
          </ul>
        </li>
        <:- or Or:><:eif Or:>
      </ul>
    </li>
    <:- endswitch:>
    <:- switch:>
    <:- case Or [ifUserCan bse_edit_add_child:3] [ifUserCan bse_shop_order_list]:>
    <li><a href="#">Shop</a>
      <ul>
        <:- if UserCan bse_edit_add_child:3:>
        <li><a href="#">Products</a>
          <ul>
            <li><a href="<:adminurl shopadmin:>">Manage Products</a></li>
            <li><a href="<:adminurl add parentid 3 type Product referer 1:>">New Product…</a></li>
            <li><a href="<:adminurl add parentid 3 type Catalog referer 1:>">New Catalog…</a></li>
          </ul>
        </li>
        <:- or UserCan:><:eif UserCan:>
        <:- if Or [ifUserCan bse_subscr_list] [ifUserCan bse_subscr_edit] [ifUserCan bse_subscr_add] [ifUserCan bse_subscr_detail] [ifUserCan bse_subscr_update]:>
        <li><a href="#">Subscriptions</a>
          <ul>
            <li><a href="<:adminurl subadmin:>">Manage Subscriptions</a></li>
            <:- if UserCan bse_subscr_add:>
            <li><a href="<:adminurl subadmin a_addform 1 referer 1:>">New Subscription…</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_subscr_update:>
            <li class="divider"></li>
            <li><a href="<:adminurl subadmin a_update 1:>">Update Expiry Dates</a></li>
            <:- or UserCan:><:eif UserCan:>
          </ul>
        </li>
        <:- or Or:><:eif Or:>
        <:- if Or [ifUserCan bse_shop_order_list] [ifUserCan bse_shop_order_detail]:>
        <li><a href="#">Orders</a>
          <ul>
            <:- if UserCan bse_shop_order_list:>
            <li><a href="<:adminurl shopadmin order_list 1:>">Manage Orders</a></li>
            <:- or UserCan:><:eif UserCan:>
            <:- if UserCan bse_shop_order_detail:>
            <li><a href="<:adminurl shopadmin order_list 1 template order_load referer 1:>">Load Order…</a></li>
            <:- or UserCan:><:eif UserCan:>
          </ul>
        </li>
        <:- or Or:><:eif Or:>
      </ul>
    </li>
    <:- endswitch:>
    <li><a href="#">System</a>
      <ul>
        <li class="disabled"><span><:release:></span></li>
        <li class="divider"></li>
        <:- if UserCan bse_log_list:>
        <li><a href="<:adminurl log:>">System Activity Log</a></li>
        <:- or UserCan:><:eif UserCan:>
        <:- if UserCan bse_reports_list:>
        <!-- FIXME: this is not a real permission name -->
        <li><a href="<:adminurl report:>">System Reports</a></li>
        <:- or UserCan:><:eif UserCan:>
        <:- if Or [ifUserCan bse_back_start] [ifUserCan bse_back_stop] [ifUserCan bse_back_detail]:>
        <li><a href="<:adminurl backmon:>">Background Processing</a>
        <:- or Or:><:eif Or:>
        <:- if UserCan bse_modules:>
        <li><a href="<:adminurl modules:>">Check Module Versions</a></li>
        <:- or UserCan:><:eif UserCan:>
        <:- if UserCan bse_regen_extras:>
        <li><a href="<:adminurl pregen:>">Preview Pregenerated Pages</a></li>
        <:- or UserCan:><:eif UserCan:>
        <:- if Or [ifUserCan bse_msg_view] [ifUserCan bse_msg_save]  [ifUserCan bse_msg_delete]:>
        <li><a href="<:adminurl messages:>">Manage System Messages</a></li>
        <:- or Or:><:eif Or:>
      </ul>
    </li>
  </ul>
</nav>