  <fieldset>
    <legend><:= title:></legend>
    <table class="list full">
      <thead>
        <tr>
          <th>When</th>
          <th>Level</th>
          <th>Message</th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:-.for auditentry in log:>
        <tr class="<:= auditentry.level_name:>">
          <td><:= bse.date("%d-%b-%Y / %r", auditentry.when_at):></td>
          <td><:= auditentry.level_name:></td>
          <td><:= auditentry.msg:></td>
          <td class="actions">
            <:-.if request.user_can("bse_log_detail"):>
            <a href="<:= cfg.admin_url2("log", "detail", { "id":auditentry.id, "referer":1 }):>" class="button gray small">Details</a>
            <:-.end if:>
          </td>
        </tr>
        <:-.end for:>
      </tbody>
    </table>
  </fieldset>