<:-.set cgi_t = cgi.param("_t") -:>
<:-.set cgi_tree = cgi.param("tree") -:>
<:-.set article_id = bse.site.id -:>
<:-.set refresh = cfg.admin_url("add", { "id": article_id, "_t": cgi_t, "tree": cgi_tree }) :>
    <nav data-role="toolbar">
      <ul class="menu context">
        <li><a href="#" data-icon="action+" data-icon-only="true" class="button">Actions</a>
          <ul>
            <:- if UserCan bse_edit_add_child:article:>
            <li><a href="<:script:>?parentid=<:article id:>&amp;type=Article&amp;referer=1" accesskey="a" title="AccessKey = a">New Site Article…</a></li>
            <:- eif UserCan:>
            <li class="divider"></li>
            <:- if UserCan bse_edit_images_add:article:>
            <li><a href="<:script:>?id=<:article id:>&amp;_t=imgupload&amp;referer=1" accesskey="i" title="AccessKey = i">New Site Image…</a></li>
            <:- eif UserCan:>
            <:- if UserCan bse_edit_files_add:article:>
            <li><a href="<:script:>?id=<:article id:>&amp;_t=fileupload&amp;referer=1" accesskey="f" title="AccessKey = f">New Site File…</a></li>
            <:- eif UserCan:>
            <li class="divider"></li>
            <li><a href="<:script:>?id=<:article id:>&amp;tree=<:cond [cgi tree] 0 1 :>" accesskey="/" title="AccessKey = /"><:cond [cgi tree] Hide Show:> Descendants</a></li>
            <li class="divider"></li>
            <li><a href="<:script:>?id=<:cond [article parentid] [article id] 1:>&amp;preview=1" accesskey="y" title="AccessKey = y">Preview</a></li>
          </ul>
        </li>
      </ul>
      <a href="<:script:>?id=<:cond [article parentid] [article id] 1:>&amp;preview=1" accesskey="y" title="AccessKey = y" data-icon="preview" data-icon-only="true" class="button">Preview</a>
      <a href="<:script:>?id=<:article id:>&amp;tree=<:cond [cgi tree] 0 1 :>" class="button <:cond [cgi tree] active:>" data-icon="sitemap" data-icon-only="true">Descendants</a>
      <:- if Or [ifImages] [ifFiles]:>
      <span data-role="controlgroup">
        <a href="<:script:>?id=<:article id:>" class="button <:cond [ifEq [cgi _t] ""] selected:>">Articles</a>
        <:- if And [ifOr [ifImages] [ifEq [cgi _t] img]] [ifOr [ifUserCan bse_edit_images_save:article] [ifUserCan bse_edit_save:article]]:>
        <a href="<:script:>?id=<:article id:>&amp;_t=img" class="button <:cond [ifEq [cgi _t] img] selected:>">Images <span class="badge"><:image_count:></span></a>
        <:- eif And:>
        <:- if And [ifOr [ifFiles] [ifEq [cgi _t] file]] [ifOr [ifUserCan bse_edit_files_save:article] [ifUserCan bse_edit_save:article]]:>
        <a href="<:script:>?id=<:article id:>&amp;_t=file" class="button <:cond [ifEq [cgi _t] file] selected:>">Files <span class="badge"><:file_count:></span></a>
        <:- eif And:>
      </span>
      <:- eif Or:>
    </nav>