<:-.wrap "admin/base.tmpl", "title": "Task Detail", "nomessage": 1 :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <fieldset>
    <legend><:task description:></legend>
    <:- if Task long_desc:>
    <div>
      <label>Description</label>
      <span>
        <:task long_desc |z:>
      </span>
    </div>
    <:- eif Task:>
    <div>
      <label>Status</label>
      <span><:ifTask_running:>Running (<:task task_pid:>)<:or:>Stopped<:eif:>
      </span>
    </div>
    <:- if Task_running:><:or Task_running:>
    <div>
      <label>Result</label>
      <span>
        <:- switch:>
        <:- case Task_running:>
        Running
        <:- case Eq [task last_exit] 0:>
        Success
        <:- case default:>
        Failed <:switch:><:case Task_exit:>(Exit: <:task_exit:>)<:case Task_signal:>(Signal: <:task_signal_name:>)<:case default:>(Unknown cause)<:endswitch:>
        <:- endswitch:>
      </span>
    </div>
    <:- eif Task_running:>
    <div>
      <label>Started</label>
      <span>
        <:date "%d-%b-%Y / %r" task last_started:>
      </span>
    </div>
    <:- if Task_running:><:or Task_running:>
    <div>
      <label>Completed</label>
      <span>
        <:date "%d-%b-%Y / %r" task last_completion:>
      </span>
    </div>
    <:- eif Task_running:>
    <div class="full">
      <label>Log</label>
      <span>
        <textarea><:log:></textarea>
      </span>
    </div>
  </fieldset>
  <p class="buttons">
    <a href="<:adminurl backmon:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
    <:- if Task_running:>
    <:- if Task stoppable:>
    <a href="<:adminurl backmon a_stop 1 id [task id]:>" accesskey="x" title="AccessKey = x" class="button red">Stop task</a>
    <:- or Task:>
    <a href="<:adminurl backmon a_detail 1 id [task id]:>" accesskey="r" title="AccessKey = r" class="button blue">Refresh</a>
    <:- eif Task:>
    <:- or Task_running:>
    <a href="<:adminurl backmon a_start 1 id [task id]:>" accesskey="s" title="AccessKey = s" class="button green">Start task</a>
    <:- eif Task_running:>
  </p>
</div>