<:wrap admin/base.tmpl title=>"Background Processing" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <fieldset>
    <legend>Tasks</legend>
    <:- if Tasks:>
    <table class="full list">
      <thead>
        <tr>
          <th>Description</th>
          <th>Started</th>
          <th>Completed</th>
          <th>Result</th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:- iterator begin tasks:>
        <tr class="<:switch:><:case Task_running:>running<:case Task last_exit:>error<:endswitch:>">
          <td>
            <:- switch:>
            <:- case Task_running:>
            <span class="listed green" title="PID: <:task task_pid:>">PID: <:task task_pid:></span>
            <:- case Task last_exit:>
            <span class="listed orange" title="Failed">Failed</span>
            <:- case default:>
            <span class="listed gray" title="Not running">Not running<:task task_pid:></span>
            <:- endswitch:>
            <:task description:>
          </td>
          <td><:date "%d-%b-%Y / %r" task last_started:></td>
          <td><:ifTask_running:>–<:or:><:date "%d-%b-%Y / %r" task last_completion:><:eif:></td>
          <td><:switch:><:case Task_running:>–<:case Eq [task last_exit] "":><:case Task last_exit:>Failed<:case default:>Success<:endswitch:></td>
          <td class="actions">
            <:- if Task_running:>
            <:- if Task stoppable:>
            <a href="<:adminurl backmon a_stop 1 id [task id]:>" class="button red small">Stop</a>
            <:- or Task:>
            <a class="button green small disabled">Start</a>
            <:- eif Task:>
            <:- or Task_running:>
            <a href="<:adminurl backmon a_start 1 id [task id]:>" class="button green small">Start</a>
            <:- eif Task_running:>
            <a href="<:adminurl backmon a_detail 1 id [task id]:>" class="button gray small">Details</a>
          </td>
        </tr>
        <:- iterator end tasks:>
      </tbody>
    </table>
    <:- or Tasks:>
    <p>No tasks available.</p>
    <:- eif Tasks:>
  </fieldset>
</div>