<:wrap admin/base.tmpl title=>"New Admin Group" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
  </header>
  <form action="<:script:>" method="post">
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Group</legend>
      <div>
        <label for="name">Name <span class="required">*</span> <:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name:>" required="required" autofocus="autofocus" class="<:ifError_img name:>error<:or:><:eif:>" />
          <:help addgroup name:>
        </span>
      </div>
      <div>
        <label for="description">Description <:error_img description:></label>
        <span>
          <input type="text" name="description" id="description" value="<:old description:>" class="<:ifError_img description:>error<:or:><:eif:>" />
          <:help addgroup description:>
        </span>
      </div>
      <div>
        <label for="template_set">Template Set <:error_img template_set:></label>
        <span>
          <:replace [template_set_popup] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":>
          <:help addgroup template_set:>
        </span>
      </div>
    </fieldset>
    <!--
    <:- if Users:>
    <fieldset>
      <legend>Members <:error_img users:></legend>
      <ul>
        <:- iterator begin users:>
        <li>
          <input type="checkbox" name="users" id="user_<:iuser id:>" value="<:iuser id:>" <:ifMatch [old users] [iuser id]:>checked="checked" <:or:><:eif:>/>
          <label for="user_<:iuser id:>"><a href="<:script:>?a_showuser=1&amp;userid=<:iuser id:>"><:iuser logon:></a><:ifIuser name:> (<:iuser name:>)<:or:><:eif:></label>
        </li>
        <:- iterator end users:>
      </ul>
      <:help addgroup users:>
    </fieldset>
    <:- or Users:><:eif Users:>
    <:- if Gperms:>
    <input type="hidden" name="savegperms" value="1" />
    <fieldset>
      <legend>Permissions <:error_img gperms:></legend>
      <ul>
        <:- iterator begin gperms:>
        <li>
          <input type="checkbox" name="gperms" id="gperms_<:gperm id:>" value="<:gperm id:>" <:ifMatch [old gperms] [gperm id]:>checked="checked" <:or:><:eif:>/>
          <label for="gperms_<:gperm id:>" title="<:gperm help:>"><:gperm brief:></label>
        </li>
        <:- iterator end gperms:>
      </ul>
    </fieldset>
    <:- or Gperms:><:eif Gperms:>
    -->
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:replace [referer] "&amp;referer=1":><:case default:><:script:>?a_groups=1<:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Cancel</a>
      <:- if UserCan bse_admin_group_add:>
      <input type="submit" name="a_addgroup" value="Create Group" accesskey="c" title="AccessKey = c" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>