<:wrap admin/base.tmpl title=>"New Admin User" :>
<div class="window dialog">
  <h1><:param title:></h1>
  <form action="<:script:>" method="post">
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Account</legend>
      <div>
        <label for="logon">Username <span class="required">*</span> <:error_img logon:></label>
        <span>
          <input type="text" name="logon" id="logon" value="<:old logon:>" required="required" autofocus="autofocus" class="<:ifError_img logon:>error<:or:><:eif:>" />
          <:help adduser logon:>
        </span>
      </div>
      <div>
        <label for="password">Password <span class="required">*</span> <:error_img password:></label>
        <span>
          <input type="password" name="password" id="password" value="<:old password:>" required="required" class="<:ifError_img password:>error<:or:><:eif:>" /><!--<:if Cfg basic minpassword:>
          (minimum <:cfg basic minpassword:> characters)<:or Cfg:><:eif Cfg:>-->
          <:help adduser password:>
        </span>
      </div>
      <div>
        <label for="confirm">Confirm Password <span class="required">*</span> <:error_img confirm:></label>
        <span>
          <input type="password" name="confirm" id="confirm" value="<:old confirm:>" required="required" class="<:ifError_img confirm:>error<:or:><:eif:>" />
          <:help adduser confirm:>
        </span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Name</legend>
      <div>
        <label for="name">Full Name <:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name:>" class="<:ifError_img name:>error<:or:><:eif:>" />
          <:help adduser name:>
        </span>
      </div>
    </fieldset>
    <!--<:if Groups:>
    <fieldset>
      <legend>Groups <:error_img groups:></legend>
      <ul>
        <:iterator begin groups:>
        <li>
          <input type="checkbox" name="groups" id="group_<:igroup id:>" value="<:igroup id:>" <:ifMatch [old groups] [igroup id]:>checked="checked" <:or:><:eif:>/>
          <label for="group_<:igroup id:>"><a href="<:script:>?a_showgroup=1&amp;groupid=<:igroup id:>"><:igroup name:></a><:ifIgroup description:> (<:igroup description:>)<:or:><:eif:></label>
        </li>
        <:iterator end groups:>
      </ul>
      <:help adduser groups:>
    </fieldset>
    <:or Groups:><:eif Groups:>
    <:if Gperms:>
    <input type="hidden" name="savegperms" value="1" />
    <fieldset>
      <legend>Permissions <:error_img gperms:></legend>
      <ul>
        <:iterator begin gperms:>
        <li>
          <input type="checkbox" name="gperms" id="gperms_<:gperm id:>" value="<:gperm id:>" <:ifMatch [old gperms] [gperm id]:>checked="checked" <:or:><:eif:>/>
          <label for="gperms_<:gperm id:>" title="<:gperm help:>"><:gperm brief:></label>
        </li>
        <:iterator end gperms:>
      </ul>
    </fieldset>
    <:or Gperms:><:eif Gperms:>-->
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:param r:><:case Cgi referer:><:referer:><:case default:><:script:><:endswitch:>" accesskey="." title="AccessKey = ." class="button gray ancel">Cancel</a>
      <:if UserCan bse_admin_user_add:>
      <input type="submit" name="a_adduser" value="Create User" accesskey="c" title="AccessKey = c" class="button green" />
      <:or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>
