<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><:= cfg.entry("site", "name"):> - <:= params.title:></title>
    <link rel="stylesheet" href="/bse-admin/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/bse-admin/css/admin.css" type="text/css" />
    <:-.if params.css:>
    <link rel="stylesheet" href="/bse-admin/css/<:= params.css:>" type="text/css" />
    <:-.end if:>
    <script type="text/javascript" src="/bse-admin/js/lib/prototype.js"></script>
    <script type="text/javascript" src="/bse-admin/js/lib/scriptaculous.js?load=effects,dragdrop,controls"></script>
    <script type="text/javascript" src="/bse-admin/js/init.js"></script>
    <:-.if params.api:>
    <script type="text/javascript" src="/js/bse_api.js"></script>
    <:-.end if:>
    <:-.if params.jstools:>
    <script type="text/javascript" src="/js/admin_tools.js"></script>
    <:-.end if:>
    <:-.if params.js:>
    <script type="text/javascript" src="/js/<:= params.js:>"></script>
    <:-.end if:>
    <:-.if request.user_agent =~ /MSIE/ :>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="/bse-admin/css/ie8.css" type="text/css" />
    <![endif]-->
    <:-.end if:>
  </head>
  <body id="<:= params.bodyid:>" data-role="page" class="<:= params.classes:> <:= cgi.param("preview") ? "preview" : "" :>">
    <:-.call "messages":>
    <:-.if not(params.nonavbar):>
<:include admin/include/navbar.tmpl:>
    <:-.end if:>
    <:-.if cgi.param("preview"):>
    <div id="preview" class="preview">
      <iframe src="<:= cfg.admin_url("admin", { "id": article.id }) :>" name="workarea" onload="this.contentWindow.focus()">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
    <:-.else:>
<:wrap here:>
    <:-.end if:>
  </body>
</html>