<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><:cfg site name |h:> - <:param title:></title>
    <link rel="stylesheet" href="/css/bse-admin/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/bse-admin/admin.css" type="text/css" />
    <:- if Param css:>
    <link rel="stylesheet" href="/css/bse-admin/<:param css:>" type="text/css" />
    <:- or Param:><:eif Param:>
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript" src="/js/scriptaculous.js"></script>
    <script type="text/javascript" src="/js/bse-admin/admin.js"></script>
    <:- if Param api:>
    <script type="text/javascript" src="/js/bse_api.js"></script>
    <:- or Param:><:eif Param:>
    <:- if Param jstools:>
    <script type="text/javascript" src="/js/admin_tools.js"></script>
    <:- or Param:><:eif Param:>
    <:- if Param js:>
    <script type="text/javascript" src="/js/<:param js:>"></script>
    <:- or Param:><:eif Param:>
  </head>
  <body<:ifParam bodyid:> id="<:param bodyid:>"<:or:><:eif:> data-role="page">
    <:- switch:>
    <:- case Param nomessage:>
    <:- case Message:>
    <div id="message">
      <div class="message<:switch:><:case Error:> error red<:case Match [script] "users":> orange<:case default:> green<:endswitch:>"><:message:></div>
    </div>
    <:- endswitch:>
    <:- switch:>
    <:- case Param nonavbar:>
    <:- case default:>
<:include admin/include/navbar.tmpl:>
    <:- endswitch:>
    <:- switch:>
    <:- case Cgi preview:>
    <div id="preview" class="preview">
      <iframe src="<:adminurl admin id [article id]:>" frameborder="0" name="workarea">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
    <:- case default:>
<:wrap here:>
    <:- endswitch:>
    <div id="lightbox" class="lightbox">
      <div class="window dialog modal">
        <header>
          <h1>Alert!</h1>
        </header>
        <h2 id="confirmMessage">Are you sure you want to delete this <span data-object="placeholder">Object</span>?</h2>
        <p id="confirmInformation">Continuing with this action will permenantly remove this <span data-object="placeholder">Object</span> from your site. This action cannot be undone.</p>
        <p class="buttons">
          <a href="#" id="confirmCancel" class="button white">Cancel</a>
          <a href="#" id="confirmDelete" class="button red">Delete <span data-object="placeholder">Object</span></a>
        </p>
      </div>
    </div>
  </body>
</html>
