<:wrap admin/base.tmpl title=>"Admin User" :>
<div class="window dialog">
  <header>
    <h1><:= params.title:></h1>
  </header>
  <form action="<:script:>" method="post" data-object="Password">
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Account</legend>
      <div>
        <label for="oldpassword">Old password <span class="required">*</span> <:error_img oldpassword:></label>
        <span>
          <input type="password" name="oldpassword" id="oldpassword" value="<:old oldpassword:>" required="required" autofocus="autofocus" class="<:ifError_img oldpassword:>error<:eif:>" />
          <:help changepw oldpassword:>
        </span>
      </div>
      <div>
        <label for="newpassword">New password <span class="required">*</span> <:error_img newpassword:></label>
        <span>
          <input type="password" name="newpassword" id="newpassword" value="<:old newpassword:>" required="required" class="<:ifError_img newpassword:>error<:eif:>" />
          <:help changepw newpassword:>
        </span>
      </div>
      <div>
        <label for="confirm">Confirm password <span class="required">*</span> <:error_img confirm:></label>
        <span>
          <input type="password" name="confirm" id="confirm" value="<:old confirm:>" required="required" class="<:ifError_img confirm:>error<:eif:>" />
          <:help changepw confirm:>
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:adminurl menu:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <input type="submit" name="a_change" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
    </p>
  </form>
</div>