<:-.set is_article = article.id and article.id > 0 -:>
<:-.set typename = is_article ? article.generator.replace(/^(?:BSE::)?Generate::(\w+)$/, "$1") : "Site" -:>
<:-.wrap "admin/base.tmpl", "title": ( "Manage " _ typename _ " Files" ) :>
<div class="window">
  <header>
    <:-.set id = cgi.param("parentid") or cgi.param("id") -:>
    <:-.set article = not(is_article) ? bse.articles.getByPkey(id) : article -:>
    <:-.set pagetitle = params.title _ ( id > 0 ? " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" : "" ) :>
    <:-.if is_article :>
    <ul class="menu header">
      <li>
        <h1><a href="#"><:= pagetitle:></a></h1>
        <ul>
          <li class="disabled"><span><:= article.titleAlias or article.title:> (Level <:= article.level:>)</span></li>
          <li class="divider"></li>
          <:-.set crumbs = [ article.ancestors ] -:>
          <:-.for crumb in crumbs:>
          <li><a href="<:= cfg.admin_url("add", { "id": crumb.id, "referer": 1 }) :>"><:= crumb.titleAlias or crumb.title:> (Level <:= crumb.level:>)</a></li>
          <:-.end for:>
          <li class="divider"></li>
          <li><a href="<:= cfg.admin_url("add", { "id": -1 }) :>" accesskey="h" title="AccessKey = h">Manage Site Articles</a></li>
        </ul>
      </li>
    </ul>
    <:-.else:>
    <h1><:= pagetitle:></h1>
    <:-.end if:>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <:-.if is_article :>
<:include admin/include/toolbar_article.tmpl:>
    <:-.else:>
<:include admin/include/toolbar_site.tmpl:>
    <:-.end if:>
  </header>
  <form action="<:script:>" method="post" enctype="multipart/form-data" data-object="File">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="_t" value="file" />
    <input type="hidden" name="r" value="
    <:- switch -:>

    <:- # from aywhere: refresh to supplied r param -:>
    <:- case Cgi r -:>
    <:cgi r:>

    <:- # from preview with referer: refresh to article preview on save changes -:>
    <:- case And [cgi referer] [ifMatch [referer] [adminurl admin]] -:>
    <:adminurl add id [cgi referer] preview 1:>

    <:- # from preview: refresh to article preview on save changes -:>
    <:- case ifMatch [referer] [adminurl admin] -:>
    <:adminurl add id [article id] preview 1:>

    <:- endswitch -:>
    " />
    <:- if Files:>
    <input type="hidden" name="save_file_flags" value="1" />
    <:csrfp admin_save_files hidden:>
    <:csrfp admin_add_file hidden:>
    <:- iterator begin files:>
    <div class="object">
      <h2>File <:arithmetic [file_index] + 1:> <:ifUserCan bse_edit_files_reorder:article:><:movefiles:><:eif:></h2>
      <p class="buttons">
        <:- if UserCan bse_edit_files_save:article:>
        <a href="<:script:>?a_edit_file=1&amp;id=<:article id:>&amp;file_id=<:file id:>&amp;referer=1" class="button white small">Edit</a>
        <:- or UserCan:>
        <a class="button white small disabled">Edit</a>
        <:- eif UserCan:>
        <:- if UserCan bse_edit_files_delete:article:>
        <a href="<:script:>?filedel=1&amp;id=<:article id:>&amp;file=<:file id:>&amp;_csrfp=<:csrfp admin_remove_file:>&amp;r=<:script:>%3Fid=<:article id:>%26_t=file" data-action="Delete" data-object="File" class="button red small">Delete</a>
        <:- or UserCan:>
        <a class="button red small disabled">Delete</a>
        <:- eif UserCan:>
      </p>
      <fieldset>
        <legend>Resource</legend>
        <div>
          <label for="file_<:file id:>">Change file <:error_img [concatenate file_ [file id]]:></label>
          <span>
            <input type="file" name="file_<:file id:>" id="file_<:file id:>" class="<:ifError_img [concatenate file_ [file id]]:>error<:eif:>" />
            <:help file file:>
          </span>
        </div>
        <div>
          <label for="name_<:file id:>">Name <:error_img [concatenate name_ [file id]]:></label>
          <span>
            <input type="text" name="name_<:file id:>" id="name_<:file id:>" value="<:oldi [concatenate name_ [file id]] 0 file name:>" class="<:ifError_img [concatenate name_ [file id]]:>error<:eif:>" />
            <:help file name:>
          </span>
        </div>
        <div>
          <label>Original</label>
          <span>
            <a href="<:target user download_file file [file id] |h:>"><span class="indicator <:switch:><:case File hide_from_list:>orange<:case File file_exists:>green<:case default:>red<:endswitch:>"></span> <:file displayName:></a>
          </span>
        </div>
        <div>
          <label>Size</label>
          <span>
            <:arithmetic d1:([file sizeInBytes] / 1024):>kB
          </span>
        </div>
        <div>
          <label>Upload date</label>
          <span>
            <:date "%d-%b-%Y / %r" file whenUploaded:>
          </span>
        </div>
      </fieldset>
      <details>
        <summary>More attributes</summary>
        <fieldset>
          <legend>Content</legend>
          <div>
            <label for="description_<:file id:>">Description <:error_img [concatenate description_ [file id]]:></label>
            <span>
              <input type="text" name="description_<:file id:>" id="description_<:file id:>" value="<:oldi [concatenate description_ [file id]] 0 file description:>" class="<:ifError_img [concatenate description_ [file id]]:>error<:eif:>" />
              <:help file description:>
            </span>
          </div>
          <div>
            <label for="notes_<:file id:>">Notes <:error_img [concatenate notes_ [file id]]:></label>
            <span>
              <textarea name="notes_<:file id:>" id="notes_<:file id:>" class="<:ifError_img [concatenate notes_ [file id]]:>error<:eif:>"><:oldi [concatenate notes_ [file id]] 0 file notes:></textarea>
              <:help file notes:>
            </span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Properties</legend>
          <div>
            <label for="contentType_<:file id:>">Content type <:error_img [concatenate contentType_ [file id]]:></label>
            <span>
              <input type="text" name="contentType_<:file id:>" id="contentType_<:file id:>" value="<:file contentType:>" placeholder="MIME format" class="<:ifError_img [concatenate contentType_ [file id]]:>error<:eif:>" />
              <:help file contentType:>
            </span>
          </div>
          <div>
            <label for="download_<:file id:>">Force download <:error_img  [concatenate download_ [file id]]:></label>
            <span>
              <input type="checkbox" name="download_<:file id:>" id="download_<:file id:>" value="1" <:ifFile download:>checked="checked" <:eif:>/>
              <:help file download:>
            </span>
          </div>
          <div>
            <label for="hide_from_list_<:file id:>">Hide from list <:error_img  [concatenate hide_from_list_ [file id]]:></label>
            <span>
              <input type="checkbox" name="hide_from_list_<:file id:>" id="hide_from_list_<:file id:>" value="1" <:ifFile hide_from_list:>checked="checked" <:eif:>/>
              <:help file hide_from_list:>
            </span>
          </div>
          <:- if Match [article generator] "Product":>
          <div>
            <label for="forSale_<:file id:>">Require payment <:error_img [concatenate forSale_ [file id]]:></label>
            <span>
              <input type="checkbox" name="forSale_<:file id:>" id="forSale_<:file id:>" <:ifFile forSale:>checked="checked" <:eif:>/>
              <:help file forSale:>
            </span>
          </div>
          <:- eif Match:>
          <div>
            <label for="requireUser_<:file id:>">Require login <:error_img [concatenate requireUser_ [file id]]:></label>
            <span>
              <input type="checkbox" name="requireUser_<:file id:>" id="requireUser_<:file id:>" <:ifFile requireUser:>checked="checked" <:eif:>/>
              <:help file requireUser:>
            </span>
          </div>
          <div>
            <label for="storage_<:file id:>">Storage <:error_img storage:></label>
            <span>
              <select name="storage_<:file id:>" id="storage_<:file id:>">
                <option value="">(Auto)</option>
                <:- iterator begin file_stores:>
                <option value="<:file_store name:>" <:ifEq [oldi [concatenate storage_ [file id]] 0 file storage] [file_store name]:>selected="selected"<:eif:>><:file_store description:></option>
                <:- iterator end file_stores:>
              </select>
              <:help file storage:>
            </span>
          </div>
        </fieldset>
      </details>
    </div>
    <:- iterator end files:>
    <:- or Files:>
    <fieldset>
      <legend>Files</legend>
      <div class="center">
        <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
        <p>No files to display</p>
        <:- if UserCan bse_edit_files_add:article:>
        <p><a href="<:script:>?id=<:article id:>&amp;_t=fileupload&amp;referer=1" data-icon="add" class="button white">New File…</a></p>
        <:- eif UserCan:>
      </div>
    </fieldset>
    <:- eif Files:>
    <p class="buttons">
      <a href="<:switch:><:case Match [referer] [adminurl admin]:><:adminurl add id [cond [cgi referer] [cgi referer] [article id]] preview 1:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:- if And [ifFiles] [ifUserCan bse_edit_files_save:article]:>
      <input type="submit" name="filesave" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- eif And:>
    </p>
  </form>
</div>