<:wrap admin/base.tmpl title=>"Manage Images":>
<div class="window dialog">
  <h1><:param title:></h1>
  <p class="buttons">
    <a href="<:script:>?id=<:article id:>" title="Edit Article" class="button gray small">Article</a><:ifArithmetic [article id] > 0 :>
    <a href="<:script:>?id=<:article id:>&amp;preview=1" title="Preview <:typename article:>" class="button gray small">Preview</a><:or:><:eif:>
    <a href="<:script:>?id=<:article id:>&amp;_t=imgupload&amp;r=<:script:>%3Fid=<:article id:>%26_t=img" accesskey="i" title="AccessKey = i" class="button blue small">Add Image</a>
  </p>
  <form action="<:script:>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="_t" value="img" />
    <input name="r" type="hidden" value="<:script:>?id=<:article id:>&amp;_t=img" />
    <:if Images:>
    <:csrfp admin_save_images hidden:>
    <:csrfp admin_add_image hidden:>
    <:iterator begin images:>
    <div class="object">
      <h2>Image <:image_number:> <:ifUserCan bse_edit_images_save:article:><:imgmove:><:or:><:eif:></h2>
      <p class="buttons">
        <:ifUserCan bse_edit_images_delete:article:>
        <a href="<:script:>?removeimg_<:image id:>=1&amp;id=<:article id:>&amp;_csrfp=<:csrfp admin_remove_image:>&amp;r=<:script:>%3Fid=<:article id:>%26_t=img" onclick="return window.confirm('Are you sure you want to delete this Image? (#<:image_number:>)')" class="button red small">Delete</a><:or:><span class="button gray small">Delete</span><:eif:>
      </p>
      <fieldset>
        <legend>Resource</legend>
        <div>
          <label for="image">Change image <:error_img [concatenate image [image id]]:></label>
          <span>
            <input type="file" name="image<:image id:>" id="image" accesskey="f" title="AccessKey = f" <:ifUserCan bse_edit_images_save:article:><:or:>disabled="disabled" <:eif:>class="<:ifError_img [concatenate image [image id]]:>error<:or:><:eif:>" />
            <:help image image:>
          </span>
        </div>
        <div>
          <label for="name">Name <:error_img [concatenate name [image id]]:></label>
          <span>
            <input type="text" name="name<:image id:>" id="name" value="<:oldi [concatenate name [image id]] 0 image name:>" <:ifUserCan bse_edit_images_save:article:><:or:>disabled="disabled" <:eif:>class="<:ifError_img [concatenate name [image id]]:>error<:or:><:eif:>" />
            <:help image name:>
          </span>
        </div>
        <div>
          <label>Original</label>
          <span>
            <a href="<:image src:>"><:thumbimage editor:></a>
          </span>
        </div>
        <div>
          <label>Size</label>
          <span>
            <:image width:> &times; <:image height:> px
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Properties</legend>
        <div>
          <label for="alt">Alt <:error_img [concatenate alt [image id]]:></label>
          <span>
            <input type="text" name="alt<:image id:>" id="alt" value="<:oldi [concatenate alt [image id]] 0 image alt:>" <:ifUserCan bse_edit_images_save:article:><:or:>disabled="disabled" <:eif:>class="<:ifError_img [concatenate alt [image id]]:>error<:or:><:eif:>" />
            <:help image alt:>
          </span>
        </div>
        <div>
          <label for="url">URL <:error_img [concatenate url [image id]]:></label>
          <span>
            <input type="text" name="url<:image id:>" id="url" value="<:oldi [concatenate url [image id]] 0 image url:>" <:ifUserCan bse_edit_images_save:article:><:or:>disabled="disabled" <:eif:>class="<:ifError_img [concatenate url [image id]]:>error<:or:><:eif:>" />
            <:help image url:>
          </span>
        </div>
        <div>
          <label for="storage<:image id:>">Storage <:error_img [concatenate storage [image id]]:></label>
          <span>
            <select name="storage<:image id:>" id="storage<:image id:>">
              <option value="">(Auto)</option>
              <:iterator begin image_stores:>
              <option value="<:image_store name:>" <:ifEq [oldi [concatenate storage [image id]] 0 image storage] [image_store name]:>selected="selected"<:or:><:eif:>><:image_store description:></option>
              <:iterator end image_stores:>
            </select>
            <:help image storage:>
          </span>
        </div>
      </fieldset>
    </div>
    <:iterator separator images:><:iterator end images:>
    <:or Images:><:eif Images:>
    <:if UserCan bse_edit_save:article:>
    <p class="buttons">
      <a href="<:script:>?id=<:article id:>" accesskey="." title="AccessKey = ." class="button gray">Done</a>
      <:ifUserCan bse_edit_images_save:article:>
      <input type="submit" name="process" value="Save changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:or:><:eif:>
    </p>
    <:or UserCan:><:eif UserCan:>
  </form>
</div>