<:-.set is_article = article.id and article.id > 0 -:>
<:-.set typename = is_article ? "" : "Site" -:>
<:-.wrap "admin/base.tmpl", "title": "New " _ typename _ " Image" :>
<div class="window dialog">
  <header>
    <:-.set pagetitle = params.title _ ( is_article ? " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" : "" ) :>
    <h1><:= pagetitle:></h1>
  </header>
  <form action="<:script:>" method="post" enctype="multipart/form-data" data-object="Image">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="_t" value="imgupload" />
    <:csrfp admin_save_image hidden:>
    <:csrfp admin_add_image hidden:>
    <input type="hidden" name="r" value="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article id:><:endswitch:>" />
    <fieldset>
      <legend>Resource</legend>
      <div class="field">
        <label class="field-label" for="image">Image <span class="required">*</span> <:error_img image:></label>
        <span class="field-input">
          <input type="file" name="image" id="image" accesskey="f" title="AccessKey = f" required="required" autofocus="autofocus" class="<:ifError_img image:>error<:eif:>" />
          <:help image image:>
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="name">Name <:error_img name:></label>
        <span class="field-input">
          <input type="text" name="name" id="name" value="<:old name:>" class="<:ifError_img name:>error<:eif:>" />
          <:help image name:>
        </span>
      </div>
    </fieldset>
    <details>
      <summary>More attributes</summary>
      <fieldset>
        <legend>Properties</legend>
        <div class="field">
          <label class="field-label" for="alt">Alt <:error_img altIn:></label>
          <span class="field-input">
            <input type="text" name="altIn" id="alt" value="<:old altIn:>" class="<:ifError_img altIn:>error<:eif:>" />
            <:help image alt:>
          </span>
        </div>
        <div class="field">
          <label class="field-label" for="url">URL <:error_img url:></label>
          <span class="field-input">
            <input type="text" name="url" id="url" value="<:old url:>" class="<:ifError_img url:>error<:eif:>" />
            <:help image url:>
          </span>
        </div>
        <div class="field">
          <label class="field-label" for="storage">Storage <:error_img storage:></label>
          <span class="field-input">
            <select name="storage" id="storage">
              <option value="">(Auto)</option>
              <:- iterator begin image_stores:>
              <option value="<:image_store name:>" <:ifOld storage:>selected="selected"<:eif:>><:image_store description:></option>
              <:- iterator end image_stores:>
            </select>
            <:help image storage:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Tags</legend>
        <input type="hidden" name="_save_tags" value="1" />
        <:-.set tags = [ cgi.param("tags") ] -:>
        <:-.if tags.size == 0 :>
          <:-% tags.unshift("") :>
        <:-.end if :>
        <:-.for tag in tags :>
        <div class="field">
          <label class="field-label" for="tag_<:= loop.count :>"><:= loop.is_first ? "Tag name" : "" :> <:.call "error_img_n", "name":"tags", "index":loop.index :></label>
          <span class="field-input">
            <input type="text" name="tags" id="tag_<:= loop.count :>" value="<:= tag :>" class="<:.call "error_classname", "name":"tags", "index":loop.index :>"/>
          </span>
          <:-.if loop.is_first:>
          <span class="field-actions">
            <button class="button white small" onclick="plus(this); return false;" data-icon="add" data-icon-only="true">Add</button>
            <button class="button white small" onclick="minus(this); return false;" disabled="disabled" data-icon="subtract" data-icon-only="true">Delete</button>
          </span>
          <:-.end if:>
        </div>
        <:-.end for:>
      </fieldset>
    </details>
    <:-.call "admin/include/ajax_dropzone.tmpl", "type":"image", "target":"addimg":>
    <script type="text/javascript">
        function plus(ele) {
            var ele = $(ele).up('div');
            var clone = ele.clone(true);
            clone.down('input[name="tags"]').clear().removeAttribute("class");
            clone.down('label').update(' ');
            var disabled = clone.down('button[disabled]');
            if (disabled) {
                disabled.removeAttribute('disabled');
            }
            ele.insert({after: clone});
            update();
        };
    
        function minus(ele) {
            var ele = $(ele).up('div').remove();
            update();
        };
        
        function update() {
            changesMonitor.initialize();
        };
    </script>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:- if UserCan bse_edit_images_add:article:>
      <input type="submit" name="addimg" value="Upload Image" accesskey="u" title="AccessKey = u" class="button green" />
      <:- eif UserCan:>
    </p>
  </form>
</div>