<:wrap admin/base.tmpl title=>"New Image" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
  </header>
  <form action="<:script:>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="_t" value="imgupload" />
    <:csrfp admin_save_image hidden:>
    <:csrfp admin_add_image hidden:>
    <input type="hidden" name="r" value="<:switch:><:case Cgi r:><:cgi r:><:case default:><:script:>?id=<:article id:><:endswitch:>" />
    <fieldset>
      <legend>Resource</legend>
      <div>
        <label for="image">Image <span class="required">*</span> <:error_img image:></label>
        <span>
          <input type="file" name="image" id="image" accesskey="f" title="AccessKey = f" required="required" autofocus="autofocus" class="<:ifError_img image:>error<:or:><:eif:>" />
          <:help image image:>
        </span>
      </div>
      <div>
        <label for="name">Name <:ifEq [article id] -1:><span class="required">*</span> <:or:><:eif:><:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name:>" <:ifEq [article id] -1:>required="required" <:or:><:eif:>class="<:ifError_img name:>error<:or:><:eif:>" />
          <:help image name:>
        </span>
      </div>
    </fieldset>
    <details>
      <summary>More attributes</summary>
      <fieldset>
        <legend>Properties</legend>
        <div>
          <label for="alt">Alt <:error_img altIn:></label>
          <span>
            <input type="text" name="altIn" id="alt" value="<:old altIn:>" class="<:ifError_img altIn:>error<:or:><:eif:>" />
            <:help image alt:>
          </span>
        </div>
        <div>
          <label for="url">URL <:error_img url:></label>
          <span>
            <input type="text" name="url" id="url" value="<:old url:>" class="<:ifError_img url:>error<:or:><:eif:>" />
            <:help image url:>
          </span>
        </div>
        <div>
          <label for="storage">Storage <:error_img storage:></label>
          <span>
            <select name="storage" id="storage">
              <option value="">(Auto)</option>
              <:- iterator begin image_stores:>
              <option value="<:image_store name:>" <:ifOld storage:>selected="selected"<:or:><:eif:>><:image_store description:></option>
              <:- iterator end image_stores:>
            </select>
            <:help image storage:>
          </span>
        </div>
      </fieldset>
    </details>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:referer:><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button gray">Cancel</a>
      <:- if UserCan bse_edit_images_add:article:>
      <input type="submit" name="addimg" value="Upload image" accesskey="u" title="AccessKey = u" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>