<:wrap admin/base.tmpl title=>[cond [cgi stepkid] "Edit Stepchild" "New Stepchild"] :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
    <:- if Cgi stepkid:>
    <nav data-role="toolbar">
      <:- if UserCan bse_edit_stepkid_delete:article,bse_edit_stepparent_delete:[cgi stepkid]:>
      <a href="<:script:>?id=<:article id:>&amp;stepkid=<:cgi stepkid:>&amp;del_stepkid=1&amp;_csrfp=<:csrfp admin_remove_stepkid:>&amp;r=<:script:>%3Fid=<:article id:>%26_t=kids" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="Stepchild" data-confirm="Are you sure you want to remove the Stepchild relationship?" data-info="Continuing with this action will permanently remove this Stepchild relationship. This action does not delete the original <:cgi typename:>." data-icon="delete" class="button">Delete</a>
      <:- or UserCan:>
      <a data-icon="delete" class="button disabled">Delete</a>
      <:- eif UserCan:>
    </nav>
    <:- eif Cgi:>
  </header>
  <form action="<:script:>" method="post" data-object="Stepchild">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="_t" value="steps" />
    <input type="hidden" name="r" value="<:switch:><:case Cgi r:><:cgi r:><:case default:><:script:>?id=<:article id:>&amp;_t=kids<:endswitch:>" />
    <:csrfp admin_save_stepkids hidden:>
    <:csrfp admin_add_stepkid hidden:>
    <:- if Cgi stepkid:>
    <:- iterator begin kids:>
    <:- if Eq [stepkid childId] [cgi stepkid]:>
    <fieldset>
      <legend>Properties</legend>
      <div>
        <label for="stepkid">Article <:error_img stepkid:></label>
        <span>
          <input type="text" name="stepkid" value="<:kid title:>" readonly="readonly"/>
        </span>
      </div>
      <div>
        <label for="release">Release <:error_img release:></label>
        <span>
          <input type="text" name="release_<:stepkid childId:>" id="release" value="<:date "%d/%m/%Y" stepkid release:>" placeholder="DD/MM/YYYY" />
        </span>
      </div>
      <div>
        <label for="expire">Expire <:error_img expire:></label>
        <span>
          <input type="text" name="expire_<:stepkid childId:>" id="expire" value="<:ifMatch [stepkid expire] "^[29]999-12-31":><:or:><:date "%d/%m/%Y" stepkid expire:><:eif:>" placeholder="DD/MM/YYYY" />
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:script:>?id=<:article id:>&amp;_t=kids" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:- if UserCan bse_edit_stepkid_save:article,bse_edit_stepparent_save:kid:>
      <input type="submit" name="save_stepkids" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- eif UserCan:>
    </p>
    <:- eif Eq:>
    <:- iterator end kids:>
    <:- or Cgi:>
    <fieldset>
      <legend>Properties</legend>
      <div>
        <label for="stepkid">Articles <span class="required">*</span> <:error_img stepkid:></label>
        <span>
          <:- if Possibles:>
          <:replace [possible_stepkids] "name=\"([a-z A-Z _]+)\">" "name=\"$1\" id=\"$1\" required=\"required\"><option>Select a stepchild</option>":>
          <:- or Possibles:>
          <select id="stepkid">
            <option>No possible articles</option>
          </select>
          <:- eif Possibles:>
        </span>
      </div>
      <div>
        <label for="release">Release <:error_img release:></label>
        <span>
          <input type="text" name="release" id="release" value="<:today "%d/%m/%Y":>" placeholder="DD/MM/YYYY" />
        </span>
      </div>
      <div>
        <label for="expire">Expire <:error_img expire:></label>
        <span>
          <input type="text" name="expire" id="expire" value="" class="<:ifError_img expire:>error<:eif:>" placeholder="DD/MM/YYYY" />
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article id:>&amp;_t=kids<:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:- if UserCan bse_edit_stepkid_add:article:>
      <input type="submit" name="add_stepkid" value="Create Stepchild" accesskey="c" title="AccessKey = c" class="button green" />
      <:- eif UserCan:>
    </p>
    <:- eif Cgi:>
  </form>
</div>