<:-.set is_article = article.id and article.id > 0 -:>
<:-.set typename = is_article ? article.generator.replace(/^(?:BSE::)?Generate::(\w+)$/, "$1") : "Site" -:>
<:-.wrap "admin/base.tmpl", "title": ( "Manage " _ typename _ " Images" ) :>

<:-.set referer = request.referer -:>
<:-.set cgi_referer = cgi.param("referer") -:>

<:-.if referer =~ cfg.admin_url("admin") -:>
<:-.set done_url = cfg.admin_url("add", { "id": ( cgi_referer ? cgi_referer : article.id ), "preview": 1 }) -:>

<:-.elsif cgi_referer and referer -:>
<:-.set done_url = referer.replace(/(&amp;|\?)referer=[\d]+/, "") -:>

<:-.else -:>
<:-.set done_url = cfg.admin_url("add", { "id": article.id }) -:>

<:-.end if -:>

<div class="window">
  <header>
    <:-.set id = cgi.param("parentid") or cgi.param("id") -:>
    <:-.set article = not(is_article) ? bse.articles.getByPkey(id) : article -:>
    <:-.set pagetitle = params.title _ ( id > 0 ? " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" : "" ) :>
    <:-.if is_article :>
    <ul class="menu header">
      <li>
        <h1><a href="#"><:= pagetitle:></a></h1>
        <ul>
          <li class="disabled"><span><:= article.titleAlias or article.title:> (Level <:= article.level:>)</span></li>
          <li class="divider"></li>
          <:-.set crumbs = [ article.ancestors ] -:>
          <:-.for crumb in crumbs:>
          <li><a href="<:= cfg.admin_url("add", { "id": crumb.id, "referer": 1 }) :>"><:= crumb.titleAlias or crumb.title:> (Level <:= crumb.level:>)</a></li>
          <:-.end for:>
          <li class="divider"></li>
          <li><a href="<:= cfg.admin_url("add", { "id": -1 }) :>" accesskey="h" title="AccessKey = h">Manage Site Articles</a></li>
        </ul>
      </li>
    </ul>
    <:-.else:>
    <h1><:= pagetitle:></h1>
    <:-.end if:>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <:-.if is_article :>
<:include admin/include/toolbar_article.tmpl:>
    <:-.else:>
<:include admin/include/toolbar_site.tmpl:>
    <:-.end if:>
  </header>
  <form action="<:= cfg.admin_url("add"):>" method="post" enctype="multipart/form-data" data-object="Image">
    <input type="hidden" name="id" value="<:= article.id:>" />
    <input type="hidden" name="_t" value="img" />
    <input type="hidden" name="r" value="
    <:- switch -:>

    <:- # from aywhere: refresh to supplied r param -:>
    <:- case Cgi r -:>
    <:cgi r:>

    <:- # from preview with referer: refresh to article preview on save changes -:>
    <:- case And [cgi referer] [ifMatch [referer] [adminurl admin]] -:>
    <:adminurl add id [cgi referer] preview 1:>

    <:- # from preview: refresh to article preview on save changes -:>
    <:- case ifMatch [referer] [adminurl admin] -:>
    <:adminurl add id [article id] preview 1:>

    <:- endswitch -:>
    " />
    <:-.set images = [ article.images ] -:>
    <:-.if images.size:>
    <:csrfp admin_save_images hidden:>
    <:csrfp admin_add_image hidden:>
    <:-.for image in images:>
    <div class="object">
      <h2>Image <:= loop.count:> <:.call "move_image", "admin":1, "r":refresh :></h2>
      <p class="buttons">
        <:-.if request.user_can("bse_edit_images_save", article ):>
        <a href="<:= cfg.admin_url2("add", "edit_image", { "id":article.id, "image_id":image.id, "referer":1 }):>" class="button gray small">Edit</a>
        <:-.else:>
        <a class="button gray small disabled">Edit</a>
        <:-.end if:>
        <:-.if request.user_can("bse_edit_images_delete", article ):>
        <a href="<:= cfg.admin_url("add", { "id":article.id, "removeimg_" _ image.id:1, _t:"img", _csrfp:request.get_csrf_token("admin_remove_image") }):>" data-action="Delete" data-object="Image" class="button red small">Delete</a>
        <:-.else:>
        <a class="button red small disabled">Delete</a>
        <:-.end if:>
      </p>
      <fieldset>
        <legend>Resource</legend>
        <div>
          <label for="image<:= image.id:>">Change image <:.call "error_img", "name":"image" _ image.id :></label>
          <span>
            <input type="file" name="image<:= image.id:>" id="image<:= image.id:>" class="<:.call "error_classname", "name":"image" _ image.id :>" />
            <:help image image:>
          </span>
        </div>
        <div>
          <label for="name<:= image.id:>">Name <:.call "error_img", "name":"name" _ image.id :></label>
          <span>
            <input type="text" name="name<:= image.id:>" id="name<:= image.id:>" value="<:.call "old", "name": "name" _ image.id, "default":image.name:>" class="<:.call "error_classname", "name":"name" _ image.id :>" />
            <:help image name:>
          </span>
        </div>
        <div>
          <label>Thumbnail</label>
          <span>
            <a href="<:= image.src:>" onclick="window.open(this.href, 'fullimage', 'width=<:= 40 + image.width:>,height=<:= 90 + image.height:>,location=no,status=no,menubar=no,scrollbars=yes'); return false;"><:= image.thumb("geo","editor") |raw:></a>
          </span>
        </div>
        <div>
          <label>Original</label>
          <span>
            <a href="<:= image.src:>"><:= image.image.replace('^[0-9]+_', '' ):></a>
          </span>
        </div>
        <div>
          <label>Size</label>
          <span>
            <:= image.width:> &times; <:= image.height:> px
          </span>
        </div>
      </fieldset>
      <details>
        <summary>More attributes</summary>
        <fieldset>
          <legend>Properties</legend>
          <div>
            <label for="alt<:= image.id:>">Alt <:.call "error_img", "name":"alt" _ image.id :></label>
            <span>
              <input type="text" name="alt<:= image.id:>" id="alt<:= image.id:>" value="<:.call "old", "name": "alt" _ image.id, "default":image.alt:>" class="<:.call "error_classname", "name":"alt" _ image.id :>" />
              <:help image alt:>
            </span>
          </div>
          <div>
            <label for="url<:= image.id:>">URL <:.call "error_img", "name":"url" _ image.id :></label>
            <span>
              <input type="text" name="url<:= image.id:>" id="url<:= image.id:>" value="<:.call "old", "name": "url" _ image.id, "default":image.url :>" class="<:.call "error_classname", "name":"url" _ image.id :>" />
              <:help image url:>
            </span>
          </div>
          <:-.set stores = [ image_stores() ] :>
          <:-.set oldstore = cgi.param("storage").defined ? cgi.param("storage") : image.storage :>
          <div>
            <label for="storage<:= image.id:>">Storage <:.call "error_img", "name":"storage" _ image.id :></label>
            <span>
              <select name="storage<:= image.id:>" id="storage<:= image.id:>">
                <option value="">(Auto)</option>
                <:-.for store in stores :>
                <option value="<:= store.name:>"<:= oldstore eq store.name ? " selected" : "" :>><:= store.description:></option>
                <:-.end for:>
              </select>
              <:help image storage:>
            </span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Tags</legend>
          <input type="hidden" name="_save_image_tags<:= image.id:>" value="1" />
    	  <:-.set image_tags = cgi.param("_save_image_tags") ? [ cgi.param("tags" _ image.id ) ] : [ "", image.tags ]:>
    	  <:-.for tag in image_tags :>
          <div>
            <label for="tags<:= image.id :>_<:= loop.count :>"><:= loop.is_first ? "Tag name" : "" :> <:.call "error_img_n", "name":"tags", "index":loop.index :></label>
            <span>
              <input type="text" name="tags<:= image.id :>" id="tags<:= image.id :>_<:= loop.count :>" value="<:= tag :>" class="<:.call "error_classname", "name":"tags" _ image.id, "index":loop.index :>"/>
              <:-.if loop.is_first:>
              <button class="button gray small" onclick="plus(this); return false;">&plus;</button>
              <button class="button gray small" onclick="minus(this); return false;" disabled="disabled">&minus;</button>
              <:-.end if:>
            </span>
          </div>
          <:-.end for:>
        </fieldset>

      </details>
    </div>
    <:-.end for:>
    <:-.else:>
    <fieldset>
      <legend>Images</legend>
      <div class="center">
        <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
        <p>No images to display</p>
        <:-.if request.user_can("bse_edit_images_add", article ):>
        <p><a href="<:= cfg.admin_url("add", { "id":article.id, _t:"imgupload", "referer":1 }):>" data-icon="add" class="button white">New Image…</a></p>
        <:-.end if:>
      </div>
    </fieldset>
    <:-.end if:>
    <p class="buttons">
      <a href="<:switch:><:case Match [referer] [adminurl admin]:><:adminurl add id [cond [cgi referer] [cgi referer] [article id]] preview 1:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:-.if images.size and request.user_can("bse_edit_images_save", article ):>
      <input type="submit" name="process" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:-.end if:>
    </p>
  </form>
</div>
<script type="text/javascript">
    function plus(ele) {
        var ele = $(ele).up('div');
        var clone = ele.clone(true);
        clone.down('input[name^="tags"]').clear().removeAttribute("class");
        clone.down('label').update(' ');
        var disabled = clone.down('button[disabled]');
        if (disabled) {
            disabled.removeAttribute('disabled');
        }
        ele.insert({after: clone});
    };

    function minus(ele) {
        var ele = $(ele).up('div').remove();
    };
</script>