<:-.wrap "admin/base.tmpl", "title": "Manage Article Parents" :>
<:-.set refresh = cfg.admin_url("add", { "id": article.id, "_t": cgi.param("_t"), "tree": cgi.param("tree") }) -:>
<div class="window">
  <header>
    <:-.set title = params.title _ " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" :>
    <ul class="menu header">
      <li>
        <h1><a href="#"><:= title:></a></h1>
        <ul>
          <li class="disabled"><span><:= article.titleAlias or article.title:> (Level <:= article.level:>)</span></li>
          <li class="divider"></li>
          <:-.set crumbs = [ article.ancestors ] -:>
          <:-.for crumb in crumbs:>
          <li><a href="<:= cfg.admin_url("add", { "id": crumb.id, "referer": 1 }) :>"><:= crumb.titleAlias or crumb.title:> (Level <:= crumb.level:>)</a></li>
          <:-.end for:>
          <li class="divider"></li>
          <li><a href="<:= cfg.admin_url("add", { "id": -1 }) :>" accesskey="h" title="AccessKey = h">Manage Site Articles</a></li>
        </ul>
      </li>
    </ul>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
<:include admin/include/toolbar_article.tmpl:>
  </header>
  <:- if Stepparents:>
  <fieldset>
    <legend>Parents</legend>
    <:- if UserCan bse_edit_reorder_stepparents:article:>
    Sort by:
    <ul class="meta group">
      <li><a href="<:= cfg.admin_url("reorder", { "stepchild": article.id, "sort": "title", "r": refresh }) :>">title</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "stepchild": article.id, "sort": "id", "r": refresh }) :>">date</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "stepchild": article.id, "sort": "listed", "r": refresh }) :>">listed</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "stepchild": article.id, "sort": "shuffle", "r": refresh }) :>">shuffle</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "stepchild": article.id, "reverse": 1, "r": refresh }) :>">reverse</a></li>
    </ul>
    <:- eif UserCan:>
    <ul class="inset list">
      <:- iterator begin stepparents:>
      <li>
        <a href="<:script:>?id=<:stepparent parentId:>&amp;preview=1" title="<:typename stepparent_targ:>" data-widget="stepkid"><span class="indicator <:switch:><:case Arithmetic [date "%Y%m%d" stepparent_targ release] > [today "%Y%m%d"]:>white<:case Arithmetic [today "%Y%m%d"] > [date "%Y%m%d" stepparent_targ expire]:>red<:case Eq [stepparent_targ listed] 0:>gray<:case Eq [stepparent_targ listed] 2 :>orange<:case default:>green<:endswitch:>"></span> <:ifStepparent_targ titleAlias:><:stepparent_targ titleAlias:> (<:stepparent_targ title:>)<:or:><:stepparent_targ title:><:eif:></a>
        <span>
          <a href="<:script:>?id=<:article id:>&amp;stepparent=<:stepparent parentId:>&amp;typename=<:typename stepparent_targ:>&amp;_t=stepp" class="button gray small">Edit</a>
          <:- if UserCan bse_edit_stepparent_delete:stepparent_targ,bse_edit_stepparent_delete:article:>
          <a href="<:script:>?id=<:stepparent childId:>&amp;stepparent=<:stepparent parentId:>&amp;typename=<:typename stepparent_targ:>&amp;del_stepparent=1&amp;_csrfp=<:csrfp admin_remove_stepparent:>&amp;r=<:script:>%3Fid=<:article id:>%26_t=parents" data-action="Delete" data-object="Stepparent" data-confirm="Are you sure you want to remove the Stepparent relationship?" data-info="Continuing with this action will permanently remove this Stepparent relationship. This action does not delete the original <:typename stepparent_targ:>." class="button red small">Delete</a>
          <:- or UserCan:>
          <a class="button red small disabled">Delete</a>
          <:- eif UserCan:>
          <:movestepparent:>
        </span>
      </li>
      <:- iterator end stepparents:>
    </ul>
  </fieldset>
  <:- or Stepparents:>
  <fieldset>
    <legend>Parents</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No stepparents to display</p>
      <:- if Or [ifUserCan bse_edit_stepparent_add:article]:>
      <p>
        <:- if UserCan bse_edit_stepparent_add:article:>
        <a href="<:script:>?id=<:article id:>&amp;_t=stepp&amp;referer=1" data-icon="add" class="button white">New Stepparent…</a>
        <:- eif UserCan:>
      </p>
      <:- eif Or:>
    </div>
  </fieldset>
  <:- eif Stepparents:>
  <p class="buttons">
    <a href="<:switch:><:case Match [referer] [adminurl admin]:><:adminurl add id [cond [cgi referer] [cgi referer] [article id]] preview 1:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
  </p>
</div>