<:-.set is_article = article.id and article.id > 0 -:>
<:-.set typename = is_article ? article.generator.replace(/^(?:BSE::)?Generate::(\w+)$/, "$1") : "Site" -:>
<:-.set is_new = not(is_article) -:>
<:-.wrap "admin/base.tmpl", "title": ( "Manage " _ typename _ " Files" ) :>

<:-.set referer = request.referer -:>
<:-.set cgi_referer = cgi.param("referer") -:>

<:-.if referer =~ cfg.admin_url("admin") -:>
<:-.set done_url = cfg.admin_url("add", { "id": ( cgi_referer ? cgi_referer : article.id ), "preview": 1 }) -:>

<:-.elsif cgi_referer and referer and referer !~ /logon/ -:>
<:-.set done_url = referer.replace(/(&amp;|&|\?)referer=[\d]+/, "").replace(/\.pl&(mp;)?/, ".pl?") -:>

<:-.else -:>
<:-.set done_url = cfg.admin_url("add", { "id": article.id }) -:>

<:-.end if -:>

<:-.set is_disabled = is_new ? 0 : not(request.user_can("bse_edit_files_save", article)) :>

<:-.set files = [ article.files ]:>
<div class="window">
  <header>
    <:-.set pagetitle = params.title _ ( is_article ? " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" : "" ) :>
    <:-.if is_article :>
    <ul class="menu header">
      <li>
        <h1><a href="#"><:= pagetitle:></a></h1>
        <ul>
          <li class="disabled"><span><:= article.titleAlias or article.title:> (Level <:= article.level:>)</span></li>
          <li class="divider"></li>
          <:-.set crumbs = [ article.ancestors ] -:>
          <:-.for crumb in crumbs:>
          <li><a href="<:= cfg.admin_url("add", { "id": crumb.id, "referer": 1 }) :>"><:= crumb.titleAlias or crumb.title:> (Level <:= crumb.level:>)</a></li>
          <:-.end for:>
          <li class="divider"></li>
          <li><a href="<:= cfg.admin_url("add", { "id": -1 }) :>" accesskey="h" title="AccessKey = h">Manage Site Articles</a></li>
        </ul>
      </li>
    </ul>
    <:-.else:>
    <h1><:= pagetitle:></h1>
    <:-.end if:>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <:-.if is_article :>
<:include admin/include/toolbar_article.tmpl:>
    <:-.else:>
<:include admin/include/toolbar_site.tmpl:>
    <:-.end if:>
  </header>
  <form action="<:script:>" method="post" enctype="multipart/form-data" data-object="File">
    <input type="hidden" name="id" value="<:= article.id:>" />
    <input type="hidden" name="_t" value="file" />
    <input type="hidden" name="r" value="
    <:- switch -:>

    <:- # from aywhere: refresh to supplied r param -:>
    <:- case Cgi r -:>
    <:cgi r:>

    <:- # from preview with referer: refresh to article preview on save changes -:>
    <:- case And [cgi referer] [ifMatch [referer] [adminurl admin]] -:>
    <:adminurl add id [cgi referer] preview 1:>

    <:- # from preview: refresh to article preview on save changes -:>
    <:- case ifMatch [referer] [adminurl admin] -:>
    <:adminurl add id [article id] preview 1:>

    <:- endswitch -:>
    " />
    <:-.if files.size:>
    <input type="hidden" name="save_file_flags" value="1" />
    <:csrfp admin_save_files hidden:>
    <:csrfp admin_add_file hidden:>
    <:-.for file in files:>
    <:-.set object = file :>
    <div class="object">
      <h2>File <:= loop.count:> <:.call "move_file", "admin":1, "r":refresh :></h2>
      <p class="buttons">
        <:-.if request.user_can("bse_edit_files_save:article") :>
        <a href="<:script:>?a_edit_file=1&amp;id=<:= article.id:>&amp;file_id=<:= file.id:>&amp;referer=1" class="button white small">Edit</a>
        <:-.else:>
        <a class="button white small disabled">Edit</a>
        <:-.end if:>
        <:-.if request.user_can("bse_edit_files_delete:article") :>
        <a href="<:script:>?filedel=1&amp;id=<:= article.id:>&amp;file=<:= file.id:>&amp;_csrfp=<:csrfp admin_remove_file:>&amp;r=<:script:>%3Fid=<:= article.id:>%26_t=file" data-action="Delete" data-object="File" class="button red small">Delete</a>
        <:-.else:>
        <a class="button red small disabled">Delete</a>
        <:-.end if:>
      </p>
      <fieldset>
        <legend>Resource</legend>
        <div>
          <label for="file_<:= file.id:>">Change file <:.call "error_img_n", "name":"file_" _ file.id :></label>
          <span>
            <:.call "input", "name":"file_" _ file.id, "field": { "name":"filename", "htmltype":"file" }, "options": { "disabled":is_disabled } :>
            <:help file file:>
          </span>
        </div>
        <div>
          <label for="name_<:= file.id:>">Name <:.call "error_img_n", "name":"name_" _ file.id :></label>
          <span>
            <:.call "input", "name":"name_" _ file.id, "field": { "name":"name", "maxlength":40 }, "options": { "disabled":is_disabled } :>
            <:help file name:>
          </span>
        </div>
        <div>
          <label>Original</label>
          <span>
          <a href="<:= cfg.user_url("user", "download_file", "file", file.id ):>"><span class="indicator <:= file.hide_from_list ? "orange" : file.file_exists ? "green" : "red":>"></span> <:= file.displayName:></a>
          </span>
        </div>
        <div>
          <label>Size</label>
          <span>
            <:= filesize(file.sizeInBytes):>
          </span>
        </div>
        <div>
          <label>Upload date</label>
          <span>
            <:= bse.date("%d-%b-%Y / %r", file.whenUploaded ):>
          </span>
        </div>
      </fieldset>
      <details>
        <summary>More attributes</summary>
        <fieldset>
          <legend>Content</legend>
          <div>
            <label for="description_<:= file.id:>">Description <:.call "error_img_n", "name":"description_" _ file.id :></label>
            <span>
              <:.call "input", "name":"description_" _ file.id, "field": { "name":"description", "maxlength":255 }, "options": { "disabled":is_disabled } :>
              <:help file description:>
            </span>
          </div>
          <div>
            <label for="notes_<:= file.id:>">Notes <:.call "error_img_n", "name":"notes_" _ file.id :></label>
            <span>
              <:.call "input", "name":"notes_" _ file.id, "field": { "name":"notes", "htmltype":"textarea" }, "options": { "disabled":is_disabled } :>
              <:help file notes:>
            </span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Properties</legend>
          <div>
            <label for="contentType_<:= file.id:>">Content type <:.call "error_img_n", "name":"contentType_" _ file.id :></label>
            <span>
              <:.call "input", "name":"contentType_" _ file.id, "field": { "name":"contentType", "maxlength":80 }, "options": { "placeholder":"MIME format", "disabled":is_disabled } :>
              <:help file contentType:>
            </span>
          </div>
          <div>
            <label for="download_<:= file.id:>">Force download <:.call "error_img_n", "name":"download_" _ file.id :></label>
            <span>
              <:.call "input", "name":"download_" _ file.id, "field": { "name":"download", "htmltype":"checkbox", "save_name":"none" }, "options": { "disabled":is_disabled } :>
              <:help file download:>
            </span>
          </div>
          <div>
            <label for="hide_from_list_<:= file.id:>">Hide from list <:.call "error_img_n", "name":"hide_from_list_" _ file.id :></label>
            <span>
              <:.call "input", "name":"hide_from_list_" _ file.id, "field": { "name":"hide_from_list", "htmltype":"checkbox", "save_name":"none" }, "options": { "disabled":is_disabled } :>
              <:help file hide_from_list:>
            </span>
          </div>
          <:- if Match [article generator] "Product":>
          <div>
            <label for="forSale_<:= file.id:>">Require payment <:.call "error_img_n", "name":"forSale_" _ file.id :></label>
            <span>
              <:.call "input", "name":"forSale_" _ file.id, "field": { "name":"forSale", "htmltype":"checkbox", "save_name":"none" }, "options": { "disabled":is_disabled } :>
              <:help file forSale:>
            </span>
          </div>
          <:- eif Match:>
          <div>
            <label for="requireUser_<:= file.id:>">Require login <:.call "error_img_n", "name":"requireUser_" _ file.id :></label>
            <span>
              <:.call "input", "name":"requireUser_" _ file.id, "field": { "name":"requireUser", "htmltype":"checkbox", "save_name":"none" }, "options": { "disabled":is_disabled } :>
              <:help file requireUser:>
            </span>
          </div>
          <:-.set stores = [ file_stores() ] :>
          <:-.set oldstore = cgi.param("storage_" _ file.id).defined ? cgi.param("storage_" _ file.id) : file.storage :>
          <div>
            <label for="storage_<:= file.id:>">Storage <:.call "error_img", "name":"storage_" _ file.id :></label>
            <span>
              <select name="storage_<:= file.id:>" id="storage_<:= file.id:>">
                <option value="">(Auto)</option>
                <:-.for store in stores :>
                <option value="<:= store.name:>"<:= oldstore eq store.name ? " selected" : "" :>><:= store.description:></option>
                <:-.end for:>
              </select>
              <:help file storage:>
            </span>
          </div>
        </fieldset>
      </details>
    </div>
    <:-.end for:>
    <:-.else:>
    <fieldset>
      <legend>Files</legend>
      <div class="center">
        <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
        <p>No files to display</p>
        <:-.if request.user_can("bse_edit_files_add", article ):>
        <p><a href="<:= cfg.admin_url("add", { "id":article.id, _t:"fileupload", "referer":1 }):>" data-icon="add" class="button white">New File…</a></p>
        <:-.end if:>
      </div>
      <:-.call "admin/include/ajax_dropzone.tmpl", "type":"file", "target":"fileadd":>
    </fieldset>
    <:-.end if:>
    <p class="buttons">
      <a href="<:= done_url:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:-.if files.size and request.user_can("bse_edit_files_save", article ):>
      <input type="submit" name="filesave" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:-.end if:>
    </p>
  </form>
</div>