<:wrap admin/base.tmpl title=>[cat "Manage " [cond [article parentid] [typename article] " Site" ] " Children"] :>
<:-.set refresh = cfg.admin_url("add", { "id": article.id, "_t": cgi.param("_t"), "tree": cgi.param("tree") }) -:>
<div class="window">
  <header>
    <:-.set title = params.title _ " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" :>
    <ul class="menu header">
      <li>
        <h1><a href="#"><:= title:></a></h1>
        <ul>
          <li><a href="<:script:>?id=-1" accesskey="h" title="AccessKey = h">Manage Site Articles</a></li>
          <li class="divider"></li>
          <:- iterator begin crumbs:>
          <li><a href="<:script:>?id=<:crumb id:>&amp;referer=1"><:crumb title:> (Level <:crumb level:>)</a></li>
          <:- iterator end crumbs:>
          <li class="divider"></li>
          <li class="disabled"><span><:article title:> (Level <:article level:>)</span></li>
        </ul>
      </li>
    </ul>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <:- if Article parentid:>
<:include admin/include/toolbar_article.tmpl:>
    <:- or Article:>
<:include admin/include/toolbar_site.tmpl:>
    <:- eif Article:>
  </header>
  <:- if Kids:>
  <fieldset>
    <legend>Children</legend>
    <:- if UserCan bse_edit_reorder_children:article:>
    Sort by:
    <ul class="meta group">
      <li><a href="<:= cfg.admin_url("reorder", { "stepparent": article.id, "sort": "title", "r": refresh }) :>">title</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "stepparent": article.id, "sort": "id", "r": refresh }) :>">date</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "stepparent": article.id, "sort": "listed", "r": refresh }) :>">listed</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "stepparent": article.id, "reverse": 1, "r": refresh }) :>">reverse</a></li>
      <li><:ifCgi sort:><a href="<:= cfg.admin_url("add", { "id": article.id, "_t": "kids", "tree": cgi.param("tree") }) :>">advanced &times;</a><:or:><a href="<:= cfg.admin_url("add", { "id": article.id, "_t": "kids", "tree": cgi.param("tree"), "sort": 1 }) :>">advanced</a><:eif:></li>
    </ul>
    <:- if Cgi sort:>
<:include admin/include/edit_article_sort.tmpl optional:>
    <:- eif Cgi:>
    <:- eif UserCan:>
    <:-.define article :>
      <:-.set indicator = [] -:>
      <:-.if article.is_expired :>
        <:-% indicator.push("red") :>
      <:-.elsif !article.is_released :>
        <:-% indicator.push("white") :>
      <:-.elsif article.listed == 0 :>
        <:-% indicator.push("gray") :>
      <:-.elsif article.listed == 1 :>
        <:-% indicator.push("green") :>
      <:-.elsif article.listed == 2 :>
        <:-% indicator.push("orange") :>
      <:-.end if:>
      <li>
        <span class="<:-= globals.odd ? " odd" : "" :>">
          <:-.set globals.odd = !globals.odd :>
          <a href="<:= cfg.admin_url("add", { "id": article.id, "preview": 1 }) :>"<:.if article.parentid != parentid :> data-widget="stepkid"<:.end if:>>
            <span class="indicator <:= indicator.join(" ") :>"></span>
            <:= article.titleAlias or article.title :><:.if article.titleAlias:> (<:= article.title :>)<:.end if:>
          </a>
          <span class="actions">
            <:-.set typename = article.generator.replace("Generate::", "") :>
            <:-.if article.parentid != parentid :>
            <a href="<:= cfg.admin_url("add", { "id": parentid, "stepkid": article.id, "_t": "steps", "r": refresh }) :>" class="button gray small">Edit</a>
            <:-.if request.user_can("bse_edit_stepkid_delete",article) and request.user_can("bse_edit_stepparent_delete",parentid) :>
            <a href="<:= cfg.admin_url("add", { "id": parentid, "stepkid": article.id, "typename": typename, "del_stepkid": 1, "_csrfp": request.get_csrf_token("admin_remove_stepkid"), "r": refresh }) :>" class="button red small" data-action="Delete" data-object="Stepchild" data-confirm="Are you sure you want to remove the Stepchild relationship?" data-info="Continuing with this action will permanently remove this Stepchild relationship. This action does not delete the original <:= typename :>.">Delete</a>
            <:-.else:>
            <a class="button red small disabled">Delete</a>
            <:-.end if:>
            <:-.else:>
            <a href="<:= cfg.admin_url("add", { "id": article.id, "referer": 1 }) :>" class="button gray small">Edit</a>
            <:-.if request.user_can("bse_edit_delete_article",article) :>
            <a href="<:= cfg.admin_url("add", { "id": article.id, "remove": 1, "_csrfp": request.get_csrf_token("admin_remove_article"), "r": refresh }) :>" class="button red small" data-action="Delete" data-object="<:= typename :>" >Delete</a>
            <:-.else:>
            <a class="button red small disabled">Delete</a>
            <:-.end if:>
            <:-.end if:>
            <:-.if request.user_can("edit_reorder_children",parentid) :>
            <:-.call "move", "article": article, "parent": { "id": parentid }, "admin": 1, "r": refresh :>
            <:-.end if:>
          </span>
        </span>
      <:-# do not list children for step kids, could lead to infinite recursion :>
      <:-.if article.parentid == parentid and level < 10 and cgi.param("tree") :>
        <:-.set kids = [ article.allkids ] :>
        <:-.if kids.size :>
      <ul>
        <:-.for kid in kids:>
        <:-.call "article", "article": kid, "parentid": article.id, "level": level+1 :>
        <:-.end for:>
      </ul>
        <:-.end if:>
      <:-.end if:>
      </li>
    <:-.end define :>
    <:-.set globals.odd = 1 :>
    <ul class="inset list tree">
      <:-.set kids = [ article.allkids ] :>
      <:-.for kid in kids :>
      <:-.call "article", "article": kid, "parentid": article.id, "level": 1 :>
      <:-.end for:>
    </ul>
  </fieldset>
  <:- or Kids:>
  <fieldset>
    <legend>Children</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No children to display</p>
      <:- if Or [ifUserCan bse_edit_add_child:article] [ifUserCan bse_edit_stepkid_add:article]:>
      <p>
        <:- if UserCan bse_edit_add_child:article:>
        <:- if HaveChildType:>
        <:- switch:>
        <:- case Match [article generator] "Catalog":>
        <a href="<:script:>?parentid=<:article id:>&amp;type=Catalog&amp;referer=1" data-icon="add" class="button white">New Catalog…</a>
        <a href="<:script:>?parentid=<:article id:>&amp;type=Product&amp;referer=1" data-icon="add" class="button white">New Product…</a>
        <:- case default:>
        <a href="<:script:>?parentid=<:article id:>&amp;type=Article&amp;referer=1" data-icon="add" class="button white">New Child…</a>
        <:- endswitch:>
        <:- eif HaveChildType:>
        <:- eif UserCan:>
        <:- if UserCan bse_edit_stepkid_add:article:>
        <a href="<:script:>?id=<:article id:>&amp;_t=steps&amp;referer=1" data-icon="add" class="button white">New Stepchild…</a>
        <:- eif UserCan:>
      </p>
      <:- eif Or:>
    </div>
  </fieldset>
  <:- eif Kids:>
  <p class="buttons">
    <a href="<:switch:><:case Match [referer] [adminurl admin]:><:adminurl add id [cond [cgi referer] [cgi referer] [article id]] preview 1:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
  </p>
</div>