<:wrap admin/base.tmpl title=>"Manage Articles" :>
<div class="window">
  <h1><:param title:></h1>
    <a href="<:adminurl add:>?id=1&amp;preview=1" accesskey="p" title="Preview <:typename article:>" class="button gray small">Preview</a>
    <:if And [ifImages] [ifOr [ifUserCan bse_edit_images_save:article] [ifUserCan bse_edit_save:article]]:>
    <a href="<:script:>?id=<:article id:>&amp;_t=img" class="button gray small">Images</a>
    <:- or And:><:eif And:>
    <:if And [ifFiles] [ifOr [ifUserCan bse_edit_files_save:article] [ifUserCan bse_edit_save:article]]:>
    <a href="<:script:>?id=<:article id:>&amp;_t=file" class="button gray small">Files</a>
    <:- or And:><:eif And:>
    <:- if UserCan bse_edit_add_child:article:>
    <a href="<:script:>?parentid=<:article id:>&amp;type=Article" accesskey="a" title="AccessKey = a" class="button blue small">Add Article</a>
    <:- or UserCan:><:eif UserCan:>
    <:- if UserCan bse_edit_images_add:article:>
    <a href="<:script:>?id=<:article id:>&amp;_t=imgupload" accesskey="i" title="AccessKey = i" class="button blue small">Add Image</a>
    <:- or UserCan:><:eif UserCan:>
    <:- if UserCan bse_edit_files_add:article:>
    <a href="<:script:>?id=<:article id:>&amp;_t=fileupload" accesskey="f" title="AccessKey = f" class="button blue small">Add File</a>
    <:- or UserCan:><:eif UserCan:>
  <nav data-role="toolbar">
  </nav>
  <:- if Children:>
  <fieldset class="children">
    <legend>Sections</legend>
    <:- if UserCan bse_edit_reorder_children:article:>
    Sort by:
    <ul class="meta group">
      <li><a href="<:adminurl reorder:>?parentid=<:article id:>&amp;sort=title&amp;refreshto=<:script:>%3Fid=<:article id:>%26m=Sections%2Bsorted%2Bby%2Btitle">title</a></li>
      <li><a href="<:adminurl reorder:>?parentid=<:article id:>&amp;sort=id&amp;refreshto=<:script:>%3Fid=<:article id:>%26m=Sections%2Bsorted%2Bby%2Bdate">date</a></li>
      <li><a href="<:adminurl reorder:>?parentid=<:article id:>&amp;sort=listed&amp;refreshto=<:script:>%3Fid=<:article id:>%26m=Sections%2Bsorted%2Bby%2Blisted">listed</a></li>
      <li><a href="<:adminurl reorder:>?parentid=<:article id:>&amp;reverse=1&amp;refreshto=<:script:>%3Fid=<:article id:>%26m=Sections%2Bsorted%2Bin%2Breverse">reverse</a></li>
      <li><:ifCgi sort:><a href="<:script:>?id=<:article id:>">advanced &times;</a><:or:><a href="<:script:>?id=<:article id:>&amp;sort=1">advanced</a><:eif:></li>
    </ul>
    <:- if Cgi sort:>
<:include admin/include/edit_article_sort.tmpl optional:>
    <:- or Cgi:><:eif Cgi:>
    <:- or UserCan:><:eif UserCan:>
    <ul class="children">
      <:- iterator begin children:>
      <li>
        <a href="<:script:>?id=<:child id:>&amp;preview=1" title="<:typename child:>"><span class="listed <:switch:><:case Arithmetic [date "%Y%m%d" child release] > [today "%Y%m%d"]:>gray<:case Arithmetic [today "%Y%m%d"] > [date "%Y%m%d" child expire]:>red<:case Eq [child listed] 0 :>gray<:case Eq [child listed] 2 :>orange<:case default:>green<:endswitch:>"><:typename child:></span> <:child title:></a>
        <span>
          <a href="<:script:>?id=<:child id:>" class="button gray small">Edit</a>
          <:- if UserCan bse_edit_delete_article:child:>
          <a href="<:script:>?id=<:child id:>&amp;remove=1&amp;_csrfp=<:csrfp admin_remove_article:>" onclick="return window.confirm('Are you sure you want to delete this <:typename child:>?')" class="button red small">Delete</a>
          <:- or UserCan:>
          <a class="button red small disabled">Delete</a>
          <:- eif UserCan:>
          <:movechild:>
        </span>
      </li>
      <:- iterator end children:>
    </ul>
  </fieldset>
  <:- or Children:><:eif Children:>
</div>
