<:-.set is_article = article.id and article.id > 0 -:>
<:-.set typename = article.generator.replace(/^(?:BSE::)?Generate::(\w+)$/, "$1") -:>
<:-.set is_new = not(is_article) -:>
<:-.set is_preview = cgi.param("preview") -:>
<:-.wrap "admin/base.tmpl", "title": ( is_preview ? "Preview" : ( is_new ? "New " : "Edit " ) _ typename ) :>

<:-.set referer = request.referer -:>
<:-.set cgi_referer = cgi.param("referer") -:>

<:-.if referer =~ cfg.admin_url("admin") -:>
<:-.set done_url = cfg.admin_url("add", { "id": ( cgi_referer ? cgi_referer : article.id ), "preview": 1 }) -:>

<:-.elsif cgi_referer and referer and referer !~ /logon/ -:>
<:-.set done_url = referer.replace(/(&amp;|&|\?)referer=[\d]+/, "").replace(/\.pl&(mp;)?/, ".pl?") -:>

<:-.else -:>
<:-.set done_url = cfg.admin_url("add", { "id": article.parentid }) -:>

<:-.end if -:>

<:-.set object = article -:>
<:-.set is_disabled = @{ name: is_new ? 0 : not(request.user_can("edit_field_edit_" _ name, article )) } -:>

<div class="window">
  <header>
    <:-.set pagetitle = params.title _ ( is_article ? " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" : "" ) :>
    <:-.if is_new:>
    <h1><:= pagetitle:></h1>
    <:-.else:>
    <ul class="menu header">
      <li>
        <h1><a href="#"><:= pagetitle:></a></h1>
        <ul>
          <li class="disabled"><span><:= article.titleAlias or article.title:> (Level <:= article.level:>)</span></li>
          <li class="divider"></li>
          <:-.set crumbs = [ article.ancestors ] -:>
          <:-.for crumb in crumbs:>
          <li><a href="<:= cfg.admin_url("add", { "id": crumb.id, "referer": 1 }) :>"><:= crumb.titleAlias or crumb.title:> (Level <:= crumb.level:>)</a></li>
          <:-.end for:>
          <li class="divider"></li>
          <li><a href="<:= cfg.admin_url("add", { "id": -1 }) :>" accesskey="h" title="AccessKey = h">Manage Site Articles</a></li>
        </ul>
      </li>
    </ul>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
<:include admin/include/toolbar_article.tmpl:>
    <:-.end if:>
  </header>
  <:-.if is_article and not(article.listed) :>
  <p data-role="status" class="warning">
    <:-.if request.user_can("bse_edit_field_edit_listed", article):>
    <a href="<:= cfg.admin_url("add", { "id": article.id, "unhide": 1, "_csrfp": request.get_csrf_token("admin_save_article") }) :>" class="button orange small right">Show</a>
    <:-.end if:>
    This <:= typename:> is hidden, it will not be generated and it will not appear in menus or search results.
  </p>
  <:-.end if:>
  <form action="<:script:>" method="post" enctype="multipart/form-data" data-object="<:= typename:>">
    <input type="hidden" name="lastModified" value="<:= article.lastModified:>" />
    <input type="hidden" name="id" value="<:= article.id:>" />
    <input type="hidden" name="type" value="<:= typename:>" />
    <input type="hidden" name="r" value="
    <:- switch -:>

    <:- # from anywhere: refresh to supplied r param -:>
    <:- case Cgi r -:>
    <:cgi r:>

    <:- case New -:>
        <:- switch -:>

        <:- # from nowhere: refresh to article admin on creation -:>
        <:- case !Referer -:>
        <:adminurl add:>

        <:- # from admin children: refresh to children admin on creation -:>
        <:- case Match [referer] "kids" -:>
        <:adminurl add id [cgi parentid] _t "kids" m [cat [typename article] " " Created]:>

        <:- # from admin tree: refresh to tree admin on creation -:>
        <:- case Match [referer] "tree" -:>
        <:adminurl add id [cgi parentid] _t "tree" m [cat [typename article] " " Created]:>

        <:- # from admin: refresh to new article admin on creation -:>
        <:- case Match [referer] [adminurl add] -:>
        <:adminurl add m [cat [typename article] " " Created]:>

        <:- # from preview with referer: refresh to top article preview on creation -:>
        <:- case Cgi referer -:>
        <:adminurl add id [cgi referer] preview 1:>

        <:- # from preview: refresh to new article preview on creation -:>
        <:- case Match [referer] [adminurl admin] -:>
        <:adminurl add preview 1:>

        <:- endswitch -:>
    <:- case default -:>
        <:- switch -:>

        <:- # from nowhere: refresh to article admin on save changes -:>
        <:- case !Referer -:>
        <:adminurl add id [article id]:>

        <:- # from admin: refresh to article admin on save changes -:>
        <:- case Match [referer] [adminurl add] -:>
        <:adminurl add id [article id]:>

        <:- # from preview with referer: refresh to top article preview on save changes -:>
        <:- case Cgi referer -:>
        <:adminurl add id [cgi referer] preview 1:>

        <:- # from preview: refresh to article preview on save changes -:>
        <:- case Match [referer] [adminurl admin] -:>
        <:adminurl add id [article id] preview 1:>

        <:- endswitch -:>
    <:- endswitch -:>
    " />
    <:csrfp admin_add_article hidden:>
    <:csrfp admin_save_article hidden:>
    <fieldset>
      <legend>Content</legend>
      <div class="full">
        <label for="title">Title <span class="required">*</span> <:.call "error_img_n", "name":"title":></label>
        <span>
          <:.call "input", "name":"title", "field": { "required":1, "maxlength":255 }, "options": { "disabled":is_disabled("title"), "autofocus":is_new } :>
          <:help edit title:>
        </span>
      </div>
      <:-.if cfg.entry("title alias", "level" _ article.level):>
      <div>
        <label for="titleAlias">Title alias <:.call "error_img_n", "name":"titleAlias":></label>
        <span>
          <:.call "input", "name":"titleAlias", "field": { "maxlength":60 }, "options": { "disabled":is_disabled("titleAlias") } :>
          <:help edit titleAlias:>
        </span>
      </div>
      <:-.end if:>
      <:-.if article.generator =~ "Product":>
      <div class="full">
        <label for="description">Description <:.call "error_img_n", "name":"description":></label>
        <span>
          <:.call "input", "name":"description", "field": { "maxlength":255 }, "options": { "disabled":is_disabled("description") } :>
          <:help edit description:>
        </span>
      </div>
      <:-.end if:>
      <div class="full">
        <label for="body">Body <:.call "error_img_n", "name":"body":></label>
        <span>
          <:.call "input", "name":"body", "field": { "htmltype":"textarea" }, "options": { "disabled":is_disabled("body") } :>
          <:help edit body:>
        </span>
      </div>
      <div class="full">
        <label for="summary">Summary <:.call "error_img_n", "name":"summary":></label>
        <span>
          <:.call "input", "name":"summary", "field": { "htmltype":"textarea" }, "options": { "disabled":is_disabled("summary") } :>
          <:help edit summary:>
        </span>
      </div>
      <div>
        <label for="linkAlias">Link alias <:.call "error_img_n", "name":"linkAlias":></label>
        <span>
          <:.call "input", "name":"linkAlias", "field": { "maxlength":255 }, "options": { "disabled":is_disabled("linkAlias") } :>
          <:help edit linkAlias:>
        </span>
      </div>
      <:-.if is_article:>
      <ul class="meta data">
        <li><span><:= typename:> Id</span> <:= article.id:></li>
        <li><span>Created</span> <:= bse.date("%d-%b-%Y / %r", article.created ):></li>
        <li><span>Created by</span> <:= article.createdBy ? article.createdBy : "unknown":></li>
        <li><span>Modified</span> <:= bse.date("%d-%b-%Y / %r", article.lastModified ):></li>
        <li><span>Modified by</span> <:= article.lastModifiedBy ? article.lastModifiedBy : "unknown":></li>
      </ul>
      <:-.end if:>
    </fieldset>
    <:-.if article.generator =~ "Product":>
    <fieldset>
      <legend>Pricing</legend>
      <div>
        <label for="retailPrice">Retail <:= cfg.entry("shop", "currency", "$"):> <:.call "error_img_n", "name":"retailPrice":></label>
        <span>
          <:.call "input", "name":"retailPrice", "field": { "type":"money", "maxlength":11 }, "options": { "placeholder":"0.00", "disabled":is_disabled("retailPrice") } :>
          <:help edit retailPrice:>
        </span>
      </div>
      <:-.if cfg.entry("products", "legacy_gst"):>
      <div>
        <label for="gst">GST <:= cfg.entry("shop", "currency", "$"):> <:.call "error_img_n", "name":"gst":></label>
        <span>
          <:.call "input", "name":"gst", "field": { "type":"money", "maxlength":11 }, "options": { "placeholder":"0.00", "disabled":is_disabled("gst") } :>
          <:help edit gst:>
        </span>
      </div>
      <:-.end if:>
      <:-.if cfg.entry("products", "legacy_wholesale"):>
      <div>
        <label for="wholesalePrice">Wholesale <:= cfg.entry("shop", "currency", "$"):> <:.call "error_img_n", "name":"wholesalePrice":></label>
        <span>
          <:.call "input", "name":"wholesalePrice", "field": { "type":"money", "maxlength":11 }, "options": { "placeholder":"0.00", "disabled":is_disabled("wholesalePrice") } :>
          <:help edit wholesalePrice:>
        </span>
      </div>
      <:-.end if:>
      <:- if Price_tiers:>
        <input type="hidden" name="save_pricing_tiers" value="1" />
        <:- iterator begin price_tiers:>
        <div>
          <label for="tier_price_<:price_tier id:>"><:price_tier description:> <:cfg shop currency $:> <:error_img [cat "tier_price_" [price_tier id]]:></label>
          <span>
            <input type="text" name="tier_price_<:price_tier id:>" id="tier_price_<:price_tier id:>" value="<:ifEq [tier_price] "":><:oldi [cat "tier_price_" [price_tier id]] 0:><:or:><:oldi [cat "tier_price_" [price_tier id]] 0 money tier_price:><:eif:>" placeholder="0.00" <:ifFieldPerm retailPrice:><:or:>disabled="disabled" <:eif:>class="<:ifError_img [cat "tier_price_" [price_tier id]]:>error<:eif:>" />
            <:help edit tier_price:>
          </span>
        </div>
        <:- iterator end price_tiers:>
      <:- eif Price_tiers:>
    </fieldset>
    <:-.end if:>
    <details>
      <summary>More attributes</summary>
      <:- include admin/include/article_cfg_custom.tmpl:>
      <:-.if article.generator =~ "Product":>
      <fieldset>
        <legend>Stock</legend>
        <div>
          <label for="product_code">Product code <:.call "error_img_n", "name":"product_code":></label>
          <span>
            <:.call "input", "name":"product_code", "field": { "maxlength":80 }, "options": { "disabled":is_disabled("product_code") } :>
            <:help edit product_code:>
          </span>
        </div>
        <div>
          <label for="leadTime">Lead time <:.call "error_img_n", "name":"leadTime":></label>
          <span>
            <:.call "input", "name":"leadTime", "field": { "maxlength":80 }, "options": { "placeholder":"days", "disabled":is_disabled("leadTime") } :>
            <:help edit leadTime:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Measurements</legend>
        <div>
          <label for="weight">Weight <:.call "error_img_n", "name":"weight":></label>
          <span>
            <:.call "input", "name":"weight", "field": { "maxlength":11 }, "options": { "placeholder":"grams", "disabled":is_disabled("weight") } :>
            <:help edit weight:>
          </span>
        </div>
        <div>
          <label for="length">Length <:.call "error_img_n", "name":"length":></label>
          <span>
            <:.call "input", "name":"length", "field": { "maxlength":11 }, "options": { "placeholder":"millimetres", "disabled":is_disabled("length") } :>
            <:help edit length:>
          </span>
        </div>
        <div>
          <label for="width">Width <:.call "error_img_n", "name":"width":></label>
          <span>
            <:.call "input", "name":"width", "field": { "maxlength":11 }, "options": { "placeholder":"millimetres", "disabled":is_disabled("width") } :>
            <:help edit width:>
          </span>
        </div>
        <div>
          <label for="height">Height <:.call "error_img_n", "name":"height":></label>
          <span>
            <:.call "input", "name":"height", "field": { "maxlength":11 }, "options": { "placeholder":"millimetres", "disabled":is_disabled("height") } :>
            <:help edit height:>
          </span>
        </div>
      </fieldset>
      <:- if Dboptions:>
      <fieldset>
        <legend>Options</legend>
        <ul class="full list">
          <:- iterator begin dboptions:>
          <li>
            <label><span class="indicator <:switch:><:case Dboption enabled:>green<:case default:>gray<:endswitch:>"></span> <:dboption name:></label>
            <span>
              <:- if UserCan bse_edit_prodopt_edit:article:>
              <a id="editoption<:dboption id:>" href="<:script:>?id=<:article id:>&amp;a_edit_option=1&amp;option_id=<:dboption id:>" class="button white small">Edit</a>
              <:- or UserCan:>
              <a class="button white small disabled">Edit</a>
              <:- eif UserCan:>
              <:- if UserCan bse_edit_prodopt_delete:article:>
              <a href="<:script:>?id=<:article id:>&amp;a_delete_option=1&amp;option_id=<:dboption id:>&amp;_csrfp=<:csrfp admin_delete_option:>" data-action="Delete" data-object="Option" class="button red small">Delete</a>
              <:- or UserCan:>
              <a class="button red small disabled">Delete</a>
              <:- eif UserCan:>
              <:- ifUserCan bse_edit_prodopt_move:article:>
              <:dboption_move:>
              <:- eif:>
            </span>
          </li>
          <:- iterator end dboptions:>
        </ul>
      </fieldset>
      <:- eif Dboptions:>
      <:-.end if:>
      <fieldset>
        <legend>Structure</legend>
        <div>
          <label for="parentid">Parent <:error_img parentid:></label>
          <span>
            <select name="parentid" id="parentid"<:ifFieldPerm parentid:><:or:> disabled="disabled"<:eif:>>
              <option value="">Please select a <:ifArticle parent:><:parentType:><:or:>Section<:eif:></option><:ifFieldPerm parentid:><:if Article parentid:>
              <:list:><:or Article:>
              <option value="-1" selected="selected">No parent - this is a section</option><:eif Article:>
              <:or:>
              <option value="" selected="selected"><:parent title:> (<:parent id:>)</option><:eif:>
            </select>
            <:help edit section:>
          </span>
        </div>
        <:- if Cfgsection [concatenate level [article level] " menus"]:>
        <div>
          <label for="menu">Menu <:error_img menu:></label>
          <span>
            <select name="menu" id="menu"<:ifFieldPerm menu:><:or:> disabled="disabled"<:eif:>>
              <:- iterator begin cfgsection [concatenate level [article level] " menus"] sort=key:>
              <option value="<:cfgentry key:>"<:if Eq [old menu] [cfgentry key]:> selected="selected"<:eif Eq:>><:cfgentry value:></option>
              <:- iterator end cfgsection:>
            </select>
            <:help edit menu:>
          </span>
        </div>
        <:- eif Cfgsection:>
      </fieldset>
      <fieldset>
        <legend>Categorisation</legend>
        <div>
          <label for="category">Category <:error_img category:></label>
          <span><:ifFieldPerm category:>
            <:replace [category] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":><:or:>
            <:replace [category] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\" disabled=\"disabled\"":><:eif:>
            <:help edit category:>
          </span>
        </div>
        <input type="hidden" name="_save_tags" value="1" />
        <:-.set tags = cgi.param("_save_tags") ? [ cgi.param("tags") ] : [ "", article.tags ] :>
        <:-.for tag in tags :>
        <div class="field">
          <label for="tag_<:= loop.count :>"><:= loop.is_first ? "Tag name" : "" :> <:.call "error_img_n", "name":"tags", "index":loop.index :></label>
          <span class="field-input">
            <:.call "input", "name":"tags", "field": { "maxlength":80 }, "options": { "default":tag, "id":"tag_" _ loop.count, "disabled":is_disabled("tags") }, "index":loop.index :>
            <:help edit tags:>
          </span>
          <span class="field-actions">
            <:-.if loop.is_first:>
            <button class="button white small" onclick="plus(this); return false;" data-icon="add" data-icon-only="true">Add</button>
            <button class="button white small" onclick="minus(this); return false;" disabled="disabled" data-icon="subtract" data-icon-only="true">Delete</button>
            <:-.end if:>
          </span>
        </div>
        <:-.end for:>
      </fieldset>
      <fieldset>
        <legend>Presentation</legend>
        <div>
          <label for="template">Template <:error_img template:></label>
          <span><:ifFieldPerm template:>
            <:replace [templates] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":><:or:>
            <:replace [templates] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\" disabled=\"disabled\"":><:eif:>
            <:help edit template:>
          </span>
        </div>
        <div>
          <label for="force_dynamic">Page display <:error_img force_dynamic:></label>
          <span>
            <input type="hidden" name="save_force_dynamic" value="1" />
            <select name="force_dynamic" id="force_dynamic" <:ifFieldPerm force_dynamic:><:or:>disabled="disabled"<:eif:>>
              <option value=""><:ifAnd [article cached_dynamic] [ifEq [article force_dynamic] "0"]:>Dynamic (Inherited)<:or:>Static<:eif:></option>
              <option value="1"<:ifArticle force_dynamic:> selected="selected"<:eif:>>Dynamic</option>
            </select>
            <:help edit force_dynamic:>
          </span>
        </div>
        <div>
          <label for="summaryLength">Summary length <:.call "error_img_n", "name":"summaryLength":></label>
          <span>
            <:.call "input", "name":"summaryLength", "field": { "maxlength":5 }, "options": { "placeholder":"characters", "disabled":is_disabled("summaryLength") } :>
            <:help edit summaryLength:>
          </span>
        </div>
        <div>
          <label for="threshold">Embed threshold <:.call "error_img_n", "name":"threshold":></label>
          <span>
            <:.call "input", "name":"threshold", "field": { "maxlength":10 }, "options": { "placeholder":"children", "disabled":is_disabled("threshold") } :>
            <:help edit threshold:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Publication</legend>
        <div>
          <label for="listed">List article <:error_img listed:></label>
          <span><:if FieldPerm listed:>
            <:replace [list listed] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":><:or FieldPerm:>
            <:replace [list listed] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\" disabled=\"disabled\"":><:eif FieldPerm:>
            <:help edit listed:>
          </span>
        </div>
        <div>
          <label for="release">Release date <:.call "error_img_n", "name":"release":></label>
          <span>
            <:.call "input", "name":"release", "field": { "type":"date", "maxlength":10 }, "options": { "placeholder":"DD/MM/YYYY", "disabled":is_disabled("release") } :>
            <:help edit listed:>
          </span>
        </div>
        <div>
          <label for="expire">Expiry date <:.call "error_img_n", "name":"expire":></label>
          <span>
            <:.call "input", "name":"expire", "field": { "type":"date", "maxlength":10 }, "options": { "placeholder":"DD/MM/YYYY", "disabled":is_disabled("expire") } :>
            <:help edit expire:>
          </span>
        </div>
      </fieldset>
      <:- if Groups:>
      <fieldset>
        <legend>Access <:error_img groups:></legend>
        <ul>
          <:- iterator begin groups:>
          <li>
            <input type="hidden" name="save_group_id" value="<:group id:>" />
            <input type="checkbox" name="group_id" id="group_id<:group id:>" value="<:group id:>" <:ifOr [ifGroupRequired] [ifEq [old group_id] [group id]]:>checked="checked" <:eif:><:ifFieldPerm group_id:><:or:>disabled="disabled" <:eif:>/>
            <label for="group_id<:group id:>"><:if Match [group id] "^-":><:group name:><:or Match:><:if UserCan bse_members_group_edit:><a href="<:adminurl siteusers:>?a_groupmemberform=1&amp;id=<:group id:>&amp;referer=1"><:group name:></a><:or UserCan:><:group name:><:eif UserCan:><:eif Match:></label>
          </li>
          <:- iterator end groups:>
        </ul>
        <:help edit groups:>
      </fieldset>
      <:- eif Groups:>
      <fieldset>
        <legend>Flags <:error_img flags:></legend>
        <ul>
          <:- iterator begin flags:>
          <li>
            <input type="checkbox" name="flags" id="flags_<:flag id:>" value="<:flag id:>" <:ifOr [ifFlagSet [flag id]] [ifMatch [old flags] [flag id]]:>checked="checked" <:eif:><:ifFieldPerm flags:><:or:>disabled="disabled" <:eif:>/>
            <label for="flags_<:flag id:>"><:flag desc |h:></label>
          </li>
          <:- iterator end flags:>
        </ul>
        <:help edit flags:>
      </fieldset>
      <fieldset>
        <legend>Metadata</legend>
        <div>
          <label for="pageTitle">Page title <:.call "error_img_n", "name":"pageTitle":></label>
          <span>
            <:.call "input", "name":"pageTitle", "field": { "maxlength":255 }, "options": { "disabled":is_disabled("pageTitle") } :>
            <:help edit pageTitle:>
          </span>
        </div>
        <div>
          <label for="metaDescription">Meta description <:.call "error_img_n", "name":"metaDescription":></label>
          <span>
            <:.call "input", "name":"metaDescription", "field": { "maxlength":255 }, "options": { "disabled":is_disabled("metaDescription") } :>
            <:help edit metaDescription:>
          </span>
        </div>
        <div>
          <label for="metaKeywords">Meta keywords <:.call "error_img_n", "name":"metaKeywords":></label>
          <span>
            <:.call "input", "name":"metaKeywords", "field": { "maxlength":255 }, "options": { "disabled":is_disabled("metaKeywords") } :>
            <:help edit metaKeywords:>
          </span>
        </div>
        <div>
          <label for="author">Author name <:.call "error_img_n", "name":"author":></label>
          <span>
            <:.call "input", "name":"author", "field": { "maxlength":255 }, "options": { "disabled":is_disabled("author") } :>
            <:help edit author:>
          </span>
        </div>
        <div>
          <label for="keyword">Local keywords <:.call "error_img_n", "name":"keyword":></label>
          <span>
            <:.call "input", "name":"keyword", "field": { "maxlength":255 }, "options": { "placeholder":"comma separated", "disabled":is_disabled("keyword") } :>
            <:help edit keyword:>
          </span>
        </div>
        <:.call "edit_metadata" :>
      </fieldset>
      <:-.if article.generator =~ "Article":><:include admin/include/article_custom.tmpl optional:>
      <:-.elsif article.generator =~ "Catalog":><:include admin/include/catalog_custom.tmpl optional:>
      <:-.elsif article.generator =~ "Seminar":><:include admin/include/seminar_custom.tmpl optional:>
      <:-.elsif article.generator =~ "Product":><:include admin/include/product_custom.tmpl optional:>
      <:-.end if:>
      <:- if Or [ifMatch [article generator] "Product"] [ifMatch [article generator] "Seminar"]:>
      <:- if Subscriptions:>
      <fieldset>
        <legend>Subscription</legend>
        <div>
          <label for="subscription_id">Subscription <:error_img subscription_id:></label>
          <span>
            <select name="subscription_id" id="subscription_id" onchange="if (this.value != '-1') { this.form.subscription_usage.disabled = false, this.form.subscription_period.disabled = false } else { this.form.subscription_usage.disabled = true, this.form.subscription_period.disabled = true };"<:ifFieldPerm subscription_id:><:or:> disabled=disabled"<:eif:>>
              <option value="-1"<:ifEq [old subscription_id] "-1":> selected="selected"<:eif:>>(nothing)</option>
              <:- iterator begin subscriptions:>
              <option value="<:subscription subscription_id:>"<:ifEq [old subscription_id] [subscription subscription_id]:> selected="selected"<:eif:>><:subscription title:></option>
              <:- iterator end subscriptions:>
            </select>
            <:help edit subscription_id:>
          </span>
        </div>
        <div>
          <label for="subscription_period">Duration <:.call "error_img_n", "name":"subscription_period":></label>
          <span>
            <:.call "input", "name":"subscription_period", "field": { "maxlength":11 }, "options": { "placeholder":"months", "disabled":is_disabled("subscription_period") } :>
            <:help edit subscription_period:>
          </span>
        </div>
        <div>
          <label for="subscription_usage">Usage <:error_img subscription_usage:></label>
          <span>
            <select name="subscription_usage" id="subscription_usage"<:ifFieldPerm subscription_usage:><:or:> disabled="disabled"<:eif:>>
              <option value="3"<:ifEq [old subscription_usage] "3":> selected="selected"<:eif:>>Start or renew a subscription</option>
              <option value="1"<:ifEq [old subscription_usage] "1":> selected="selected"<:eif:>>Start a subscription only</option>
              <option value="2"<:ifEq [old subscription_usage] "2":> selected="selected"<:eif:>>Renew a subscription only</option>
            </select>
            <:help edit subscription_usage:>
          </span>
        </div>
        <div>
          <label for="subscription_required">Requires <:error_img subscription_required:></label>
          <span>
            <select name="subscription_required" id="subscription_required"<:ifFieldPerm subscription_required:><:or:> disabled="disabled"<:eif:>>
              <option value="-1"<:ifEq [old subscription_required] "-1":> selected="selected"<:eif:>>(nothing)</option>
              <:- iterator begin subscriptions:>
              <option value="<:subscription subscription_id:>"<:ifEq [old subscription_required] [subscription subscription_id]:> selected="selected"<:eif:>><:subscription title:></option>
              <:- iterator end subscriptions:>
            </select>
            <:help edit subscription_required:>
          </span>
        </div>
      </fieldset>
      <:- eif Subscriptions:>
      <:- eif Or:>
      <:- if Cfg articles legacy_thumbimage:>
      <fieldset>
        <legend>Thumbnail</legend>
        <div>
          <label for="thumbnail"><:ifArticle thumbImage:>Change image<:or:>Image<:eif:> <:error_img thumbnail:></label>
          <span>
            <input type="file" name="thumbnail" id="thumbnail"<:ifFieldPerm thumbnail:><:or:> disabled="disabled" <:eif:> />
          </span>
        </div>
        <:- if Article thumbImage:>
        <div>
          <label>Original</label>
          <span>
            <img src="<:cfg uri images:>/<:article thumbImage:>" width="<:article thumbWidth:>" height="<:article thumbHeight:>" />
          </span>
          <span>
            <:- if FieldPerm thumbnail:>
            <a href="<:script:>?id=<:article id:>&amp;remove_thumb=1<:if Match [article generator] "Product":>&amp;retailPrice=<:money product retailPrice:>&amp;wholesalePrice=<:money product wholesalePrice:>&amp;gst=<:money product gst:><:or Match:><:eif Match:>&amp;flags=<:article flags:>&amp;save=1&amp;lastModified=<:article lastModified:>&amp;_csrfp=<:csrfp admin_save_article:>" data-action="Delete" data-object="Thumbnail" class="button red small">Delete</a>
            <:- or FieldPerm:>
            <a class="button red small disabled">Delete</a>
            <:- eif FieldPerm:>
          </span>
        </div>
        <:- eif Article:>
      </fieldset>
      <:- eif Cfg:>
      <:-.set images = [ article.images ]:>
      <:-.if images.size:>
      <fieldset>
        <legend>Images</legend>
        <ul class="full list">
          <:-.for image in images:>
          <li>
            <a href="<:= image.src:>" onclick="window.open(this.href, 'fullimage', 'width=<:= 40 + image.width:>,height=<:= 90 + image.height:>,location=no,status=no,menubar=no,scrollbars=yes'); return false;"><:= image.thumb("geo","editor", "nolink", 1 ) |raw:></a> <:.if image.name:>(<:= image.name:>)<:.end if:>
            <span>
              <:-.if request.user_can("bse_edit_images_save", article ):>
              <a href="<:= cfg.admin_url2("add", "edit_image", { "id":article.id, "image_id":image.id }):>" class="button white small">Edit</a>
              <:-.else:><a class="button white small disabled">Edit</a>
              <:-.end if:>
              <:-.if request.user_can("bse_edit_images_delete", article ):>
              <a href="<:= cfg.admin_url("add", { "removeimg_" _ image.id:1, "id":article.id, "_csrfp":request.get_csrf_token("admin_remove_image") }):>" data-action="Delete" data-object="Image" class="button red small">Delete</a>
              <:-.else:><a class="button red small disabled">Delete</a>
              <:-.end if:>
              <:-.if request.user_can("bse_edit_images_reorder", article ):>
              <:.call "move_image", "admin":1, "r":refresh :>
              <:-.end if:>
            </span>
          </li>
          <:-.end for:>
        </ul>
      </fieldset>
      <:-.end if:>
      <:-.set files = [ article.files ]:>
      <:-.if files.size:>
      <fieldset>
        <legend>Files</legend>
        <ul class="full list">
          <:-.for file in files:>
          <li>
            <a href="<:= cfg.user_url("user", "download_file", "file", file.id ):>"><span class="indicator <:= file.hide_from_list ? "orange" : file.file_exists ? "green" : "red":>"></span> <:= file.displayName:></a><:.if file.name:> (<:= file.name:>)<:.end if:>
            <span>
              <:-.if request.user_can("bse_edit_files_save", article ):>
              <a href="<:= cfg.admin_url2("add", "edit_file", { "id":article.id, "file_id":file.id }):>" class="button white small">Edit</a>
              <:-.else:>
              <a class="button white small disabled">Edit</a>
              <:-.end if:>
              <:-.if request.user_can("bse_edit_files_delete", article ):>
              <a href="<:= cfg.admin_url2("add", "filedel", { "id":article.id, "file":file.id, "_csrfp":request.get_csrf_token("admin_remove_file") }):>" data-action="Delete" data-object="File" class="button red small">Delete</a>
              <:-.else:>
              <a class="button red small disabled">Delete</a>
              <:-.end if:>
              <:-.if request.user_can("bse_edit_files_reorder", article ):>
              <:.call "move_file", "admin":1, "r":refresh :>
              <:-.end if:>
            </span>
          </li>
          <:-.end for:>
        </ul>
      </fieldset>
      <:-.end if:>
    </details>
    <:-.if is_new:>
    <p class="buttons">
      <a href="<:= done_url:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:-.if request.user_can("bse_edit_save", article.parentid ):>
      <input type="submit" name="save" value="Create <:= typename:>" accesskey="c" title="AccessKey = c" class="button green" />
      <:-.end if:>
    </p>
    <:-.else:>
    <p class="buttons">
      <a href="<:= done_url:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:-.if request.user_can("bse_edit_save", article ):>      
      <input type="submit" name="save" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:-.end if:>
    </p>
    <:-.end if:>
  </form>
</div>
<script type="text/javascript">
    function plus(ele) {
        var ele = $(ele).up('div');
        var clone = ele.clone(true);
        clone.down('input[name="tags"]').clear().removeAttribute("class");
        clone.down('label').update(' ');
        var disabled = clone.down('button[disabled]');
        if (disabled) {
            disabled.removeAttribute('disabled');
        }
        ele.insert({after: clone});
        update();
    };

    function minus(ele) {
        var ele = $(ele).up('div').remove();
        update();
    };
    
    function update() {
        changesMonitor.initialize();
    };
</script>