<:-.wrap "admin/base.tmpl", "title": "New Option" :>

<:-.set referer = request.referer -:>
<:-.set cgi_referer = cgi.param("referer") -:>

<:-.if referer =~ cfg.admin_url("admin") -:>
<:-.set done_url = cfg.admin_url("add", { "id": ( cgi_referer ? cgi_referer : article.id ), "preview": 1 }) -:>

<:-.elsif cgi_referer and referer and referer !~ /logon/ -:>
<:-.set done_url = referer.replace(/(&amp;|&|\?)referer=[\d]+/, "").replace(/\.pl&(mp;)?/, ".pl?") -:>

<:-.else -:>
<:-.set done_url = cfg.admin_url("add", { "id": article.id }) -:>

<:-.end if -:>

<:-.set object = 0 -:>

<div class="window dialog">
  <header>
    <:-.set pagetitle = params.title _ " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" :>
    <h1><:= pagetitle:></h1>
  </header>
  <form action="<:script:>" method="post" data-object="Option">
    <:csrfp admin_add_option hidden:>
    <input type="hidden" name="_t" value="prodopts" />
    <input type="hidden" name="id" value="<:= article.id:>" />
    <input type="hidden" name="r" value="<:= cgi.param("r") ? cgi.param("r") : cfg.admin_url("add", { "id":article.id }):>" />
    <input type="hidden" name="newvaluecount" id="newvaluecount" value="<:= cgi.param("newvaluecount") ? cgi.param("newvaluecount") : 0 :>" />
    <fieldset>
      <legend>Option</legend>
      <:.call "inlinefield", "name":"name", "field": { "description":"Name", "required":1 }, "options": { "autofocus":1 } :>
      <!--<div class="field">
        <label class="field-label" for="enabled">Enabled <:error_img enabled:></label>
        <span class="field-input">
          <input type="checkbox" name="enabled" id="enabled" value="1" <:ifOld enabled:>checked="checked" <:eif:>/>
          <input type="hidden" name="save_enabled" value="1" />
          <:help edit enabled:>
        </span>
      </div>
      <!--<div class="field">
        <label class="field-label" for="type">HTML Type <:error_img type:></label>
        <span class="field-input">
          <select name="type" id="type">
            <option value="select"<:ifMatch [old type] "select":> selected="selected"<:eif:>>Select Popup</option>
            <option value="radio"<:ifMatch [old type] "radio":> selected="selected"<:eif:>>Radio Buttons</option>
          </select>
          <:help edit type:>
        </span>
      </div>-->
    </fieldset>
    <fieldset id="option_values">
      <legend>Values</legend>
      <div class="field-row">
        <div class="field">
          <label class="field-label" for="value1">#1 <span class="required">*</span> <:.call "error_img", "name":"value1":> <!--<input type="radio" name="default_value" value="value1" <:ifEq [old default_value] "value1":>checked="checked"<:eif:> />--></label>
          <span class="field-input">
            <input type="text" name="value1" id="value1" value="<:old value1:>" required="required" class="<:.call "error_classname", "name":"value1":>" />
          </span>
        </div>
        <div class="field">
          <label class="field-label" for="price1">$ <:.call "error_img", "name":"price1":></label>
          <span class="field-input">
            <input type="text" name="price1" id="price1" value="<:old price1:>" placeholder="0.00" class="<:.call "error_classname", "name":"price1":>" />
          </span>
        </div>
      </div>
      <div class="field-row">
        <div class="field">
          <label class="field-label" for="value2">#2 <span class="required">*</span> <:.call "error_img", "name":"value12":> <!--input type="radio" name="default_value" value="value2" <:ifEq [old default_value] "value2":>checked="checked"<:eif:> />--></label>
          <span class="field-input">
            <input type="text" name="value2" id="value2" value="<:old value2:>" required="required" class="<:.call "error_classname", "name":"value2":>" />
          </span>
        </div>
        <div class="field">
          <label class="field-label" for="price2">$ <:.call "error_img", "name":"price2":></label>
          <span class="field-input">
            <input type="text" name="price2" id="price2" value="<:old price2:>" placeholder="0.00" class="<:.call "error_classname", "name":"price2":>" />
          </span>
        </div>
      </div>
      <:-.if cgi.param("newvaluecount"):>
      <:-.for i in [1 .. cgi.param("newvaluecount")]:>
      <div class="field-row">
        <div class="field">
          <label class="field-label" for="value<:= 2 + i:>">#<:= 2 + i:> <span class="required">*</span> <:.call "error_img", "name":"value" _ (2 + i):></label>
          <span class="field-input">
            <input type="text" name="value<:= 2 + i:>" value="<:= cgi.param("value" _ (2 + i) ):>" data-new="true" required="required" class="<:.call "error_classname", "name":"value" _ (2 + i):>" />
          </span>
        </div>
        <div class="field">
          <label class="field-label" for="price<:= 2 + i:>">$ <:.call "error_img", "name":"price" _ (2 + i):></label>
          <span class="field-input">
            <input type="text" name="price<:= 2 + i:>" value="<:= cgi.param("price" _ (2 + i) ):>" data-new="true" placeholder="0.00" class="<:.call "error_classname", "name":"price" _ (2 + i):>" />
          </span>
          <span class="field-actions">
            <button class="button white small" data-icon="add" data-icon-only="true">Add</button>
            <button class="button white small" data-icon="subtract" data-icon-only="true">Delete</button>
          </span>
        </div>
      </div>
      <:-.end for:>
      <:-.end if:>
    </fieldset>
    <p class="buttons">
      <a href="<:= done_url:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:-.if request.user_can("bse_edit_prodopt_add", article ):>
      <input type="submit" name="a_add_option" value="Create Option" accesskey="c" title="AccessKey = c" class="button green" />
      <:-.end if:>
    </p>
  </form>
</div>
<:-.if request.user_can("bse_edit_prodopt_add", article ):>
<script type="text/javascript">
    var optionValues = $("option_values");
    var oldValueCount = $$("input[name^=value][type=text]:not([data-new])").length;
    var newValueCount = $("newvaluecount").value;
    var maxValueCount = 48;
    var requiredIndicator = new Element("span", { "class":"required" }).update(" *");

    var addButton = new Element("button", {
        "class":"button white small",
        "data-icon":"add",
        "data-icon-only":"true"
     }).update("Add");

    var delButton = new Element("button", {
        "class":"button white small",
        "data-icon":"subtract",
        "data-icon-only":"true"
    }).update("Delete");

    var firstAddButton = addButton.clone(true).addClassName("right");
    
    // On page load append first add button if there are new values
    if (newValueCount == 0) {
        optionValues.appendChild(firstAddButton.observe("click", plus));
    }
    // Otherwise on page load attatch events to in page buttons    
    else {
        $$("[data-icon=add]").invoke("observe", "click", plus);
        $$("[data-icon=subtract]").invoke("observe", "click", minus);
    }

    update();
        
    function plus(e) {
        e.preventDefault();
        e.stopPropagation();
        // cache the current newValueCount for later
        var currentNewValueCount = newValueCount;
        ++newValueCount;

        var row = new Element("div", { "class":"field-row" });
        
        // New value field
        var name = "value" + newValueCount;

        var div = new Element("div", { "class":"field" });

        var label = new Element("label", { "for":name, "class":"field-label" }).update("#" + parseInt(oldValueCount + newValueCount));
        div.appendChild(label);

        label.appendChild(requiredIndicator.clone(true));
    
        var span = new Element("span", { "class":"field-input" });
        div.appendChild(span);
    
        var input = new Element("input", { "type":"text", "name":name, "id":name, "data-new":"true", "required":"required" });
        span.appendChild(input);

        row.appendChild(div);


        // New price field

        var name = "price" + newValueCount;

        var div = new Element("div", { "class":"field" });

        var label = new Element("label", { "for":name, "class":"field-label" }).update("$");
        div.appendChild(label);
    
        var span = new Element("span", { "class":"field-input" });
        div.appendChild(span);
    
        var input = new Element("input", { "type":"text", "name":name, "id":name, "data-new":"true", "placeholder":"0.00" });
        span.appendChild(input);



        var actions = new Element("span", { "class":"field-actions" });
        actions.appendChild(addButton.clone(true).observe("click", plus));
        // add a space so our buttons don’t collide
        actions.appendChild(document.createTextNode(" "));
        actions.appendChild(delButton.clone(true).observe("click", minus));
        div.appendChild(actions);

        row.appendChild(div);


        if (currentNewValueCount == 0) {
            optionValues.insertBefore(row, firstAddButton);
            firstAddButton.remove();
        }
        // prevent insertion of new fields maxValueCount is reached
        else if (currentNewValueCount < maxValueCount) {
            optionValues.insertBefore(row, this.up(".field-row").nextSibling);
        }
        
        //Reinitialise changesMonitor to include new inputs
        //Originally initialised in init.js

        changesMonitor.initialize();
        update();
    };
    
    function minus(e) {
        e.preventDefault();
        e.stopPropagation();
        --newValueCount;

        this.up(".field-row").remove();
        
        if (newValueCount == 0) {
            optionValues.appendChild(firstAddButton.observe("click", plus));
        }

        update();

        //Reinitialise changesMonitor to include new inputs
        //Originally initialised in init.js

        changesMonitor.initialize();
    };
    
    function update() {
        $("newvaluecount").value = newValueCount;
        
        var newValueInputs = $$("input[name^=value][type=text][data-new]");

        for (var i = 0; i < newValueInputs.length; ++i) {
            var loop = parseInt(i + 1 + oldValueCount);
            var name = "value" + loop;

            var input = newValueInputs[i];
            input.setAttribute("name", name);
            input.setAttribute("id", name);
            
            var label = input.up("div").down("label");
            label.update("#" + parseInt(loop)).appendChild(requiredIndicator.clone(true));
            label.setAttribute("for", name);
        }
        
        var newPriceInputs = $$("input[name^=price][type=text][data-new]");
        
        for (var i = 0; i < newPriceInputs.length; ++i) {
            var loop = parseInt(i + 1 + oldValueCount);
            var name = "price" + loop;

            var input = newPriceInputs[i];
            input.setAttribute("name", name);
            input.setAttribute("id", name);
            
            var label = input.up("div").down("label");
            label.setAttribute("for", name);
        }
        
        // diasable all add buttons when maxValueCount is reached
        if (newValueCount == maxValueCount) {
            $$("[data-icon=add]").invoke("writeAttribute", "disabled", true);
        }        
        // enable all add buttons when leaving maxValueCount
        if (newValueCount < maxValueCount) {
            $$("[data-icon=add]").invoke("writeAttribute", "disabled", false);
        }
    };
</script>
<:-.end if:>