<:-.wrap "admin/base.tmpl", "title": "Manage Seminar Sessions" :>
<:-.set typename = article.generator.replace(/^(?:BSE::)?Generate::(\w+)$/, "$1") -:>

<div class="window">
  <header>
    <:-.set pagetitle = params.title _ " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" :>
    <ul class="menu header">
      <li>
        <h1><a href="#"><:= pagetitle:></a></h1>
        <ul>
          <li class="disabled"><span><:= article.titleAlias or article.title:> (Level <:= article.level:>)</span></li>
          <li class="divider"></li>
          <:-.set crumbs = [ article.ancestors ] -:>
          <:-.for crumb in crumbs:>
          <li><a href="<:= cfg.admin_url("add", { "id": crumb.id, "referer": 1 }) :>"><:= crumb.titleAlias or crumb.title:> (Level <:= crumb.level:>)</a></li>
          <:-.end for:>
          <li class="divider"></li>
          <li><a href="<:= cfg.admin_url("add", { "id": -1 }) :>" accesskey="h" title="AccessKey = h">Manage Site Articles</a></li>
        </ul>
      </li>
    </ul>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
<:include admin/include/toolbar_article.tmpl:>
  </header>
 <:- if Sessions:>
  <fieldset>
    <legend>Sessions</legend>
    <table class="full list">
      <thead>
        <tr>
          <th>Location</th>
          <th>Date</th>
          <th>Time</th>
          <td><!--Actions--></td>
        </tr>
      </thead>
      <tbody>
        <:- iterator begin sessions:>
        <tr>
          <td>
            <:- ifUserCan bse_location_edit:>
            <a href="<:adminurl2 admin_seminar locedit id [session location_id] referer 1:>"><:session description:></a>
            <:- or:>
            <:session description:>
            <:- eif:>
          </td>
          <td><:date "%a %d-%b-%Y" session when_at:></td>
          <td><:date "%I:%M%P" session when_at:></td>
          <td class="actions">
            <:- if Session past:>
            <a href="<:adminurl2 add takesessionrole id [seminar id] session_id [session id] referer 1:>" class="button blue small">Roll call</a>
            <:- or Session:>
            <:- ifUserCan bse_session_edit:>
            <a href="<:adminurl2 add editsemsession id [seminar id] session_id [session id] referer 1:>" class="button white small">Edit</a>
            <:- eif:> 
            <:- ifUserCan bse_session_bookings:>
            <a href="<:adminurl2 add semsessionbookings id [seminar id] session_id [session id] referer 1:>" class="button blue small">Bookings</a>
            <:- eif:>
            <:- ifAnd (ifUserCan bse_session_delete) (ifSessionRemovable):>
            <a href="<:adminurl2 add askdelsemsession id [seminar id] session_id [session id] referer 1:>" class="button orange small">Delete</a>
            <:- eif:>
            <:- eif Session:>
          </td>
        </tr>
        <:- iterator end sessions:>
      </tbody>
    </table>
  </fieldset>
  <:- or Sessions:>
  <fieldset>
    <legend>Sessions</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No sessions to display</p>
    </div>
  </fieldset>
  <:- eif Sessions:>
</div>