<:wrap admin/base.tmpl title=>"Manage Files":>
<div class="window dialog">
  <h1><:param title:></h1>
  <p class="buttons">
    <a href="<:script:>?id=<:article id:>" title="Edit Article" class="button gray small">Article</a><:ifArithmetic [article id] > 0 :>
    <a href="<:script:>?id=<:article id:>&amp;preview=1" title="Preview <:typename article:>" class="button gray small">Preview</a><:or:><:eif:>
    <a href="<:script:>?id=<:article id:>&amp;_t=fileupload&amp;r=<:script:>%3Fid=<:article id:>%26_t=file" accesskey="f" title="AccessKey = f" class="button blue small">Add File</a>
  </p>
  <form action="<:script:>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="_t" value="file" />
    <input name="r" type="hidden" value="<:script:>?id=<:article id:>&amp;_t=file" />
    <:if Files:>
    <input type="hidden" name="save_file_flags" value="1" />
    <:csrfp admin_save_files hidden:>
    <:csrfp admin_add_file hidden:>
    <:iterator begin files:>
    <div class="object">
      <h2>File <:arithmetic [file_index] + 1:> <:ifUserCan bse_edit_files_save:article:><:movefiles:><:or:><:eif:></h2>
      <p class="buttons">
        <:ifUserCan bse_edit_files_delete:article:>
        <a href="<:script:>?filedel=1&amp;id=<:article id:>&amp;file=<:file id:>&amp;_csrfp=<:csrfp admin_remove_file:>&amp;r=<:script:>%3Fid=<:article id:>%26_t=file" onclick="return window.confirm('Are you sure you want to delete this File? (#<:arithmetic [file_index] + 1:>)')" class="button red small">Delete</a><:or:><span class="button gray small">Delete</span><:eif:>
      </p>
      <fieldset>
        <legend>Resource</legend>
        <div>
          <label for="file_<:file id:>">Change file <:error_img [concatenate "file_" [file id]]:></label>
          <span>
            <input type="file" name="file_<:file id:>" id="file_<:file id:>" class="<:ifError_img [concatenate file_ [file id]]:>error<:or:><:eif:>" />
            <:help file file:>
          </span>
        </div>
        <div>
          <label for="name_<:file id:>">Name <:error_img [concatenate "name_" [file id]]:></label>
          <span>
            <input type="text" name="name_<:file id:>" id="name_<:file id:>" value="<:oldi [concatenate name_ [file id]] 0 file name:>" class="<:ifError_img [concatenate name_ [file id]]:>error<:or:><:eif:>" />
            <:help file name:>
          </span>
        </div>
        <div>
          <label>Original</label>
          <span>
            <a href="<:target user download_file file [file id]:>"><:file displayName:></a>
          </span>
        </div>
        <div>
          <label>Size</label>
          <span>
            <:arithmetic d1:([file sizeInBytes] / 1024):>kB
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Content</legend> 
        <div>
          <label for="description_<:file id:>">Description <:error_img [concatenate "description_" [file id]]:></label>
          <span>
            <input type="text" name="description_<:file id:>" id="description_<:file id:>" value="<:oldi [concatenate description_ [file id]] 0 file description:>" class="<:ifError_img [concatenate description_ [file id]]:>error<:or:><:eif:>" />
            <:help file description:>
          </span>
        </div>
        <div>
          <label for="notes">Notes <:error_img [concatenate "notes_" [file id]]:></label>
          <span> 
            <textarea name="notes_<:file id:>" id="notes"><:oldi [concatenate notes_ [file id]] 0 file notes:></textarea>
            <:help file notes:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Properties</legend>
        <div>
          <label for="contentType_<:file id:>">Content type <:error_img [concatenate "contentType_" [file id]]:></label>
          <span>
            <input type="text" name="contentType_<:file id:>" id="contentType_<:file id:>" value="<:file contentType:>" placeholder="MIME format" class="<:ifError_img [concatenate contentType_ [file id]]:>error<:or:><:eif:>" />
            <:help file contentType:>
          </span>
        </div>
        <div>
          <label for="download_<:file id:>">Force download <:error_img  [concatenate "download_" [file id]]:></label>
          <span> 
            <input type="checkbox" name="download_<:file id:>" id="download_<:file id:>" value="1" <:ifFile download:>checked="checked" <:or:><:eif:>/>
            <:help file download:>
          </span>
        </div>
        <div>
          <label for="hide_from_list">Hide from list <:error_img  [concatenate "hide_from_list_" [file id]]:></label>
          <span> 
            <input type="checkbox" name="hide_from_list_<:file id:>" id="hide_from_list" value="1" <:ifFile hide_from_list:>checked="checked" <:or:><:eif:>/>
            <:help file hide_from_list:>
          </span>
        </div>
        <:if Match [article generator] "Product":>
        <div>
          <label for="forSale_<:file id:>">Require payment <:error_img [concatenate "forSale_" [file id]]:></label>
          <span>
            <input type="checkbox" name="forSale_<:file id:>" id="forSale_<:file id:>" <:ifFile forSale:>checked="checked" <:or:><:eif:>/>
            <:help file forSale:>
          </span>
        </div>
        <:or Match:><:eif Match:>
        <div>
          <label for="requireUser_<:file id:>">Require login <:error_img [concatenate "requireUser_" [file id]]:></label>
          <span>
            <input type="checkbox" name="requireUser_<:file id:>" id="requireUser_<:file id:>" <:ifFile requireUser:>checked="checked" <:or:><:eif:>/>
            <:help file requireUser:>
          </span>
        </div>
        <div>
          <label for="storage_<:file id:>">Storage <:error_img storage:></label>
          <span> 
            <select name="storage_<:file id:>" id="storage_<:file id:>">
              <option value="">(Auto)</option>
              <:iterator begin file_stores:>
              <option value="<:file_store name:>" <:ifEq [oldi [concatenate storage_ [file id]] 0 file storage] [file_store name]:>selected="selected"<:or:><:eif:>><:file_store description:></option>
              <:iterator end file_stores:>
            </select>
            <:help file storage:>
          </span>
        </div>
      </fieldset>
    </div>
    <:iterator separator files:><:iterator end files:>
    <:or Files:><:eif Files:>
    <p class="buttons">
      <a href="<:script:>?id=<:article id:>" accesskey="." title="AccessKey = ." class="button gray">Done</a>
      <:ifUserCan bse_edit_files_save:article:>
      <input type="submit" name="filesave" value="Save changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:or:><:eif:>
    </p>
  </form>
</div>