<:-.wrap "admin/base.tmpl", "title": "Load Article" :>
<div class="window dialog">
  <header>
    <h1><:= params.title:></h1>
  </header>
  <form action="<:adminurl add:>" method="post" data-object="Article" data-confirm="false">
    <input type="hidden" name="referer" value="1" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Article</legend>
      <div>
        <label for="id">ID <span class="required">*</span></label>
        <span>
          <input type="text" name="id" id="id" required="required" autofocus="autofocus" class="<:ifError_img id:>error<:eif:>" />
          <:help menu id:>
        </span>
      </div>
      <div>
        <label for="preview">Mode</label>
        <span>
          <select name="preview" id="preview">
            <option value="0"<:ifEq [old [cgi preview]] "0":> selected="selected"<:eif:>>Edit</option>
            <option value="1"<:ifEq [old [cgi preview]] "1":> selected="selected"<:eif:>>Preview</option>
          </select>
          <:help menu preview:>
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:adminurl menu:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <input type="submit" value="Load Article" accesskey="l" title="AccessKey = l" class="button blue" />
    </p>
  </form>
</div>