<:-.wrap "admin/base.tmpl", "title": "Manage Site Articles" :>
<:-.set refresh = cfg.admin_url("add", { "id": article.id, "tree": cgi.param("tree") }) -:>
<:-.set kids = [ bse.site.allkids ] :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
<:include admin/include/toolbar_site.tmpl:>
  </header>
  <:-.if kids.size:>
  <fieldset>
    <legend>Sections</legend>
    <:-.if request.user_can("bse_edit_reorder_children", article):>
    Sort by:
    <ul class="meta group">
      <li><a href="<:= cfg.admin_url("reorder", { "parentid": article.id, "sort": "title", "r": refresh }) :>">title</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "parentid": article.id, "sort": "id", "r": refresh }) :>">date</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "parentid": article.id, "sort": "listed", "r": refresh }) :>">listed</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "parentid": article.id, "reverse": 1, "r": refresh }) :>">reverse</a></li>
      <li><a href="<:= cfg.admin_url("reorder", { "parentid": article.id, "shuffle": 1, "r": refresh }) :>">shuffle</a></li>
      <li><:ifCgi sort:><a href="<:= cfg.admin_url("add", { "id": article.id, "tree": cgi.param("tree") }) :>">advanced &times;</a><:or:><a href="<:= cfg.admin_url("add", { "id": article.id, "tree": cgi.param("tree"), "sort": 1 }) :>">advanced</a><:eif:></li>
    </ul>
    <:-.if cgi.param("sort"):>
<:include admin/include/edit_article_sort.tmpl optional:>
    <:-.end if:>
    <:-.end if:>
    <:-.define article :>
      <:-.set indicator = [] -:>
      <:-.if article.is_expired :>
        <:-% indicator.push("red") :>
      <:-.elsif !article.is_released :>
        <:-% indicator.push("white") :>
      <:-.elsif article.listed == 0 :>
        <:-% indicator.push("gray") :>
      <:-.elsif article.listed == 1 :>
        <:-% indicator.push("green") :>
      <:-.elsif article.listed == 2 :>
        <:-% indicator.push("orange") :>
      <:-.end if:>
      <li>
        <span class="<:-= globals.odd ? " odd" : "" :>">
          <:-.set globals.odd = !globals.odd :>
          <a href="<:= cfg.admin_url("add", { "id": article.id, "preview": 1 }) :>"<:.if article.parentid != parent.id :> data-widget="stepkid"<:.end if:>>
            <span class="indicator <:= indicator.join(" ") :>"></span>
            <:= article.titleAlias or article.title :><:.if article.titleAlias:> (<:= article.title :>)<:.end if:>
          </a>
          <span class="actions">
            <:-.set typename = article.generator.replace("Generate::", "") :>
            <:-.if article.parentid != parent.id :>
            <a href="<:= cfg.admin_url("add", { "id": parent.id, "stepkid": article.id, "_t": "steps", "r": refresh }) :>" class="button gray small">Edit</a>
            <:-.if request.user_can("bse_edit_stepkid_delete", article) and request.user_can("bse_edit_stepparent_delete", parent) :>
            <a href="<:= cfg.admin_url("add", { "id": parent.id, "stepkid": article.id, "typename": typename, "del_stepkid": 1, "_csrfp": request.get_csrf_token("admin_remove_stepkid"), "r": refresh }) :>" class="button red small" data-action="Delete" data-object="Stepchild" data-confirm="Are you sure you want to remove the Stepchild relationship?" data-info="Continuing with this action will permanently remove this Stepchild relationship. This action does not delete the original <:= typename :>.">Delete</a>
            <:-.else:>
            <a class="button red small disabled">Delete</a>
            <:-.end if:>
            <:-.else:>
            <a href="<:= cfg.admin_url("add", { "id": article.id, "referer": 1 }) :>" class="button gray small">Edit</a>
            <:-.if request.user_can("bse_edit_delete_article", article) :>
            <a href="<:= cfg.admin_url("add", { "id": article.id, "remove": 1, "_csrfp": request.get_csrf_token("admin_remove_article"), "r": refresh }) :>" class="button red small" data-action="Delete" data-object="<:= typename :>" >Delete</a>
            <:-.else:>
            <a class="button red small disabled">Delete</a>
            <:-.end if:>
            <:-.end if:>
            <:-.if request.user_can("edit_reorder_children", parent) :>
            <:.call "move", "article": article, "parent": parent, "admin": 1, "r": refresh :>
            <:-.end if:>
          </span>
        </span>
      <:-# do not list children for step kids, could lead to infinite recursion :>
      <:-.if article.parentid == parent.id and level < 10 and cgi.param("tree") :>
        <:-.set kids = [ article.allkids ] :>
        <:-.if kids.size :>
      <ul>
        <:-.for kid in kids:>
        <:-.call "article", "article": kid, "parent": article, "level": level+1 :>
        <:-.end for:>
      </ul>
        <:-.end if:>
      <:-.end if:>
      </li>
    <:-.end define :>
    <:-.set globals.odd = 1 :>
    <ul class="inset list tree">
      <:-.for kid in kids :>
      <:-.call "article", "article": kid, "parent": article, "level": 1 :>
      <:-.end for:>
    </ul>
  </fieldset>
  <:-.end if:>
</div>