<:wrap admin/base.tmpl title=>[cond [ifNew] [cat "New " [typename article] " (Level " [article level] ")"] [cat "Edit " [typename article] " (Level " [article level] ")"]] :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <:- if New:><:or New:>
    <:- if Article parentid:>
<:include admin/include/toolbar_article.tmpl:>
    <:- or Article:>
<:include admin/include/toolbar_site.tmpl:>
    <:- eif Article:>
    <:- eif New:>
  </header>
  <form action="<:script:>" method="post" enctype="multipart/form-data" data-object="<:typename article:>">
    <input type="hidden" name="lastModified" value="<:article lastModified:>" />
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="type" value="<:typename article:>" />
    <input type="hidden" name="r" value="
    <:- switch -:>

    <:- # from anywhere: refresh to supplied r param -:>
    <:- case Cgi r -:>
    <:cgi r:>

    <:- case New -:>
        <:- switch -:>

        <:- # from nowhere: refresh to article admin on creation -:>
        <:- case !Referer -:>
        <:adminurl add:>

        <:- # from admin: refresh to new article admin on creation -:>
        <:- case Match [referer] [adminurl add] -:>
        <:adminurl add m [cat [typename article] " " Created]:>

        <:- # from preview with referer: refresh to top article preview on creation -:>
        <:- case Cgi referer -:>
        <:adminurl add id [cgi referer] preview 1:>

        <:- # from preview: refresh to new article preview on creation -:>
        <:- case Match [referer] [adminurl admin] -:>
        <:adminurl add preview 1:>

        <:- endswitch -:>
    <:- case default -:>
        <:- switch -:>

        <:- # from nowhere: refresh to article admin on save changes -:>
        <:- case !Referer -:>
        <:adminurl add id [article id]:>

        <:- # from admin: refresh to article admin on save changes -:>
        <:- case Match [referer] [adminurl add] -:>
        <:adminurl add id [article id]:>

        <:- # from preview with referer: refresh to top article preview on save changes -:>
        <:- case Cgi referer -:>
        <:adminurl add id [cgi referer] preview 1:>

        <:- # from preview: refresh to article preview on save changes -:>
        <:- case Match [referer] [adminurl admin] -:>
        <:adminurl add id [article id] preview 1:>

        <:- endswitch -:>
    <:- endswitch -:>
    " />
    <:csrfp admin_add_article hidden:>
    <:csrfp admin_save_article hidden:>
    <fieldset>
      <legend>Content</legend>
      <div class="full">
        <label for="title">Title <span class="required">*</span> <:error_img title:></label>
        <span>
          <input type="text" name="title" id="title" value="<:old title default title:>" maxlength="<:cfg fields title_size 255:>" required="required" <:ifNew:>autofocus="autofocus" <:eif:><:ifFieldPerm title:><:or:>disabled="disabled" <:eif:>class="<:ifError_img title:>error<:eif:>" />
          <:help edit title:>
        </span>
      </div>
      <:- if Cfg "title alias" [concatenate level [article level]]:>
      <div>
        <label for="titleAlias">Title alias <:error_img titleAlias:></label>
        <span>
          <input type="text" name="titleAlias" id="titleAlias" value="<:old titleAlias default titleAlias:>" maxlength="<:cfg fields alias_size 60:>" <:ifFieldPerm titleAlias:><:or:>disabled="disabled" <:eif:>class="<:ifError_img titleAlias:>error<:eif:>" />
          <:help edit titleAlias:>
        </span>
      </div>
      <:- eif Cfg:>
      <:- if Match [article generator] "Product":>
      <div class="full">
        <label for="description">Description <:error_img description:></label>
        <span>
          <input type="text" name="description" id="description" value="<:old description default description:>" maxlength="<:cfg fields description_size 255:>" <:ifFieldPerm description:><:or:>disabled="disabled" <:eif:>class="<:ifError_img description:>error<:eif:>" />
          <:help edit description:>
        </span>
      </div>
      <:- eif Match:>
      <div class="full">
        <label for="body">Body <:error_img body:></label>
        <span>
          <textarea name="body" id="body" <:ifFieldPerm body:><:or:>disabled="disabled" <:eif:>class="<:ifError_img body:>error<:eif:>"><:old body default body:></textarea>
          <:help edit body:>
        </span>
      </div>
      <div class="full">
        <label for="summary">Summary <:error_img summary:></label>
        <span>
          <textarea name="summary" id="summary" <:ifFieldPerm summary:><:or:>disabled="disabled" <:eif:>class="<:ifError_img summary:>error<:eif:>"><:old summary default summary:></textarea>
          <:help edit summary:>
        </span>
      </div>
      <div>
        <label for="linkAlias">Link alias <:error_img linkAlias:></label>
        <span>
          <input type="text" name="linkAlias" id="linkAlias" value="<:old linkAlias default linkAlias:>" maxlength="<:cfg fields linkAlias_size 255:>" <:ifFieldPerm linkAlias:><:or:>disabled="disabled" <:eif:>class="<:ifError_img linkAlias:>error<:eif:>" />
          <:help edit linkAlias:>
        </span>
      </div>
      <:- if New:><:or New:>
      <ul class="meta data">
        <li><span><:typename article:> Id</span> <:article id:></li>
        <li><span>Created</span> <:date "%d-%b-%Y / %r" article created:></li>
        <li><span>Created by</span> <:ifArticle createdBy:><:article createdBy:><:or:>unknown<:eif:></li>
        <li><span>Modified</span> <:date "%d-%b-%Y / %r" article lastModified:></li>
        <li><span>Modified by</span> <:ifArticle lastModifiedBy:><:article lastModifiedBy:><:or:>unknown<:eif:></li>
      </ul>
      <:- eif New:>
    </fieldset>
    <:- if Match [article generator] "Product":>
    <fieldset>
      <legend>Pricing</legend>
      <div>
        <label for="retailPrice">Retail <:cfg shop currency $:> <:error_img retailPrice:></label>
        <span>
          <input type="text" name="retailPrice" id="retailPrice" value="<:old retailPrice money product retailPrice:>" placeholder="0.00" <:ifFieldPerm retailPrice:><:or:>disabled="disabled" <:eif:>class="<:ifError_img retailPrice:>error<:eif:>" />
          <:help edit retailPrice:>
        </span>
      </div>
      <:- if Cfg products legacy_gst:>
      <div>
        <label for="gst">GST <:cfg shop currency $:> <:error_img gst:></label>
        <span>
          <input type="text" name="gst" id="gst" value="<:old gst money product gst:>" placeholder="0.00" <:ifFieldPerm gst:><:or:>disabled="disabled" <:eif:>class="<:ifError_img gst:>error<:eif:>" />
          <:help edit gst:>
        </span>
      </div>
      <:- eif Cfg:>
      <:- if Cfg products legacy_wholesale:>
      <div>
        <label for="wholesalePrice">Wholesale <:cfg shop currency $:> <:error_img wholesalePrice:></label>
        <span>
          <input type="text" name="wholesalePrice" id="wholesalePrice" value="<:old wholesalePrice money product wholesalePrice:>" placeholder="0.00" <:ifFieldPerm wholesalePrice:><:or:>disabled="disabled" <:eif:>class="<:ifError_img wholesalePrice:>error<:eif:>" />
          <:help edit wholesalePrice:>
        </span>
      </div>
      <:- eif Cfg:>
      <:- if Price_tiers:>
        <input type="hidden" name="save_pricing_tiers" value="1" />
        <:- iterator begin price_tiers:>
        <div>
          <label for="tier_price_<:price_tier id:>"><:price_tier description:> <:cfg shop currency $:> <:error_img [cat "tier_price_" [price_tier id]]:></label>
          <span>
            <input type="text" name="tier_price_<:price_tier id:>" id="tier_price_<:price_tier id:>" value="<:ifEq [tier_price] "":><:oldi [cat "tier_price_" [price_tier id]] 0:><:or:><:oldi [cat "tier_price_" [price_tier id]] 0 money tier_price:><:eif:>" placeholder="0.00" <:ifFieldPerm retailPrice:><:or:>disabled="disabled" <:eif:>class="<:ifError_img [cat "tier_price_" [price_tier id]]:>error<:eif:>" />
            <:help edit tier_price:>
          </span>
        </div>
        <:- iterator end price_tiers:>
      <:- eif Price_tiers:>
    </fieldset>
    <:- eif Match:>
    <details>
      <summary>More attributes</summary>
      <:- include admin/include/article_cfg_custom.tmpl:>
      <:- if Match [article generator] "Product":>
      <fieldset>
        <legend>Stock</legend>
        <div>
          <label for="product_code">Product code <:error_img product_code:></label>
          <span>
            <input type="text" name="product_code" id="product_code" value="<:old product_code:>" <:ifFieldPerm product_code:><:or:>disabled="disabled" <:eif:>class="<:ifError_img product_code:>error<:eif:>" />
            <:help edit product_code:>
          </span>
        </div>
        <div>
          <label for="leadTime">Lead time <:error_img leadTime:></label>
          <span>
            <input type="text" name="leadTime" id="leadTime" value="<:ifEq [old leadTime default leadTime] 0:><:or:><:old leadTime default leadTime:><:eif:>" placeholder="days" <:ifFieldPerm leadTime:><:or:>disabled="disabled" <:eif:>class="<:ifError_img leadTime:>error<:eif:>" />
            <:help edit leadTime:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Measurements</legend>
        <div>
          <label for="weight">Weight <:error_img weight:></label>
          <span>
            <input type="text" name="weight" id="weight" value="<:ifEq [old weight default weight] 0:><:or:><:old weight default weight:><:eif:>" placeholder="grams" maxlength="<:cfg fields weight_size 6:>" <:ifFieldPerm weight:><:or:>disabled="disabled" <:eif:>class="<:ifError_img weight:>error<:eif:>" />
            <:help edit weight:>
          </span>
        </div>
        <div>
          <label for="length">Length <:error_img length:></label>
          <span>
            <input type="text" name="length" id="length" value="<:ifEq [old length default length] 0:><:or:><:old length default length:><:eif:>" placeholder="millimetres" maxlength="<:cfg fields length_size 6:>" <:ifFieldPerm length:><:or:>disabled="disabled" <:eif:>class="<:ifError_img length:>error<:eif:>" />
            <:help edit length:>
          </span>
        </div>
        <div>
          <label for="width">Width <:error_img width:></label>
          <span>
            <input type="text" name="width" id="width" value="<:ifEq [old width default width] 0:><:or:><:old width default width:><:eif:>" placeholder="millimetres" maxlength="<:cfg fields width_size 6:>" <:ifFieldPerm width:><:or:>disabled="disabled" <:eif:>class="<:ifError_img width:>error<:eif:>" />
            <:help edit width:>
          </span>
        </div>
        <div>
          <label for="height">Height <:error_img height:></label>
          <span>
            <input type="text" name="height" id="height" value="<:ifEq [old height default height] 0:><:or:><:old height default height:><:eif:>" placeholder="millimetres" maxlength="<:cfg fields height_size 6:>" <:ifFieldPerm height:><:or:>disabled="disabled" <:eif:>class="<:ifError_img height:>error<:eif:>" />
            <:help edit height:>
          </span>
        </div>
      </fieldset>
      <:- if Dboptions:>
      <fieldset>
        <legend>Options</legend>
        <ul class="full list">
          <:- iterator begin dboptions:>
          <li>
            <label><span class="listed <:switch:><:case Dboption enabled:>green<:case default:>gray<:endswitch:>"></span> <:dboption name:></label>
            <span>
              <:- if UserCan bse_edit_prodopt_edit:article:>
              <a id="editoption<:dboption id:>" href="<:script:>?id=<:article id:>&amp;a_edit_option=1&amp;option_id=<:dboption id:>" class="button gray small">Edit</a>
              <:- or UserCan:>
              <a class="button gray small disabled">Edit</a>
              <:- eif UserCan:>
              <:- if UserCan bse_edit_prodopt_delete:article:>
              <a href="<:script:>?id=<:article id:>&amp;a_delete_option=1&amp;option_id=<:dboption id:>&amp;a_delconf_option=1&amp;_csrfp=<:csrfp admin_delete_option:>" data-action="Delete" data-object="Option" class="button red small">Delete</a>
              <:- or UserCan:>
              <a class="button red small disabled">Delete</a>
              <:- eif UserCan:>
              <:- ifUserCan bse_edit_prodopt_move:article:>
              <:dboption_move:>
              <:- eif:>
            </span>
          </li>
          <:- iterator end dboptions:>
        </ul>
      </fieldset>
      <:- eif Dboptions:>
      <:- eif Match:>
      <fieldset>
        <legend>Structure</legend>
        <div>
          <label for="parentid">Parent <:error_img parentid:></label>
          <span>
            <select name="parentid" id="parentid"<:ifFieldPerm parentid:><:or:> disabled="disabled"<:eif:>>
              <option value="">Please select a <:if Eq [article parentid] "-1":>Section<:or Eq:><:parentType:><:eif Eq:></option><:ifFieldPerm parentid:>
              <:list:><:or:>
              <option value="" selected="selected"><:parent title:> (<:parent id:>)</option><:eif:>
            </select>
            <:help edit section:>
          </span>
        </div>
        <:- if Cfgsection [concatenate level [article level] " menus"]:>
        <div>
          <label for="menu">Menu <:error_img menu:></label>
          <span>
            <select name="menu" id="menu"<:ifFieldPerm menu:><:or:> disabled="disabled"<:eif:>>
              <:- iterator begin cfgsection [concatenate level [article level] " menus"] sort=key:>
              <option value="<:cfgentry key:>"<:if Eq [old menu] [cfgentry key]:> selected="selected"<:eif Eq:>><:cfgentry value:></option>
              <:- iterator end cfgsection:>
            </select>
            <:help edit menu:>
          </span>
        </div>
        <:- eif Cfgsection:>
      </fieldset>
      <fieldset>
        <legend>Categorisation <:error_img tags:></legend>
        <div>
          <label for="category">Category <:error_img category:></label>
          <span><:ifFieldPerm category:>
            <:replace [category] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":><:or:>
            <:replace [category] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\" disabled=\"disabled\"":><:eif:>
            <:help edit category:>
          </span>
        </div>
        <div>
          <label for="tag">Tag name <:error_img tags:></label>
          <span>
            <input type="hidden" name="_save_tags" value="1" />
            <input type="text" name="tags" id="tag" value="<:old tags:>" <:ifFieldPerm tags:><:or:>disabled="disabled" <:eif:>class="<:ifError_img tags:>error<:eif:>" />
            <button class="button gray small" onclick="plus(this); return false;">&plus;</button>
            <button class="button gray small" onclick="minus(this); return false;" disabled="disabled">&minus;</button> 
            <:help edit tags:>
          </span>
        </div>
        <:- iterator begin tags:>
        <div>
          <label for="tag_<:tag_number:>">&nbsp; <:error_img tags:></label>
          <span>
            <input type="text" name="tags" id="tag_<:tag_number:>" value="<:tag name:>" <:ifFieldPerm tags:><:or:>disabled="disabled" <:eif:>class="<:ifError_img tags:>error<:eif:>"/>
          </span>
        </div>
        <:- iterator end tags:>
      </fieldset>
      <fieldset>
        <legend>Presentation</legend>
        <div>
          <label for="template">Template <:error_img template:></label>
          <span><:ifFieldPerm template:>
            <:replace [templates] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":><:or:>
            <:replace [templates] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\" disabled=\"disabled\"":><:eif:>
            <:help edit template:>
          </span>
        </div>
        <div>
          <label for="force_dynamic">Page display <:error_img force_dynamic:></label>
          <span>
            <input type="hidden" name="save_force_dynamic" value="1" />
            <select name="force_dynamic" id="force_dynamic" <:ifFieldPerm force_dynamic:><:or:>disabled="disabled"<:eif:>>
              <option value=""><:ifAnd [article cached_dynamic] [ifEq [article force_dynamic] "0"]:>Dynamic (Inherited)<:or:>Static<:eif:></option>
              <option value="1"<:ifArticle force_dynamic:> selected="selected"<:eif:>>Dynamic</option>
            </select>
            <:help edit force_dynamic:>
          </span>
        </div>
        <div>
          <label for="summaryLength">Summary length <:error_img summaryLength:></label>
          <span>
            <input type="text" name="summaryLength" id="summaryLength" value="<:ifEq [old summaryLength default summaryLength] 0:><:or:><:old summaryLength default summaryLength:><:eif:>" placeholder="characters" maxlength="10" <:ifFieldPerm summaryLength:><:or:>disabled="disabled" <:eif:>class="<:ifError_img summaryLength:>error<:eif:>" />
            <:help edit summaryLength:>
          </span>
        </div>
        <div>
          <label for="threshold">Embed threshold <:error_img threshold:></label>
          <span>
            <input type="text" name="threshold" id="threshold" value="<:ifEq [old threshold default threshold] 0:><:or:><:old threshold default threshold:><:eif:>" placeholder="children" maxlength="10" <:ifFieldPerm threshold:><:or:>disabled="disabled" <:eif:>class="<:ifError_img threshold:>error<:eif:>" />
            <:help edit threshold:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Publication</legend>
        <div>
          <label for="listed">List article <:error_img listed:></label>
          <span><:if FieldPerm listed:>
            <:replace [list listed] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":><:or FieldPerm:>
            <:replace [list listed] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\" disabled=\"disabled\"":><:eif FieldPerm:>
            <:help edit listed:>
          </span>
        </div>
        <div>
          <label for="release">Release date <:error_img listed:></label>
          <span>
            <input type="text" name="release" id="release" value="<:old release date "%d/%m/%Y" default release:>" placeholder="DD/MM/YYYY" maxlength="10" <:ifFieldPerm release:><:or:>disabled="disabled" <:eif:>class="<:ifError_img release:>error<:eif:>" />
            <:help edit listed:>
          </span>
        </div>
        <div>
          <label for="expire">Expiry date <:error_img expire:></label>
          <span>
            <input type="text" name="expire" id="expire" value="<:switch:><:case New:><:old expire:><:case Match [article expire] "^9999-12-31":><:case default:><:old expire date "%d/%m/%Y" article expire:><:endswitch:>" placeholder="DD/MM/YYYY" maxlength="10" <:ifFieldPerm expire:><:or:>disabled="disabled" <:eif:>class="<:ifError_img expire:>error<:eif:>" />
            <:help edit expire:>
          </span>
        </div>
      </fieldset>
      <:- if Groups:>
      <fieldset>
        <legend>Access <:error_img groups:></legend>
        <ul>
          <:- iterator begin groups:>
          <li>
            <input type="hidden" name="save_group_id" value="<:group id:>" />
            <input type="checkbox" name="group_id" id="group_id<:group id:>" value="<:group id:>" <:ifOr [ifGroupRequired] [ifEq [old group_id] [group id]]:>checked="checked" <:eif:><:ifFieldPerm group_id:><:or:>disabled="disabled" <:eif:>/>
            <label for="group_id<:group id:>"><:if Match [group id] "^-":><:group name:><:or Match:><:if UserCan bse_members_group_edit:><a href="<:adminurl siteusers:>?a_groupmemberform=1&amp;id=<:group id:>&amp;referer=1"><:group name:></a><:or UserCan:><:group name:><:eif UserCan:><:eif Match:></label>
          </li>
          <:- iterator end groups:>
        </ul>
        <:help edit groups:>
      </fieldset>
      <:- eif Groups:>
      <fieldset>
        <legend>Flags <:error_img flags:></legend>
        <ul>
          <:- iterator begin flags:>
          <li>
            <input type="checkbox" name="flags" id="flags_<:flag id:>" value="<:flag id:>" <:ifOr [ifFlagSet [flag id]] [ifMatch [old flags] [flag id]]:>checked="checked" <:eif:><:ifFieldPerm flags:><:or:>disabled="disabled" <:eif:>/>
            <label for="flags_<:flag id:>"><:flag desc |h:></label>
          </li>
          <:- iterator end flags:>
        </ul>
        <:help edit flags:>
      </fieldset>
      <fieldset>
        <legend>Metadata</legend>
        <div>
          <label for="pageTitle">Page title <:error_img pageTitle:></label>
          <span>
            <input type="text" name="pageTitle" id="pageTitle" value="<:old pageTitle article pageTitle:>" maxlength="255" <:ifFieldPerm pageTitle:><:or:>disabled="disabled" <:eif:>class="<:ifError_img pageTitle:>error<:eif:>" />
            <:help edit pageTitle:>
          </span>
        </div>
        <div>
          <label for="metaDescription">Meta description <:error_img metaDescription:></label>
          <span>
            <input type="text" name="metaDescription" id="metaDescription" value="<:old metaDescription article metaDescription:>" maxlength="255" <:ifFieldPerm metaDescription:><:or:>disabled="disabled" <:eif:>class="<:ifError_img metaDescription:>error<:eif:>" />
            <:help edit metaDescription:>
          </span>
        </div>
        <div>
          <label for="metaKeywords">Meta keywords <:error_img metaKeywords:></label>
          <span>
            <input type="text" name="metaKeywords" id="metaKeywords" value="<:old metaKeywords article metaKeywords:>" placeholder="comma separated" maxlength="255" <:ifFieldPerm metaKeywords:><:or:>disabled="disabled" <:eif:>class="<:ifError_img metaKeywords:>error<:eif:>" />
            <:help edit metaKeywords:>
          </span>
        </div>
        <div>
          <label for="author">Author name <:error_img author:></label>
          <span>
            <input type="text" name="author" id="author" value="<:ifCfg editor auto_author:><:old author adminuser name:><:or:><:old author article author:><:eif:>" maxlength="255" <:ifFieldPerm author:><:or:>disabled="disabled" <:eif:>class="<:ifError_img author:>error<:eif:>" />
            <:help edit author:>
          </span>
        </div>
        <div>
          <label for="keyword">Local keywords <:error_img keyword:></label>
          <span>
            <input type="text" name="keyword" id="keyword" value="<:old keyword article keyword:>" placeholder="comma separated" maxlength="255" <:ifFieldPerm keyword:><:or:>disabled="disabled" <:eif:>class="<:ifError_img keyword:>error<:eif:>" />
            <:help edit keyword:>
          </span>
        </div>
      </fieldset>
      <:- switch:>
      <:- case Match [article generator] "Article":><:include admin/include/article_custom.tmpl optional:>
      <:- case Match [article generator] "Catalog":><:include admin/include/catalog_custom.tmpl optional:>
      <:- case Match [article generator] "Seminar":><:include admin/include/seminar_custom.tmpl optional:>
      <:- case Match [article generator] "Product":><:include admin/include/product_custom.tmpl optional:>
      <:- endswitch:>
      <:- if Or [ifMatch [article generator] "Product"] [ifMatch [article generator] "Seminar"]:>
      <:- if Subscriptions:>
      <fieldset>
        <legend>Subscription</legend>
        <div>
          <label for="subscription_id">Subscription <:error_img subscription_id:></label>
          <span>
            <select name="subscription_id" id="subscription_id" onchange="if (this.value != '-1') { this.form.subscription_usage.disabled = false, this.form.subscription_period.disabled = false } else { this.form.subscription_usage.disabled = true, this.form.subscription_period.disabled = true };"<:ifFieldPerm subscription_id:><:or:> disabled=disabled"<:eif:>>
              <option value="-1"<:ifEq [old subscription_id] "-1":> selected="selected"<:eif:>>(nothing)</option>
              <:- iterator begin subscriptions:>
              <option value="<:subscription subscription_id:>"<:ifEq [old subscription_id] [subscription subscription_id]:> selected="selected"<:eif:>><:subscription title:></option>
              <:- iterator end subscriptions:>
            </select>
            <:help edit subscription_id:>
          </span>
        </div>
        <div>
          <label for="subscription_period">Duration <:error_img subscription_period:></label>
          <span>
            <input type="text" name="subscription_period" id="subscription_period" value="<:old subscription_period default subscription_period:>" placeholder="months" <:ifFieldPerm subscription_period:><:or:>disabled="disabled" <:eif:>class="<:ifError_img subscription_period:>error<:eif:>" />
            <:help edit subscription_period:>
          </span>
        </div>
        <div>
          <label for="subscription_usage">Usage <:error_img subscription_usage:></label>
          <span>
            <select name="subscription_usage" id="subscription_usage"<:ifFieldPerm subscription_usage:><:or:> disabled="disabled"<:eif:>>
              <option value="3"<:ifEq [old subscription_usage] "3":> selected="selected"<:eif:>>Start or renew a subscription</option>
              <option value="1"<:ifEq [old subscription_usage] "1":> selected="selected"<:eif:>>Start a subscription only</option>
              <option value="2"<:ifEq [old subscription_usage] "2":> selected="selected"<:eif:>>Renew a subscription only</option>
            </select>
            <:help edit subscription_usage:>
          </span>
        </div>
        <div>
          <label for="subscription_required">Requires <:error_img subscription_required:></label>
          <span>
            <select name="subscription_required" id="subscription_required"<:ifFieldPerm subscription_required:><:or:> disabled="disabled"<:eif:>>
              <option value="-1"<:ifEq [old subscription_required] "-1":> selected="selected"<:eif:>>(nothing)</option>
              <:- iterator begin subscriptions:>
              <option value="<:subscription subscription_id:>"<:ifEq [old subscription_required] [subscription subscription_id]:> selected="selected"<:eif:>><:subscription title:></option>
              <:- iterator end subscriptions:>
            </select>
            <:help edit subscription_required:>
          </span>
        </div>
      </fieldset>
      <:- eif Subscriptions:>
      <:- eif Or:>
      <:- if Cfg articles legacy_thumbimage:>
      <fieldset>
        <legend>Thumbnail</legend>
        <div>
          <label for="thumbnail"><:ifArticle thumbImage:>Change image<:or:>Image<:eif:> <:error_img thumbnail:></label>
          <span>
            <input type="file" name="thumbnail" id="thumbnail"<:ifFieldPerm thumbnail:><:or:> disabled="disabled" <:eif:> />
          </span>
        </div>
        <:- if Article thumbImage:>
        <div>
          <label>Original</label>
          <span>
            <img src="<:cfg uri images:>/<:article thumbImage:>" width="<:article thumbWidth:>" height="<:article thumbHeight:>" />
          </span>
          <span>
            <:- if FieldPerm thumbnail:>
            <a href="<:script:>?id=<:article id:>&amp;remove_thumb=1<:if Match [article generator] "Product":>&amp;retailPrice=<:money product retailPrice:>&amp;wholesalePrice=<:money product wholesalePrice:>&amp;gst=<:money product gst:><:or Match:><:eif Match:>&amp;flags=<:article flags:>&amp;save=1&amp;lastModified=<:article lastModified:>&amp;_csrfp=<:csrfp admin_save_article:>" data-action="Delete" data-object="Thumbnail" class="button red small">Delete</a>
            <:- or FieldPerm:><a class="button red small disabled">Delete</a>
            <:- eif FieldPerm:>
          </span>
        </div>
        <:- eif Article:>
      </fieldset>
      <:- eif Cfg:>
      <:- if Images:>
      <fieldset>
        <legend>Images</legend>
        <ul class="full list">
          <:- iterator begin images:>
          <li>
            <a href="<:image src:>"><:thumbimage editor:></a> <:ifImage name:>(<:image name:>)<:eif:>
            <span>
              <:- if UserCan bse_edit_images_save:article:>
              <a href="<:script:>?a_edit_image=1&amp;id=<:article id:>&amp;image_id=<:image id:>" class="button gray small">Edit</a>
              <:- or UserCan:><a class="button gray small disabled">Edit</a>
              <:- eif UserCan:>
              <:- if UserCan bse_edit_images_delete:article:>
              <a href="<:script:>?removeimg_<:image id:>=1&amp;id=<:article id:>&amp;_csrfp=<:csrfp admin_remove_image:>" data-action="Delete" data-object="Image" class="button red small">Delete</a>
              <:- or UserCan:><a class="button red small disabled">Delete</a>
              <:- eif UserCan:>
              <:- if UserCan bse_edit_images_reorder:article:>
              <:imgmove:>
              <:- eif UserCan:>
            </span>
          </li>
          <:- iterator end images:>
        </ul>
      </fieldset>
      <:- eif Images:>
      <:- if Files:>
      <fieldset>
        <legend>Files</legend>
        <ul class="full list">
          <:- iterator begin files:>
          <li>
            <a href="<:target user download_file file [file id] |h:>"><span class="listed <:switch:><:case File hide_from_list:>orange<:case FileExists:>green<:case default:>red<:endswitch:>"></span> <:file displayName |h:></a><:ifFile name:> (<:file name:>)<:eif:>
            <span>
              <:- if UserCan bse_edit_files_save:article:>
              <a href="<:script:>?a_edit_file=1&amp;id=<:article id:>&amp;file_id=<:file id:>" class="button gray small">Edit</a>
              <:- or UserCan:>
              <a class="button gray small disabled">Edit</a>
              <:- eif UserCan:>
              <:- if UserCan bse_edit_files_delete:article:>
              <a href="<:script:>?filedel=1&amp;id=<:article id:>&amp;file=<:file id:>&amp;_csrfp=<:csrfp admin_remove_file:>" data-action="Delete" data-object="File" class="button red small">Delete</a>
              <:- or UserCan:>
              <a class="button red small disabled">Delete</a>
              <:- eif UserCan:>
              <:- if UserCan bse_edit_files_reorder:article:>
              <:movefiles:>
              <:- eif UserCan:>
            </span>
          </li>
          <:- iterator end files:>
        </ul>
      </fieldset>
      <:- eif Files:>
    </details>
    <:- if New:>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Match [referer] [adminurl admin]:><:adminurl add id [cond [cgi referer] [cgi referer] [article id]] preview 1:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article parentid:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:- if UserCan bse_edit_save:[article parentid]:>
      <input type="submit" name="save" value="Create <:typename article:>" accesskey="c" title="AccessKey = c" class="button green" />
      <:- eif UserCan:>
    </p>
    <:- or New:>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Match [referer] [adminurl admin]:><:adminurl add id [cond [cgi referer] [cgi referer] [article id]] preview 1:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article parentid:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:- if UserCan bse_edit_save:article:>
      <input type="submit" name="save" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- eif UserCan:>
    </p>
    <:- eif New:>
  </form>
</div>
<script type="text/javascript">
    function plus(ele) {
        var ele = $(ele).up('div');
        var clone = ele.clone(true);
        clone.down('label').update(' ');
        var disabled = clone.down('button[disabled]');
        if (disabled) {
            disabled.removeAttribute('disabled');
        }
        ele.insert({after: clone});
    };

    function minus(ele) {
        var ele = $(ele).up('div').remove();
    };
</script>