<:wrap admin/base.tmpl title=>"Edit File" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
    <nav data-role="toolbar">
      <:- if UserCan bse_edit_files_delete:article:>
      <a href="<:script:>?filedel=1&amp;id=<:article id:>&amp;file=<:efile id:>&amp;_csrfp=<:csrfp admin_remove_file:>" accesskey="d" title="AccessKey = d" data-object="File" data-icon="delete" class="button">Delete</a>
      <:- or UserCan:>
      <a data-icon="delete" class="button disabled">Delete</a>
      <:- eif UserCan:>
    </nav>
  </header>
  <form action="<:script:>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="file_id" value="<:efile id:>" />
    <input type="hidden" name="save_file_flags" value="1" />
    <:csrfp admin_save_file hidden:>
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Resource</legend>
       <div>
        <label for="file">Change file <:error_img file:></label>
        <span>
          <input type="file" name="file" id="file" accesskey="f" title="AccessKey = f" class="<:ifError_img file:>error<:or:><:eif:>" />
          <:help file file:>
        </span>
      </div>
      <div>
        <label for="name">Name <:ifEq [article id] -1:><span class="required">*</span> <:or:><:eif:><:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name efile name:>" <:ifEq [article id] -1:>required="required" <:or:><:eif:>class="<:ifError_img name:>error<:or:><:eif:>" />
          <:help file name:>
        </span>
      </div>
     <div>
        <label>Original</label>
        <span>
          <a href="<:target user download_file file [efile id]:>"><span class="listed <:switch:><:case Efile hide_from_list:>orange<:case Efile file_exists:>green<:case default:>red<:endswitch:>"></span> <:efile displayName:></a>
        </span>
      </div>
        <div>
          <label>Size</label>
          <span>
            <:arithmetic d1:([efile sizeInBytes] / 1024):>kB
          </span>
        </div>
    </fieldset>
    <details>
      <summary>More attributes</summary>
      <fieldset>
        <legend>Content</legend>
        <div>
          <label for="description">Description <:error_img description:></label>
          <span>
            <input type="text" name="description" id="description" value="<:old description efile description:>" class="<:ifError_img description:>error<:or:><:eif:>" />
            <:help file description:>
          </span>
        </div>
        <div>
          <label for="notes">Notes <:error_img notes:></label>
          <span>
            <textarea name="notes" id="notes" class="<:ifError_img notes:>error<:or:><:eif:>"><:old notes efile notes:></textarea>
            <:help file notes:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Properties</legend>
        <div>
          <label for="contentType">Content type <:error_img contentType:></label>
          <span>
            <input type="text" name="contentType" id="contentType" value="<:old contentType efile contentType:>" placeholder="MIME format" class="<:ifError_img contentType:>error<:or:><:eif:>" />
            <:help file contentType:>
          </span>
        </div>
        <div>
          <label for="download">Force download <:error_img download:></label>
          <span>
            <input type="checkbox" name="download" id="download" value="1" <:ifOldChecked download:>checked="checked" <:or:><:eif:>/>
            <:help file download:>
          </span>
        </div>
        <div>
          <label for="hide_from_list">Hide from list <:error_img hide_from_list:></label>
          <span>
            <input type="checkbox" name="hide_from_list" id="hide_from_list" value="1" <:ifOldChecked hide_from_list:>checked="checked" <:or:><:eif:>/>
            <:help file hide_from_list:>
          </span>
        </div>
        <:- if Match [article generator] "Product":>
        <div>
          <label for="forSale">Require payment <:error_img forSale:></label>
          <span>
            <input type="checkbox" name="forSale" id="forSale" value="1" <:ifOldChecked forSale:>checked="checked" <:or:><:eif:>/>
            <:help file forSale:>
          </span>
        </div>
        <:- or Match:><:eif Match:>
        <div>
          <label for="requireUser">Require login <:error_img requireUser:></label>
          <span>
            <input type="checkbox" name="requireUser" id="requireUser" value="1" <:ifOldChecked requireUser:>checked="checked" <:or:><:eif:>/>
            <:help file requireUser:>
          </span>
        </div>
        <div>
          <label for="storage">Storage <:error_img storage:></label>
          <span>
            <select name="storage" id="storage">
              <option value="">(Auto)</option>
              <:- iterator begin file_stores:>
              <option value="<:file_store name:>" <:ifEq [efile storage] [file_store name]:>selected="selected"<:or:><:eif:>><:file_store description:></option>
              <:- iterator end file_stores:>
            </select>
            <:help file storage:>
          </span>
        </div>
      </fieldset>
    </details>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:replace [referer] "&amp;referer=1":><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button gray">Cancel</a>
      <:- if UserCan bse_edit_files_save:article:>
      <input type="submit" name="a_save_file" value="Save changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>