<:-.set is_article = article.id and article.id > 0 -:>
<:-.set typename = is_article ? "" : "Site" -:>
<:-.wrap "admin/base.tmpl", "title": "Edit " _ typename _ " File" :>

<:-.set referer = request.referer -:>
<:-.set cgi_referer = cgi.param("referer") -:>

<:-.if referer =~ cfg.admin_url("admin") -:>
<:-.set done_url = cfg.admin_url("add", { "id": ( cgi_referer ? cgi_referer : article.id ), "preview": 1 }) -:>

<:-.elsif cgi_referer and referer and referer !~ /logon/ -:>
<:-.set done_url = referer.replace(/(&amp;|&|\?)referer=[\d]+/, "").replace(/\.pl&(mp;)?/, ".pl?") -:>

<:-.else -:>
<:-.set done_url = cfg.admin_url("add", { "id":article.id, "_t":"file" }) -:>

<:-.end if -:>
 
<div class="window dialog">
  <header>
    <:-.set pagetitle = params.title _ ( is_article ? " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" : "" ) :>
    <h1><:= pagetitle:></h1>
    <nav data-role="toolbar">
      <a href="<:= cfg.admin_url("add", { "id":article.id, "_t":"file" }):>" data-icon="back" data-icon-only="true" class="button">Back</a>
      <:-.set files = [article.files] -:>
      <:-.set files_size = files.size -:>
      <:-.if files_size > 1 :>
      <:-.for file in files -:>
        <:-.if cgi.param("file_id") == file.id -:>
          <:-.set next = loop.next ? loop.next : loop.first -:>
          <:-.set prev = loop.prev ? loop.prev : loop.last -:>
        <:-.end if -:>
      <:-.end for -:>
      <span data-role="controlgroup">
        <a href="<:= cfg.admin_url2("add", "edit_file", { "id":article.id, "file_id":next.id }):>" accesskey="&lt;" title="Previous File" data-icon="previous" data-icon-only="true" class="button">Previous File</a>
        <a href="<:= cfg.admin_url2("add", "edit_file", { "id":article.id, "file_id":prev.id }):>" accesskey="&gt;" title="Next File"data-icon="next" data-icon-only="true" class="button">Next File</a>
      </span>
      <:-.end if:>
      <:-.if request.user_can("bse_edit_files_delete", article):>
      <a href="<:= cfg.admin_url2("add", "filedel", { "id":article.id, "file":file.id, "_csrfp":request.get_csrf_token("admin_remove_file") }):>" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="File" data-icon="trash" class="button">Delete</a>
      <:-.else:>
      <a data-icon="trash" class="button disabled">Delete</a>
      <:-.end if:>
    </nav>
  </header>
  <form action="<:= cfg.admin_url("add"):>" method="post" enctype="multipart/form-data" data-object="File">
    <input type="hidden" name="id" value="<:= article.id:>" />
    <input type="hidden" name="file_id" value="<:= file.id:>" />
    <input type="hidden" name="save_file_flags" value="1" />
    <:csrfp admin_save_file hidden:>
    <input type="hidden" name="r" value="
    <:- switch -:>

    <:- # from aywhere: refresh to supplied r param -:>
    <:- case Cgi r -:>
    <:cgi r:>

    <:- # from preview with referer: refresh to article preview on save changes -:>
    <:- case And [cgi referer] [ifMatch [referer] [adminurl admin]] -:>
    <:adminurl add id [cgi referer] preview 1:>

    <:- # from preview: refresh to article preview on save changes -:>
    <:- case ifMatch [referer] [adminurl admin] -:>
    <:adminurl add id [article id] preview 1:>

    <:- # from article files: refresh to article files -:>
    <:- case Match [referer] "_t=file" -:>
    <:adminurl add id [article id] _t file:>

    <:- endswitch -:>
    " />

    <:-.set object = file -:>
    <fieldset>
      <legend>Resource</legend>
      <:.call "field", "name":"file", "field": { "description":"Change file" }, "options": { "default":"", "accesskey":"f", "title":"AccessKey = f" } :>
      <:.call "field", "name":"name", "field": { "description":"Name" } :>
      <div class="field">
        <label class="field-label">Original</label>
        <span class="field-input">
          <a href="<:= cfg.user_url("user", "download_file", "file", file.id ):>"><span class="indicator <:= file.hide_from_list ? "orange" : file.file_exists ? "green" : "red":>"></span> <:= file.displayName:></a>
        </span>
      </div>
      <div class="field">
        <label class="field-label">Size</label>
        <span class="field-input">
          <:= filesize(file.sizeInBytes):>
        </span>
      </div>
      <div class="field">
        <label class="field-label">Upload date</label>
        <span class="field-input">
          <:= bse.date("%d-%b-%Y / %r", file.whenUploaded ):>
        </span>
      </div>
    </fieldset>
    <details>
      <summary>More attributes</summary>
      <fieldset>
        <legend>Content</legend>
        <:.call "field", "name":"description" :>
        <:.call "field", "name":"notes" :>
      </fieldset>
      <fieldset>
        <legend>Properties</legend>
        <:.call "field", "name":"contentType", "field": { "description":"Content type" }, "options": { "placeholder":"MIME format" } :>
        <:.call "field", "name":"download", "field": { "description":"Force download" } :>
        <:.call "field", "name":"hide_from_list" :>
        <:-.if is_article and article.generator =~ "Product":>
        <:.call "field", "name":"forSale" :>
        <:-.end if:>
        <:.call "field", "name":"requireUser" :>
        <:.call "field", "name":"storage" :>
      </fieldset>
      <:-.set metas = [ file.metafields ] :>
      <:-.if metas.size :>
      <fieldset>
        <legend>Metadata</legend>
        <:.call "edit_metadata", "object":file, "object_type":"file" :>
      </fieldset>
      <:-.end if:>
    </details>
    <p class="buttons">
      <a href="<:= done_url:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:-.if request.user_can("bse_edit_files_save", article ):>
      <input type="submit" name="a_save_file" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:-.end if:>
    </p>
  </form>
</div>