<:wrap admin/base.tmpl title=>[cond [ifMatch [cgi id] "extras"] "Regenerate System Pages" "Regenerate Article and System Pages"] :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <ul class="inset list">
    <:iterator begin messages:>
    <:switch:>
    <:case RegenError:>
    <li class="error"><:message:></li>
    <:case Head:>
  </ul>
  <h2><:message:></h2>
  <ul class="inset list">
    <:case default:>
    <li><:message:></li>
    <:endswitch:>
    <:iterator end messages:>
  </ul>
</div>