<:wrap admin/base.tmpl title=>"Manage Admin Groups" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <:- if Or [ifUserCan bse_admin_user_add] [ifUserCan bse_admin_group_add]:>
      <ul class="menu context">
        <li><a href="#" data-icon="action+" data-icon-only="true" class="button">Actions</a>
          <ul>
            <:- if UserCan bse_admin_user_add:>
            <li><a href="<:script:>?a_adduserform=1" accesskey="u" title="AccessKey = u">New Admin User…</a></li>
             <:- eif UserCan:>
             <:- if UserCan bse_admin_group_add:>
             <li class="divider"></li>
             <li><a href="<:script:>?a_addgroupform=1" accesskey="g" title="AccessKey = g">New Admin Group…</a></li>
             <:- eif UserCan:>
          </ul>
        </li>
      </ul>
      <:- eif Or:>
      <span data-role="controlgroup">
        <a href="<:script:>" class="button">Users</a>
        <a href="<:script:>?a_groups=1" class="button selected">Groups</a>
      </span>
    </nav>
  </header>
  <:- if Groups:>
  <fieldset>
    <legend>Groups</legend>
    <table class="full list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Users</th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:- iterator begin groups:>
        <tr>
          <td><:igroup name:></td>
          <td><:igroup description:></td>
          <td><:ifGroup_users igroup:><:iterator begin group_users igroup:><:group_user logon:><:iterator separator group_users:>, <:iterator end group_users:><:or:>(none)<:eif:></td>
          <td class="actions">
            <a href="<:script:>?a_showgroup=1&amp;groupid=<:igroup id:>" class="button gray small">Edit</a>
            <:- if UserCan bse_admin_group_del:>
            <a href="<:script:>?a_delgroup=1&amp;groupid=<:igroup id:>" data-action="Delete" data-object="Group" class="button red small">Delete</a>
            <:- or UserCan:>
            <a class="button red small disabled">Delete</a>
            <:- eif UserCan:>
          </td>
        </tr>
        <:- iterator end groups:>
      </tbody>
    </table>
  </fieldset>
  <:- or Groups:>
  <fieldset>
    <legend>Groups</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No admin groups to display</p>
      <:- if UserCan bse_admin_group_add:>
      <p><a href="<:script:>?a_addgroupform=1&amp;referer=1" data-icon="add" class="button white">New Admin Group…</a></p>
      <:- eif UserCan:>
    </div>
  </fieldset>
  <:- eif Groups:>
</div>