<a href="<:prefix:><:file:>.html#<:entry:>" target="_blank" class="help"><img src="<:stylecfg icon /bse-admin/images/icons/help.gif:>" width="<:stylecfg iconwidth 16:>" height="<:stylecfg iconheight 16:>" alt="Help on <:entry:>" /></a>