<:wrap admin/base.tmpl title=>"Edit Image" :>
<div class="window dialog">
  <h1><:param title:></h1>
  <p class="buttons">
    <:ifUserCan bse_edit_images_delete:article:>
    <a href="<:script:>?removeimg_<:eimage id:>=1&amp;id=<:article id:>&amp;_csrfp=<:csrfp admin_remove_image:>" onclick="return window.confirm('Are you sure you want to delete this Image?')" class="button red small">Delete</a><:or:><span class="button gray small">Delete</span><:eif:>
  </p>
  <form action="<:script:>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="image_id" value="<:eimage id:>" />
    <:csrfp admin_save_image hidden:>
    <input name="r" type="hidden" value="<:cgi r:>" />
    <fieldset>
      <legend>Resource</legend>
      <div>
        <label for="image">Change image <:error_img image:></label>
        <span>
          <input type="file" name="image" id="image" accesskey="f" title="AccessKey = f" />
          <:help image image:>
        </span>
      </div>
      <div>
        <label for="name">Name <:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name eimage name:>" />
          <:help image name:>
        </span>
      </div>
      <div>
        <label>Original</label>
        <span>
          <a href="<:eimage src:>"><:replace [eimage image] ^[0-9]+_ :><!--:thumbimage editor eimage:--></a>
        </span>
      </div>
      <div>
        <label>Size</label>
        <span>
          <:eimage width:> &times; <:eimage height:> px
        </span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Properties</legend>
      <div>
        <label for="alt">Alt <:error_img alt:></label>
        <span>
          <input type="text" name="alt" id="alt" value="<:old alt eimage alt:>" />
          <:help image alt:>
        </span>
      </div>
      <div>
        <label for="url">URL <:error_img url:></label>
        <span>
          <input type="text" name="url" id="url" value="<:old url eimage url:>" />
          <:help image url:>
        </span>
      </div>
      <div>
        <label for="storage">Storage <:error_img storage:></label>
        <span>
          <select name="storage" id="storage">
            <option value="">(Auto)</option>
            <:iterator begin image_stores:>
            <option value="<:image_store name:>" <:ifEq [old storage eimage storage] [image_store name]:>selected="selected"<:or:><:eif:>><:image_store description:></option>
            <:iterator end image_stores:>
          </select>
          <:help image storage:>
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:param r:><:case Cgi referer:><:referer:><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." class="button gray">Cancel</a>
      <:if UserCan bse_edit_images_save:article:>
      <input type="submit" name="a_save_image" value="Save changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>