<:-.set is_article = article.id > 0 -:>
<:-.set typename = is_article ? "" : "Site" -:>
<:-.wrap "admin/base.tmpl", "title": "Edit " _ typename _ " Image" :>
<div class="window dialog">
  <header>
    <:-.set pagetitle = params.title _ ( is_article ? " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" : "" ) :>
    <h1><:= pagetitle:></h1>
    <nav data-role="toolbar">
      <a href="<:adminurl add:>?id=<:article id:>&amp;_t=img" data-icon="back" data-icon-only="true" class="button">Back</a>
      <:- if UserCan bse_edit_images_delete:article:>
      <a href="<:script:>?removeimg_<:eimage id:>=1&amp;id=<:article id:>&amp;_csrfp=<:csrfp admin_remove_image:>" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="Image" data-icon="trash" class="button">Delete</a>
      <:- or UserCan:>
      <a data-icon="trash" class="button disabled">Delete</a>
      <:- eif UserCan:>
    </nav>
  </header>
  <form action="<:script:>" method="post" enctype="multipart/form-data" data-object="Image">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="image_id" value="<:eimage id:>" />
    <:csrfp admin_save_image hidden:>
    <input type="hidden" name="r" value="
    <:- switch -:>

    <:- # from aywhere: refresh to supplied r param -:>
    <:- case Cgi r -:>
    <:cgi r:>

    <:- # from preview with referer: refresh to article preview on save changes -:>
    <:- case And [cgi referer] [ifMatch [referer] [adminurl admin]] -:>
    <:adminurl add id [cgi referer] preview 1:>

    <:- # from preview: refresh to article preview on save changes -:>
    <:- case ifMatch [referer] [adminurl admin] -:>
    <:adminurl add id [article id] preview 1:>

    <:- # from article images: refresh to article images -:>
    <:- case Match [referer] "_t=img" -:>
    <:adminurl add id [article id] _t img:>

    <:- endswitch -:>
    " />
    <fieldset>
      <legend>Resource</legend>
      <div>
        <label for="image">Change image <:error_img image:></label>
        <span>
          <input type="file" name="image" id="image" accesskey="f" title="AccessKey = f" class="<:ifError_img image:>error<:eif:>" />
          <:help image image:>
        </span>
      </div>
      <div>
        <label for="name">Name <:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name eimage name:>" class="<:ifError_img name:>error<:eif:>" />
          <:help image name:>
        </span>
      </div>
      <div>
        <label>Thumbnail</label>
        <span>
          <a href="<:eimage src:>"><:= eimage.thumb("geo", "editor") |raw:></a>
        </span>
      </div>
      <div>
        <label>Original</label>
        <span>
          <a href="<:eimage src:>"><:replace [eimage image] ^[0-9]+_ :></a>
        </span>
      </div>
      <div>
        <label>Size</label>
        <span>
          <:eimage width:> &times; <:eimage height:> px
        </span>
      </div>
    </fieldset>
    <details>
      <summary>More attributes</summary>
      <fieldset>
        <legend>Properties</legend>
        <div>
          <label for="alt">Alt <:error_img alt:></label>
          <span>
            <input type="text" name="alt" id="alt" value="<:old alt eimage alt:>" class="<:ifError_img alt:>error<:eif:>" />
            <:help image alt:>
          </span>
        </div>
        <div>
          <label for="url">URL <:error_img url:></label>
          <span>
            <input type="text" name="url" id="url" value="<:old url eimage url:>" class="<:ifError_img url:>error<:eif:>" />
            <:help image url:>
          </span>
        </div>
        <div>
          <label for="storage">Storage <:error_img storage:></label>
          <span>
            <select name="storage" id="storage">
              <option value="">(Auto)</option>
              <:- iterator begin image_stores:>
              <option value="<:image_store name:>" <:ifEq [old storage eimage storage] [image_store name]:>selected="selected"<:eif:>><:image_store description:></option>
              <:- iterator end image_stores:>
            </select>
            <:help image storage:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Tags</legend>
        <input type="hidden" name="_save_tags" value="1" />
        <:-.set tags = cgi.param("_save_tags") ? [ cgi.param("tags") ] : [ "", eimage.tags ] :>
        <:-.for tag in tags :>
        <div>
          <label for="tag_<:= loop.count :>"><:= loop.is_first ? "Tag name" : "" :> <:.call "error_img_n", "name":"tags", "index":loop.index :></label>
          <span>
            <input type="text" name="tags" id="tag_<:= loop.count :>" value="<:= tag :>" class="<:.call "error_classname", "name":"tags", "index":loop.index :>"/>
            <:-.if loop.is_first:>
            <button class="button gray small" onclick="plus(this); return false;">&plus;</button>
            <button class="button gray small" onclick="minus(this); return false;" disabled="disabled">&minus;</button>
            <:-.end if:>
          </span>
        </div>
        <:-.end for:>
      </fieldset>
    </details>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Match [referer] [adminurl admin]:><:adminurl add id [cond [cgi referer] [cgi referer] [article id]] preview 1:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?id=<:article id:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:- if UserCan bse_edit_images_save:article:>
      <input type="submit" name="a_save_image" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- eif UserCan:>
    </p>
  </form>
</div>
<script type="text/javascript">
    function plus(ele) {
        var ele = $(ele).up('div');
        var clone = ele.clone(true);
        clone.down('input[name="tags"]').clear().removeAttribute("class");
        clone.down('label').update(' ');
        var disabled = clone.down('button[disabled]');
        if (disabled) {
            disabled.removeAttribute('disabled');
        }
        ele.insert({after: clone});
    };

    function minus(ele) {
        var ele = $(ele).up('div').remove();
    };
</script>