<:-.set is_article = article.id and article.id > 0 -:>
<:-.set typename = is_article ? "" : "Site" -:>
<:-.wrap "admin/base.tmpl", "title": "Edit " _ typename _ " Image" :>

<:-.set referer = request.referer -:>
<:-.set cgi_referer = cgi.param("referer") -:>

<:-.if referer =~ cfg.admin_url("admin") -:>
<:-.set done_url = cfg.admin_url("add", { "id": ( cgi_referer ? cgi_referer : article.id ), "preview": 1 }) -:>

<:-.elsif cgi_referer and referer and referer !~ /logon/ -:>
<:-.set done_url = referer.replace(/(&amp;|\?)referer=[\d]+/, "") -:>

<:-.else -:>
<:-.set done_url = cfg.admin_url("add", { "id": article.parentid }) -:>

<:-.end if -:>
 
<div class="window dialog">
  <header>
    <:-.set pagetitle = params.title _ ( is_article ? " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" : "" ) :>
    <h1><:= pagetitle:></h1>
    <nav data-role="toolbar">
      <a href="<:= cfg.admin_url("add", { "id":article.id, "_t":"img" }):>" data-icon="back" data-icon-only="true" class="button">Back</a>
      <:- if UserCan bse_edit_images_delete:article:>
      <a href="<:= cfg.admin_url("add", { "id":article.id, "removeimg_" _ eimage.id:1, _csrfp:request.get_csrf_token("admin_remove_image") }):>" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="Image" data-icon="trash" class="button">Delete</a>
      <:- or UserCan:>
      <a data-icon="trash" class="button disabled">Delete</a>
      <:- eif UserCan:>
    </nav>
  </header>
  <form action="<:= cfg.admin_url("add"):>" method="post" enctype="multipart/form-data" data-object="Image">
    <input type="hidden" name="id" value="<:= article.id:>" />
    <input type="hidden" name="image_id" value="<:= eimage.id:>" />
    <:csrfp admin_save_image hidden:>
    <input type="hidden" name="r" value="
    <:- switch -:>

    <:- # from aywhere: refresh to supplied r param -:>
    <:- case Cgi r -:>
    <:cgi r:>

    <:- # from preview with referer: refresh to article preview on save changes -:>
    <:- case And [cgi referer] [ifMatch [referer] [adminurl admin]] -:>
    <:adminurl add id [cgi referer] preview 1:>

    <:- # from preview: refresh to article preview on save changes -:>
    <:- case ifMatch [referer] [adminurl admin] -:>
    <:adminurl add id [article id] preview 1:>

    <:- # from article images: refresh to article images -:>
    <:- case Match [referer] "_t=img" -:>
    <:adminurl add id [article id] _t img:>

    <:- endswitch -:>
    " />
    <fieldset>
      <legend>Resource</legend>
      <div>
        <label for="image">Change image <:.call "error_img", "name":"image" :></label>
        <span>
          <input type="file" name="image" id="image" accesskey="f" title="AccessKey = f" class="<:.call "error_classname", "name":"image" :>" />
          <:help image image:>
        </span>
      </div>
      <div>
        <label for="name">Name <:.call "error_img", "name":"name" :></label>
        <span>
          <input type="text" name="name" id="name" value="<:.call "old", "name":"name", "default":eimage.name :>" class="<:.call "error_classname", "name":"name" :>" />
          <:help image name:>
        </span>
      </div>
      <div>
        <label>Thumbnail</label>
        <span>
          <a href="<:= eimage.src:>" onclick="window.open(this.href, 'fullimage', 'width=<:= 40 + eimage.width:>,height=<:= 90 + eimage.height:>,location=no,status=no,menubar=no,scrollbars=yes'); return false;"><:= eimage.thumb("geo", "editor", "nolink", 1 ) |raw:></a>
        </span>
      </div>
      <div>
        <label>Original</label>
        <span>
          <a href="<:= eimage.src:>"><:= eimage.image.replace('^[0-9]+_', '' ):></a>
        </span>
      </div>
      <div>
        <label>Size</label>
        <span>
          <:= eimage.width:> &times; <:= eimage.height:> px
        </span>
      </div>
    </fieldset>
    <details>
      <summary>More attributes</summary>
      <fieldset>
        <legend>Properties</legend>
        <div>
          <label for="alt">Alt <:.call "error_img", "name":"alt" :></label>
          <span>
            <input type="text" name="alt" id="alt" value="<:.call "old", "name":"name", "default":eimage.alt :>" class="<:.call "error_classname", "name":"alt" :>" />
            <:help image alt:>
          </span>
        </div>
        <div>
          <label for="url">URL <:.call "error_img", "name":"url" :></label>
          <span>
            <input type="text" name="url" id="url" value="<:.call "old", "name":"name", "default":eimage.url :>" class="<:.call "error_classname", "name":"url" :>" />
            <:help image url:>
          </span>
        </div>
        <:-.set stores = [ image_stores() ] :>
        <:-.set oldstore = cgi.param("storage").defined ? cgi.param("storage") : eimage.storage :>
        <div>
          <label for="storage">Storage <:.call "error_img", "name":"storage" :></label>
          <span>
            <select name="storage" id="storage">
              <option value="">(Auto)</option>
              <:-.for store in stores :>
              <option value="<:= store.name:>"<:= oldstore eq store.name ? " selected" : "" :>><:= store.description:></option>
              <:-.end for:>
            </select>
            <:help image storage:>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Tags</legend>
        <input type="hidden" name="_save_tags" value="1" />
        <:-.set tags = cgi.param("_save_tags") ? [ cgi.param("tags") ] : [ "", eimage.tags ] :>
        <:-.for tag in tags :>
        <div class="field">
          <label for="tag_<:= loop.count :>"><:= loop.is_first ? "Tag name" : "" :> <:.call "error_img_n", "name":"tags", "index":loop.index :></label>
          <span class="field-input">
            <input type="text" name="tags" id="tag_<:= loop.count :>" value="<:= tag :>" class="<:.call "error_classname", "name":"tags", "index":loop.index :>" />
          </span>
          <:-.if loop.is_first:>
          <span class="field-actions">
            <button class="button gray small" onclick="plus(this); return false;">&plus;</button>
            <button class="button gray small" onclick="minus(this); return false;" disabled="disabled">&minus;</button>
          </span>
          <:-.end if:>
        </div>
        <:-.end for:>
      </fieldset>
    </details>
    <p class="buttons">
      <a href="<:= done_url:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:- if UserCan bse_edit_images_save:article:>
      <input type="submit" name="a_save_image" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- eif UserCan:>
    </p>
  </form>
</div>
<script type="text/javascript">
    function plus(ele) {
        var ele = $(ele).up('div');
        var clone = ele.clone(true);
        clone.down('input[name="tags"]').clear().removeAttribute("class");
        clone.down('label').update(' ');
        var disabled = clone.down('button[disabled]');
        if (disabled) {
            disabled.removeAttribute('disabled');
        }
        ele.insert({after: clone});
    };

    function minus(ele) {
        var ele = $(ele).up('div').remove();
    };
</script>