<:uc [cfg site name]:> SHOP ADMINISTRATION.

A user registered interest in product.

USER DETAILS:

  Email: <:email:>
  
PRODUCT DETAILS:

  Title: <:product:>


Regards
The team at <:cfg site name:>
(<:cfg site url:>)
