<:= cfg.entry("site", "name").upper |raw:> SHOP ADMINISTRATION.

A user registered interest in the following product.

USER DETAILS:

  Email: <:email:>

PRODUCT DETAILS:

  Title: <:product:>

Regards
The team at <:= cfg.entry("site", "name") |raw:>
(<:= cfg.entry("site", "url") |raw:>)

<:% set_subject("A user registered interest"):>