<:-.wrap "admin/base.tmpl", "title": "Administration Logon", "nonavbar": 1, "classes": "nonavbar" :>
<:-.set object = 0 :>
<div class="window dialog">
  <header>
    <h1><:= params.title:></h1>
  </header>
  <form action="<:= cfg.admin_url("logon"):>" method="post" data-object="User" data-confirm="false">
    <input type="hidden" name="r" value="<:= cgi.param("r") or cfg.admin_url("add", { "id": 1, "preview": 1 }):>" />
    <fieldset>
      <legend>Login</legend>
      <:.call "inlinefield", "name": "logon", "field": { "description": "Username", "autofocus": 1, "required": 1 } :>
      <:.call "inlinefield", "name": "password", "field": { "description": "Password", "htmltype": "password", "required": 1 } :>
    </fieldset>
    <p class="buttons">
      <input type="submit" name="a_logon" value="Login" accesskey="l" title="AccessKey = l" class="button blue" />
    </p>
  </form>
</div>