<:wrap admin/base.tmpl title=>[cfg site name |h] nonavbar=>"1" bodyid=>"logon" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
  </header>
  <form action="<:adminurl logon:>" method="post" data-object="User" data-confirm="false">
    <:- if Cgi r:>
    <input type="hidden" name="r" value="<:cgi r:>" />
    <:- or Cgi:>
    <input type="hidden" name="r" value="<:adminurl add id 1 preview 1:>" />
    <:- eif Cgi:>
    <fieldset>
      <legend>Login</legend>
      <div>
        <label for="username">Username <span class="required">*</span> <:error_img logon:></label>
        <span>
          <input type="text" name="logon" id="username" value="<:old logon:>" required="required" autofocus="autofocus" class="<:ifError_img logon:>error<:or:><:eif:>" />
        </span>
      </div>
      <div>
        <label for="password">Password <span class="required">*</span> <:error_img password:></label>
        <span>
          <input type="password" name="password" id="password" value="" required="required" class="<:ifError_img password:>error<:or:><:eif:>" />
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <input type="submit" name="a_logon" value="Login" accesskey="l" title="AccessKey = l" class="button blue" />
    </p>
  </form>
</div>