<:wrap admin/base.tmpl title=>"Export Site User Data" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
  </header>
  <form action="<:adminurl userlist:>" method="post" data-object="Export" data-confirm="false">
    <input type="hidden" name="_t" value="export" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Selection</legend>
      <div>
        <label for="min">Start user <span class="required">*</span> <!--:error_img min:--></label>
        <span>
          <input type="text" name="min" id="min" required="required" autofocus="autofocus" class="<:ifError_img min:>error<:or:><:eif:>" />
          <:help userlist min:>
        </span>
      </div>
      <div>
        <label for="max">Finish user <!--:error_img max:--></label>
        <span>
          <input type="text" name="max" id="max" class="<:ifError_img max:>error<:or:><:eif:>" />
          <:help userlist max:>
        </span>
      </div>
      <div>
        <label for="field">Field <!--:error_img field:--></label>
        <span>
          <select name="field" id="field" class="<:ifError_img field:>error<:or:><:eif:>">
            <option value="id">Id</option>
	        <option value="userId"><:cfg "site users" display_userId "Username":></option>
          </select>
          <:help userlist field:>
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:replace [referer] "&amp;referer=1":><:case default:><:adminurl menu:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="cancel" class="button white">Cancel</a>
      <:- if UserCan bse_siteuser_export:>
      <input type="submit" name="export" value="Export Data" accesskey="e" title="AccessKey = e" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>