<:wrap admin/base.tmpl title=>"Module Versions" nomessage=>"1" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <fieldset>
    <legend>Version hash: <:hash:></legend>
    <table class="full list">
      <thead>
        <tr>
          <th>Module</th>
          <th>Expected</th>
          <th>Found</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <:- iterator begin modules:>
        <tr <:- ifModule error:> class="error"<:eif:>>
          <td><:module name:></td>
          <td><:module version:></td>
          <td><:module found:></td>
          <td><:ifModule error:><:module error:><:or:><:module notes:><:eif:></td>
        </tr>
        <:- iterator end modules:>
      </tbody>
    </table>
  </fieldset>
</div>