<:wrap admin/base.tmpl title=>"Load Order" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
  </header>
  <form action="<:adminurl shopadmin:>" method="post">
    <input type="hidden" name="order_detail" value="1" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Order</legend>
      <div>
        <label for="id">Order No. <span class="required">*</span></label>
        <span>
          <input type="text" name="id" id="id" value="<:old id:>" required="required" autofocus="autofocus" class="<:ifError_img id:>error<:or:><:eif:>" />
          <:help order id:>
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:replace [referer] "&amp;referer=1":><:case default:><:adminurl shopadmin order_list 1:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="cancel" class="button white">Cancel</a>
      <input type="submit" value="Load Order" accesskey="l" title="AccessKey = l" class="button blue" />
    </p>
  </form>
</div>