<:-.wrap "admin/base.tmpl", "title": "Order Detail" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <a href="<:adminurl2 shopadmin order_list:>" data-icon="back" data-icon-only="true" class="button">Back</a>
      <span data-role="controlgroup">
        <a href="<:adminurl2 shopadmin order_detail id [order id]:>" class="button <:cond [ifEq [cgi _t] ""] selected:>">Order</a>
        <:- if UserCan bse_log_list:>
        <a href="<:adminurl2 shopadmin order_detail id [order id] _t activity:>" class="button <:cond [ifEq [cgi _t] activity] selected:>">Activity</a>
        <:- eif UserCan:>
      </span>
    </nav>
  </header>
  <div class="group">
    <table class="vertical left">
      <caption>Order details</caption>
      <tbody>
        <tr>
          <th>Order No.:</th>
          <td><b><:order id |%06d:></b></td>
        </tr>
        <tr>
          <th>Order Date:</th>
          <td><:date order orderDate:></td>
        </tr>
        <:- if Order stage_description_id:>
        <tr>
          <th>Order Status:</th>
          <td><:stage_description:></td>
        </tr>
        <:- eif Order:>
        <:- if Order purchase_order:>
        <tr>
          <th>Purchase Order:</th>
          <td><:order purchase_order:></td>
        </tr>
        <:- eif Order:>
        <:- if Order freight_tracking:>
        <tr>
          <th>Tracking Code:</th>
          <td>
            <:- if Cfg "shipping tracking urls" [order shipping_name]:>
            <a href="<:cfg "shipping tracking urls" [order shipping_name] |h:><:order freight_tracking:>"><:order freight_tracking:></a>
            <:- or Cfg:>
            <:order freight_tracking:>
            <:- eif Cfg:>
          </td>
        </tr>
        <:- eif Order:>
        <:- if Order shipping_method:>
        <tr>
          <th>Shipping Method:</th>
          <td><:order shipping_method:></td>
        </tr>
        <:- eif Order:>
        <:- if Order userId:>
        <tr>
          <th><:cfg "site user" display_userid "Username":>:</th>
          <td><a href="<:adminurl siteusers a_edit 1 id [siteuser id]:>"><:order userId:></a></td>
        </tr>
        <:- eif Order:>
        <:- if Order affiliate_code:>
        <tr>
          <th><:cfg shop display_affiliate_code "Referrer":>:</th>
          <td><:order affiliate_code:></td>
        </tr>
        <:- eif Order:>
        <:- if Order coupon_code:>
        <tr>
          <th><:cfg shop display_coupon_code "Coupon Code":>:</th>
          <td><a href="<:adminurl2 shopadmin coupon_edit id [order coupon_id] referer 1:>"><:order coupon_code:></a> (<:order coupon_code_discount_pc:>%)</td>
        </tr>
        <:- eif Order:>
      </tbody>
    </table>
    <table class="vertical right">
      <caption>Payment details <span class="<:ifOrder paidFor:>paid<:or:>unpaid<:eif:>"><:ifOrder paidFor:>Paid<:or:>Unpaid<:eif:></span></caption>
      <tbody>
       <tr>
          <th>Payment Method:</th>
          <:- switch:>
          <:- case Eq [order paymentType] "0":>
          <td><b>Credit Card</b></td>
        </tr>
        <:- if Order ccOnline:>
        <:- switch:>
        <:- case Order ccSuccess:>
        <tr>
          <th>Receipt No.:</th>
          <td><:order ccReceipt:></td>
        </tr>
        <:- ifOrder ccTranId:>
        <tr>
          <th>Transaction Id:</th>
          <td><:order ccTranId:></td>
        </tr>
        <:- or:><:eif:>
        <:- case default:>
        <tr>
          <th>Transaction Status:</th>
          <td><:order ccStatus:></td>
        </tr>
        <tr>
          <th>Transaction Error:</th>
          <td><:order ccStatusText:></td>
          <:- ifOrder ccStatus2:>
          <th>Transaction Info:</th>
          <td><:order ccStatus2:></td>
          <:- eif:>
        </tr>
        <:- endswitch:>
        <:- eif Order:>
        <tr>
          <th><:cfg shop display_ccName "Name on Card":>:</th>
          <td><:order ccName:></td>
        </tr>
        <:- if Order ccPAN:>
        <tr>
          <th><:cfg shop display_ccPAN "Card Number":>:</th>
          <td>**** **** **** <:order ccPAN:></td>
        </tr>
        <:- eif Order:>
        <tr>
          <th><:cfg shop display_ccType "Card Type":>:</th>
          <td><:order ccType:></td>
        </tr>
          <:- case Eq [order paymentType] "1":>
          <td><b>Cheque</b></td>
        </tr>
        <tr>
          <th>Payee:</th>
          <td>
            <b><:cfg shop address1 |h:></b>
          </td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>
            <:cfg shop address2 |h:><br />
            <:cfg shop address3 |h:><br />
            <:cfg shop address4 |h:>
          </td>
        </tr>
          <:- case Eq [order paymentType] "2":>
          <td><b>Contact</b></td>
        </tr>
          <:- case Eq [order paymentType] "3":>
          <td><b>Manual</b></td>
        </tr>
          <:- case Eq [order paymentType] "4":>
          <td><b>PayPal</b></td>
        </tr>
        <tr>
          <th>Transaction Id:</th>
          <td><:order paypal_tran_id:></td>
        </tr>
          <:- case Eq [order paymentType] "10":>
          <td><b>EFT</b></td>
        </tr>
        <tr>
          <th>Name:</th>
          <td><:cfg shop accountname |h:></td>
        </tr>
        <tr>
          <th>BSB:</th>
          <td><:cfg shop bsb:></td>
        </tr>
        <tr>
          <th>Account:</th>
          <td><:cfg shop accountno:></td>
        </tr>
        <tr>
          <th>Reference:</th>
          <td><:order id |%06d:></td>
        </tr>
          <:- case Eq [order paymentType] "11":>
          <td><b>Invoice</b></td>
        </tr>
          <:- case Eq [order paymentType] "12":>
          <td><b>Account</b></td>
        </tr>
<:include include/order_payment_type.tmpl optional:>
          <:- case default:>
          <td><b>None</b></td>
        </tr>
        <:- endswitch:>
      </tbody>
    </table>
    </div>
    <table class="items">
      <caption>Order items</caption>
      <thead>
        <tr>
          <th class="item">Item</th>
          <th class="code">Code</th>
          <th class="tier">Tier</th>
          <th class="quantity">Qty</th>
          <th class="price">Price</th>
          <th class="extended">Extended</th>
        </tr>
      </thead>
      <tbody>
        <:-.for item in [order.items]:>
          <:-.set product = @undef :>
          <:-.if item.productId > 0 :>
          <:-.set product = bse.products.getByPkey(item.productId):>
          <:-.end if:>
        <tr>
          <td class="item">
            <:-.if item.productId == -1:>
            <:= item.title:> (product deleted)
            <:-.else:>
            <a href="<:= cfg.admin_url("add", { "id":product.id, "referer":1}) :>"><:= item.title:></a>
            <:-.end if:>
            <:-.if item.nice_options:>
            <span><:= item.nice_options:></span>
            <:-.end if:>
            <:-.if item.description and cfg.entry("shop", "product_description", 1):>
            <div class="description"><:= item.description:></div>
            <:-.end if:>
          </td>
          <td class="code"><:= item.product_code:></td>
          <td class="tier"><:= item.tier_id ? item.tier.description : cfg.entry("shop", "base_tier_name", "Retail"):></td>
          <td class="quantity"><:= item.units:> &times;</td>
          <td class="price"><:= cfg.entry("shop", "currency", "$"):><:= bse.number("money", item.price):></td>
          <td class="extended"><:= cfg.entry("shop", "currency", "$"):><:= bse.number("money", item.extended("price")):></td>
        </tr>
        <:-.end for:>
      </tbody>
    </table>
    <div class="totals">
      <:- if Order coupon:>
      <p class="discount"><span>(<:order coupon_code_discount_pc:>% Coupon)</span> <label>Discount:</label> &minus;<:cfg shop currency "$":><:number money [order product_cost_discount]:></p>
      <:- eif Order:>
      <:- switch:>
      <:- case Order shipping_cost:>
      <p class="freight"><span>(<:order shipping_method:>)</span> <label>Freight:</label> <:cfg shop currency "$":><:number money [order shipping_cost]:></p>
      <:- case Match [order shipping_name] ^contact$:>
      <p class="freight"><span>(<:order shipping_method:>)</span> <label>Freight:</label> TBA</p>
      <:- case default:>
      <:- endswitch:>
      <p class="total"><abbr><:cfg shop currency_code "AUD":></abbr> <label>Total:</label> <:cfg shop currency "$":><:number money [order total]:></p>
    </div>
    <div class="group">
    <:- if Order billStreet:>
    <table class="vertical left">
      <caption>Billing details</caption>
      <tbody>
        <tr>
          <th>Name:</th>
          <td><b><:order billFirstName:> <:order billLastName:></b></td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>
            <:- ifOrder billOrganization:>
            <:- order billOrganization:><br />
            <:- eif:>
            <:- order billStreet:><br />
            <:- ifOrder billStreet2:>
            <:- order billStreet2:><br />
            <:- eif:>
            <:- order billSuburb:> <:order billState:> <:order billPostCode:><br />
            <:- ifCfgsection "country selector":>
            <:cfg "country selector" [order billCountry]:>
            <:- or:>
            <:- order billCountry:>
            <:- eif:>
          </td>
        </tr>
        <:- ifOrder billTelephone:>
        <tr>
          <th><:cfg "site users" display_telephone "Telephone":>:</th>
          <td><:order billTelephone:></td>
        </tr>
        <:- eif:>
        <:- ifOrder billFacsimile:>
        <tr>
          <th><:cfg "site users" display_facsimile "Facsimile":>:</th>
          <td><:order billFacsimile:></td>
        </tr>
        <:- eif:>
        <:- ifOrder billMobile:>
        <tr>
          <th><:cfg "site users" display_mobile "Mobile":>:</th>
          <td><:order billMobile:></td>
        </tr>
        <:- eif:>
        <tr>
          <th><:cfg "site users" display_email "Email Address":>:</th>
          <td><:order billEmail:></td>
        </tr>
        <:- ifOrder instructions:>
        <tr>
          <th>Instructions:</th>
          <td><:order instructions:></td>
        </tr>
        <:- eif:>
      </tbody>
    </table>
    <:- eif Order:>
    <:- if Order delivStreet:>
    <table class="vertical right">
      <caption>Shipping details</caption>
      <tbody>
        <tr>
          <th>Name:</th>
          <td><b><:order delivFirstName:> <:order delivLastName:></b></td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>
            <:- ifOrder delivOrganization:>
            <:- order delivOrganization:><br />
            <:- eif:>
            <:- order delivStreet:><br />
            <:- ifOrder delivStreet2:>
            <:- order delivStreet2:><br />
            <:- eif:>
            <:- order delivSuburb:> <:order delivState:> <:order delivPostCode:><br />
            <:- ifCfgsection "country selector":>
            <:cfg "country selector" [order delivCountry]:>
            <:- or:>
            <:- order delivCountry:>
            <:- eif:>
          </td>
        </tr>
        <:- ifOrder telephone:>
        <tr>
          <th><:cfg "site users" display_telephone "Telephone":>:</th>
          <td><:order telephone:></td>
        </tr>
        <:- eif:>
        <:- ifOrder facsimile:>
        <tr>
          <th><:cfg "site users" display_facsimile "Facsimile":>:</th>
          <td><:order facsimile:></td>
        </tr>
        <:- eif:>
        <:- ifOrder delivMobile:>
        <tr>
          <th><:cfg "site users" display_mobile "Mobile":>:</th>
          <td><:order delivMobile:></td>
        </tr>
        <:- eif:>
        <:- ifOrder emailAddress:>
        <tr>
          <th><:cfg "site users" display_email "Email Address":>:</th>
          <td><:order emailAddress:></td>
        </tr>
        <:- eif:>
      </tbody>
    </table>
    <:- eif Order:>
  </div>
  <:- if And [ifEq [order paymentType] "4"] [order paidFor] [ifEq [order paid_manually] "0"]:>
  <:- if UserCan bse_shop_order_refund_paypal:>
  <form action="<:adminurl shopadmin:>" method="post" data-object="Refund">
    <fieldset>
      <legend>Payment</legend>
      <ul>
        <li>
          <input type="checkbox" name="id" id="id" value="<:= order.id :>" required="required" />
          <label for="id">Refund the PayPal payment associated with this order and mark it as unpaid</label>
        </li>
      </ul>
      <p class="buttons">
        <input type="submit" name="a_paypal_refund" value="Refund Payment" class="button red" />
      </p>
    </fieldset>
  </form>
  <:- eif UserCan:>
  <:- eif And:>
  <:-.if !order.paidFor:>
  <form action="<:adminurl shopadmin:>" method="post" data-object="Payment">
    <:csrfp shop_order_paid hidden:>
    <fieldset>
      <legend>Payment</legend>
      <div>
        <label for="paymentType">Method</label>
        <span>
          <:.call "make_select", "name": "paymentType", "required": 1, "list": payment_types, "id": "id", "desc": "desc", "default": order.paymentType:>
        </span>
      </div>
      <ul>
        <li>
          <input type="checkbox" name="id" id="id" value="<:= order.id :>" required="required" />
          <label for="id">Mark this order as paid using the selected payment method</label>
        </li>
      </ul>
      <p class="buttons">
        <input type="submit" name="a_order_paid" value="Save Payment" class="button green" />
      </p>
    </fieldset>
  </form>
  <:-.elsif order.is_manually_paid:>
  <form action="<:adminurl shopadmin:>" method="post" data-object="Payment">
    <:csrfp shop_order_unpaid hidden:>
    <fieldset>
      <legend>Payment</legend>
      <ul>
        <li>
          <input type="checkbox" name="id" id="id" value="<:= order.id :>" required="required" />
          <label for="id">Delete the payment associated with this order and mark it as unpaid</label>
        </li>
      </ul>
      <p class="buttons">
        <input type="submit" name="a_order_unpaid" value="Delete Payment" class="button red" />
      </p>
    </fieldset>
  </form>
  <:-.end if:>
  <form action="<:adminurl shopadmin:>" method="post" data-object="Order">
    <:-switch:>
    <:-case Eq [order stage] "shipped":>
    <:-case Eq [order shipping_name] "none":>
    <:-case default:>
    <fieldset>
      <legend>Freight</legend>
      <input type="hidden" name="id" value="<:order id:>" />
      <:csrfp shop_order_save hidden:>
      <div>
        <label for="shipping_name">Shipping method</label>
        <span>
          <:shipping_method_select:>
        </span>
      </div>
      <div>
        <label for="freight_tracking">Tracking code</label>
        <span>
          <input type="text" name="freight_tracking" id="freight_tracking" value="<:order freight_tracking:>" />
        </span>
      </div>
    </fieldset>
    <:-endswitch:>
    <fieldset>
      <legend>Status</legend>
      <input type="hidden" name="id" value="<:order id:>" />
      <:csrfp shop_order_save hidden:>
      <div>
        <label for="stage">Order stage</label>
        <span>
          <:replace [stage_select] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":>
        </span>
      </div>
      <div>
        <label for="stage_note">Log note</label>
        <span>
          <input type="text" name="stage_note" id="stage_note" />
        </span>
      </div>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:adminurl shopadmin order_list 1:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:- if UserCan bse_shop_order_save:>
      <input type="submit" name="a_order_save" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- eif UserCan:>
    </p>
  </form>
</div>