<:-.wrap "admin/base.tmpl", "title": "Order Detail" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <a href="<:= cfg.admin_url2("shopadmin", "order_list"):>" data-icon="back" data-icon-only="true" class="button">Back</a>
      <span data-role="controlgroup">
        <a href="<:= cfg.admin_url2("shopadmin", "order_detail", { "id": order.id }):>" class="button <:= cgi.param('_t') eq '' ? 'selected' : '':>">Order</a>
        <:- if UserCan bse_log_list:>
        <a href="<:= cfg.admin_url2("shopadmin", "order_detail", { "id": order.id, "_t": "activity" }):>" class="button <:= cgi.param('_t') eq 'activity' ? 'selected' : '':>">Activity</a>
        <:- eif UserCan:>
      </span>
    </nav>
  </header>
  <div class="group">
    <table class="vertical left">
      <caption>Order details</caption>
      <tbody>
        <tr>
          <th>Order No.:</th>
          <td><b><:= order.id.format("%06d"):></b></td>
        </tr>
        <tr>
          <th>Order Date:</th>
          <td><:= bse.date("%e-%b-%Y", order.orderDate):></td>
        </tr>
        <:-.if order.stage_description_id:>
        <tr>
          <th>Order Status:</th>
          <td><:= order.stage_description:></td>
        </tr>
        <:-.end if:>
        <:-.if order.purchase_order:>
        <tr>
          <th>Purchase Order:</th>
          <td><:= order.purchase_order:></td>
        </tr>
        <:-.end if:>
        <:-.if order.freight_tracking:>
        <tr>
          <th>Tracking Code:</th>
          <td>
            <:-.if cfg.entry("shipping tracking urls", order.shipping_name ):>
            <a href="<:= cfg.entry("shipping tracking urls", order.shipping_name ) _ order.freight_tracking :>"><:= order.freight_tracking:></a>
            <:-.else:>
            <:= order.freight_tracking:>
            <:-.end if:>
          </td>
        </tr>
        <:-.end if:>
        <:-.if order.shipping_method:>
        <tr>
          <th>Shipping Method:</th>
          <td><:= order.shipping_method:></td>
        </tr>
        <:-.end if:>
        <:-.if order.userId:>
        <tr>
          <th><:= cfg.entry("site user", "display_userid", "Username"):>:</th>
          <td><:= order.userId:></td>
        </tr>
        <:-.end if:>
        <:-.if order.affiliate_code:>
        <tr>
          <th><:= cfg.entry("shop", "display_affiliate_code", "Referrer"):>:</th>
          <td><:= order.affiliate_code:></td>
        </tr>
        <:-.end if:>
        <:-.if order.coupon:>
        <tr>
          <th><:= cfg.entry("shop", "display_coupon_code", "Coupon Code"):>:</th>
          <td><:= order.coupon_code:> <:.if order.coupon_code_discount_pc :>(<:= order.coupon_code_discount_pc :>%)<:.end if:></td>
        </tr>
        <:-.end if:>
        <:- include admin/include/order_details_info_custom.tmpl optional:>
      </tbody>
    </table>
    <table class="vertical right">
      <:-.set payment = order.paidFor ? "Paid" : order.ccPAN ? "Processing" : "Unpaid":>
      <caption>Payment details <span class="<:= payment.lower:>"><:= payment:></span></caption>
      <tbody>
       <tr>
          <th>Payment Method:</th>
          <:-.if order.paymentType == 0:>
          <td><b>Credit Card</b></td>
        </tr>
        <:-.if order.ccOnline:>        <tr>
          <th>Receipt No.:</th>
          <td><:= order.ccReceipt:></td>
        </tr>
        <:-.end if:>        <tr>
          <th><:= cfg.entry("shop", "display_ccName", "Name on Card"):>:</th>
          <td><:= order.ccName:></td>
        </tr>
        <:-.if order.ccPAN:>
        <tr>
          <th><:= cfg.entry("shop", "display_ccPAN", "Card Number"):>:</th>
          <td>**** **** **** <:= order.ccPAN:></td>
        </tr>
        <:-.end if:>
        <tr>
          <th><:= cfg.entry("shop", "display_ccType", "Card Type"):>:</th>
          <td><:= order.ccType:></td>
        </tr>
          <:-.elsif order.paymentType == 1:>
          <td><b>Cheque</b></td>
        </tr>
        <tr>
          <th>Payee:</th>
          <td>
            <b><:= cfg.entry("shop", "address1"):></b>
          </td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>
            <:= cfg.entry("shop", "address2"):><br />
            <:= cfg.entry("shop", "address3"):><br />
            <:= cfg.entry("shop", "address4"):>
          </td>
        </tr>
          <:-.elsif order.paymentType == 2:>
          <td><b>Contact</b></td>
        </tr>
          <:-.elsif order.paymentType == 4:>
          <td><b>PayPal</b></td>
        </tr>
        <tr>
          <th>Transaction Id:</th>
          <td><:= order.paypal_tran_id:></td>
        </tr>
          <:-.elsif order.paymentType == 10:>
          <td><b>EFT</b></td>
        </tr>
        <tr>
          <th>Name:</th>
          <td><:= cfg.entry("shop", "accountname"):></td>
        </tr>
        <tr>
          <th>BSB:</th>
          <td><:= cfg.entry("shop", "bsb"):></td>
        </tr>
        <:-.if cfg.entry("shop", "swiftcode"):>
        <tr>
          <th>SWIFT Code:</th>
          <td><:= cfg.entry("shop", "swiftcode"):></td>
        </tr>
        <:-.end if:>
        <tr>
          <th>Account:</th>
          <td><:= cfg.entry("shop", "accountno"):></td>
        </tr>
        <tr>
          <th>Reference:</th>
          <td><:= order.id.format("%06d"):></td>
        </tr>
          <:-.elsif order.paymentType == 11:>
          <td><b>Invoice</b></td>
        </tr>
          <:-.elsif order.paymentType == 12:>
          <td><b>Account</b></td>
        </tr>
          <:- include admin/include/order_payment_type.tmpl optional:>
          <:-.else:>
          <td><b>None</b></td>
        </tr>
        <:-.end if:>
      </tbody>
    </table>
    </div>
    <table class="items">
      <caption><:-= cfg.entry("shop", "order_items_caption", "Order items") :></caption>
      <thead>
        <tr>
          <th class="item">Item</th>
          <th class="code">Code</th>
          <th class="tier">Tier</th>
          <:-.if order.coupon_active and !order.coupon_cart_wide :>
          <th class="discount">Discount</th>
          <:-.end if :>
          <th class="quantity">Qty</th>
          <th class="price">Price</th>
          <th class="extended">Extended</th>
        </tr>
      </thead>
      <tbody>
        <:-.for item in [order.items]:>
          <:-.set product = @undef :>
          <:-.if item.productId > 0 :>
          <:-.set product = bse.products.getByPkey(item.productId):>
          <:-.end if:>
        <tr>
          <td class="item">
            <:-.if item.productId == -1:>
            <:= item.title:> (product deleted)
            <:-.else:>
            <a href="<:= cfg.admin_url("add", { "id":product.id, "referer":1}) :>"><:= item.title:></a>
            <:-.end if:>
            <:-.if item.nice_options:>
            <span><:= item.nice_options:></span>
            <:-.end if:>
            <:-.if item.description and cfg.entry("shop", "product_description", 1):>
            <div class="description"><:= item.description:></div>
            <:-.end if:>
          </td>
          <td class="code"><:= item.product_code:></td>
          <td class="tier"><:= item.tier_id ? item.tier.description : cfg.entry("shop", "base_tier_name", "Retail"):></td>
          <:-.if order.coupon_active and !order.coupon_cart_wide :>
          <td class="discount">
            <:-.if item.product_discount:>
            <:= item.product_discount_units:> &times; <:= cfg.entry("shop", "currency", "$") :><:= bse.number("money", item.product_discount ):>
            <:-.end if:>
          </td>
          <:-.end if :>
          <td class="quantity"><:= item.units:> &times;</td>
          <td class="price"><:= cfg.entry("shop", "currency", "$"):><:= bse.number("money", item.price):></td>
          <td class="extended"><:= cfg.entry("shop", "currency", "$"):><:= bse.number("money", item.extended("price")):></td>
        </tr>
        <:-.end for:>
      </tbody>
    </table>
    <div class="totals">
      <:-.if order.coupon :>
      <p class="discount">
        <:-.if order.coupon_code_discount_pc:>
        <span>(<:= order.coupon_code_discount_pc:>% Coupon)</span>
        <:-.end if:>
        <label>Discount:</label> &minus;<:= cfg.entry("shop", "currency", "$") :><:= bse.number("money", order.product_cost_discount ) :>
      </p>
      <:-.end if :>
      <:-.if order.shipping_cost:>
      <p class="freight"><span>(<:= order.shipping_method:>)</span> <label>Freight:</label> <:= cfg.entry("shop", "currency", "$"):><:= bse.number("money", order.shipping_cost ):></p>
      <:-.elsif order.shipping_name eq "contact" :>
      <p class="freight"><span>(<:= order.shipping_method:>)</span> <label>Freight:</label> TBA</p>
      <:-.end if:>
      <p class="total"><abbr><:= cfg.entry("shop", "currency_code", "AUD"):></abbr> <label>Total:</label> <:= cfg.entry("shop", "currency", "$"):><:= bse.number("money", order.total ):></p>
    </div>
    <div class="group">
    <:-.if order.billStreet:>
    <table class="vertical left">
      <caption><:-= cfg.entry("shop", "order_billing_caption", "Billing details") :></caption>
      <tbody>
        <tr>
          <th>Name:</th>
          <td><b><:= order.billFirstName:> <:= order.billLastName:></b></td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>            <:-.if order.billOrganization:>
            <:= order.billOrganization:><br />
            <:-.end if:>
            <:= order.billStreet:><br />
            <:-.if order.billStreet2:>
            <:= order.billStreet2:><br />
            <:-.end if:>
            <:= order.billSuburb:> <:= order.billState:> <:= order.billPostCode:><br />
            <:-.if [cfg.entries("country selector")].size :>
            <:= cfg.entry("country selector", order.billCountry ):>
            <:-.else:>
            <:= order.billCountry:>
            <:-.end if:>
          </td>
        </tr>
        <:-.if order.billTelephone:>        <tr>
          <th><:= cfg.entry("site users", "display_telephone", "Telephone"):>:</th>
          <td><:= order.billTelephone:></td>
        </tr>
        <:-.end if:>
        <:-.if order.billFacsimile:>        <tr>
          <th><:= cfg.entry("site users", "display_facsimile", "Facsimile"):>:</th>
          <td><:= order.billFacsimile:></td>
        </tr>
        <:-.end if:>
        <:-.if order.billMobile:>        <tr>
          <th><:= cfg.entry("site users", "display_mobile", "Mobile"):>:</th>
          <td><:= order.billMobile:></td>
        </tr>
        <:-.end if:>
        <tr>
          <th><:= cfg.entry("site users", "display_email", "Email Address"):>:</th>
          <td><:= order.billEmail:></td>
        </tr>
        <:-.if order.instructions:>        <tr>
          <th>Instructions:</th>
          <td><:= order.instructions:></td>
        </tr>
        <:-.end if:>
      </tbody>
    </table>
    <:-.end if:>
    <:-.if order.delivStreet:>
    <table class="vertical right">
      <caption><:-= cfg.entry("shop", "order_shipping_caption", "Shipping details") :></caption>
      <tbody>
        <tr>
          <th>Name:</th>
          <td><b><:= order.delivFirstName:> <:= order.delivLastName:></b></td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>            <:-.if order.delivOrganization:>
            <:= order.delivOrganization:><br />
            <:-.end if:>
            <:= order.delivStreet:><br />
            <:-.if order.delivStreet2:>
            <:= order.delivStreet2:><br />
            <:-.end if:>
            <:= order.delivSuburb:> <:= order.delivState:> <:= order.delivPostCode:><br />
            <:-.if [cfg.entries("country selector")].size :>
            <:= cfg.entry("country selector", order.delivCountry ):>
            <:-.else:>
            <:= order.delivCountry:>
            <:-.end if:>
          </td>
        </tr>
        <:-.if order.telephone:>        <tr>
          <th><:= cfg.entry("site users", "display_telephone", "Telephone"):>:</th>
          <td><:= order.telephone:></td>
        </tr>
        <:-.end if:>
        <:-.if order.facsimile:>        <tr>
          <th><:= cfg.entry("site users", "display_facsimile", "Facsimile"):>:</th>
          <td><:= order.facsimile:></td>
        </tr>
        <:-.end if:>
        <:-.if order.delivMobile:>        <tr>
          <th><:= cfg.entry("site users", "display_mobile", "Mobile"):>:</th>
          <td><:= order.delivMobile:></td>
        </tr>
        <:-.end if:>
        <:-.if order.emailAddress:>        <tr>
          <th><:= cfg.entry("site users", "display_email", "Email Address"):>:</th>
          <td><:= order.emailAddress:></td>
        </tr>
        <:-.end if:>
      </tbody>
    </table>
    <:-.end if:>
  </div>
  <:-.if (order.paymentType == 4) and order.paidFor (order.paid_manually == 0):>
  <:-.if request.user_can("bse_shop_order_refund_paypal"):>
  <form action="<:= cfg.admin_url("shopadmin"):>" method="post" data-object="Refund">
    <fieldset>
      <legend>Payment</legend>
      <ul>
        <li>
          <input type="checkbox" name="id" id="id" value="<:= order.id :>" required="required" />
          <label for="id">Refund the PayPal payment associated with this order and mark it as unpaid</label>
        </li>
      </ul>
      <p class="buttons">
        <input type="submit" name="a_paypal_refund" value="Refund Payment" class="button red" />
      </p>
    </fieldset>
  </form>
  <:-.end if:>
  <:-.end if:>
  <:-.if !order.paidFor:>
  <form action="<:= cfg.admin_url("shopadmin"):>" method="post" data-object="Payment">
    <:csrfp shop_order_paid hidden:>
    <fieldset>
      <legend>Payment</legend>
      <div class="field">
        <label class="field-label" for="paymentType">Method</label>
        <span class="field-input">
          <:.call "make_select", "name": "paymentType", "required": 1, "list": payment_types, "id": "id", "desc": "desc", "default": order.paymentType:>
        </span>
      </div>
      <ul class="field-list">
        <li>
          <input type="checkbox" name="id" id="id" value="<:= order.id :>" required="required" />
          <label for="id">Mark this order as paid using the selected payment method</label>
        </li>
      </ul>
      <p class="buttons">
        <input type="submit" name="a_order_paid" value="Save Payment" class="button green" />
      </p>
    </fieldset>
  </form>
  <:-.elsif order.is_manually_paid:>
  <form action="<:= cfg.admin_url("shopadmin"):>" method="post" data-object="Payment">
    <:csrfp shop_order_unpaid hidden:>
    <fieldset>
      <legend>Payment</legend>
      <ul>
        <li>
          <input type="checkbox" name="id" id="id" value="<:= order.id :>" required="required" />
          <label for="id">Delete the payment associated with this order and mark it as unpaid</label>
        </li>
      </ul>
      <p class="buttons">
        <input type="submit" name="a_order_unpaid" value="Delete Payment" class="button red" />
      </p>
    </fieldset>
  </form>
  <:-.end if:>
  <form action="<:= cfg.admin_url("shopadmin"):>" method="post" data-object="Order">
    <:-.if order.stage eq "shipped":>
    <:-.elsif order.shipping_name eq "none":>
    <:-.else:>
    <fieldset>
      <legend>Freight</legend>
      <input type="hidden" name="id" value="<:= order.id:>" />
      <:csrfp shop_order_save hidden:>
      <div class="field">
        <label class="field-label" for="shipping_name">Shipping method</label>
        <span class="field-input">
          <:shipping_method_select:>
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="freight_tracking">Tracking code</label>
        <span class="field-input">
          <input type="text" name="freight_tracking" id="freight_tracking" value="<:= order.freight_tracking:>" />
        </span>
      </div>
    </fieldset>
    <:-.end if:>
    <fieldset>
      <legend>Status</legend>
      <input type="hidden" name="id" value="<:= order.id:>" />
      <:csrfp shop_order_save hidden:>
      <div class="field">
        <label class="field-label" for="stage">Order stage</label>
        <span class="field-input">
          <:replace [stage_select] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":>
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="stage_note">Log note</label>
        <span class="field-input">
          <input type="text" name="stage_note" id="stage_note" />
        </span>
      </div>
    </fieldset>
    <:- include admin/include/order_detail_custom.tmpl optional:>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:adminurl shopadmin order_list 1:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:-.if request.user_can("bse_shop_order_save") :>
      <input type="submit" name="a_order_save" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:-.end if:>
    </p>
  </form>
</div>