<:-.wrap "admin/base.tmpl", "title": "Edit Option" :>
<div class="window dialog">
  <header>
    <:-.set pagetitle = params.title _ " - " _ ( article.titleAlias or article.title ) _ " (Level " _ article.level _ ")" :>
    <h1><:= pagetitle:></h1>
    <nav data-role="toolbar">
      <:- if UserCan bse_edit_prodopt_delete:article:>
      <a href="<:script:>?id=<:article id:>&amp;a_delete_option=1&amp;option_id=<:option id:>&amp;_csrfp=<:csrfp admin_delete_option:>" data-action="Delete" data-object="Option" data-icon="trash" class="button">Delete</a>
      <:- or UserCan:>
      <a data-icon="trash" class="button disabled">Delete</a>
      <:- eif UserCan:>
    </nav>
  </header>
  <form action="<:script:>" method="post" data-object="Option">
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="option_id" value="<:option id:>" />
    <input type="hidden" name="newvaluecount" id="newvaluecount" value="<:ifCgi newvaluecount:><:cgi newvaluecount:><:or:>0<:eif:>" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <:csrfp admin_save_option hidden:>
    <input type="hidden" name="save_enabled" value="1" />
    <fieldset>
      <legend>Option</legend>
      <div>
        <label for="name">Name <span class="required">*</span> <:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name option name:>" required="required" class="<:ifError_img name:>error<:eif:>" />
          <:help edit name:>
        </span>
      </div>
      <div>
        <label for="enabled">Enabled <:error_img enabled:></label>
        <span>
          <input type="checkbox" name="enabled" id="enabled" value="1" <:ifOr [old enabled] [option enabled]:>checked="checked"<:eif:> />
          <:help edit enabled:>
        </span>
      </div>
    </fieldset>
    <fieldset id="option_values">
      <legend>Values <:error_img default_value:></legend>
      <:- iterator begin dboptionvalues:>
      <div>
        <label for="value<:dboptionvalue id:>">
          <!--:dboptionvalue_move:-->
          <:-.if request.user_can("admin_move_option_value", article) :>
          <:-.set option_id = "option id".evaltag -:>
          <:-.set dboptionvalue_id = "dboptionvalue id".evaltag -:>
          <:-.set loop_next = "arithmetic [dboptionvalue_count] > [dboptionvalue_index] + 1".evaltag -:>
          <:-.set loop_prev = "dboptionvalue_index".evaltag -:>
          <:-.set refresh = cfg.admin_url2("add", "edit_option", { "id":article.id, "option_id": option_id }) -:>

          <:-.set down_url = loop_next ? cfg.admin_url2("add", "option_value_movedown", { "id":article.id, "value_id":dboptionvalue_id, "_csrfp":request.get_csrf_token("admin_move_option_value"), "r":refresh }) : 0 -:>
          <:-.set up_url = loop_prev ? cfg.admin_url2("add", "option_value_moveup", { "id":article.id, "value_id":dboptionvalue_id, "_csrfp":request.get_csrf_token("admin_move_option_value"), "r":refresh }) : 0 -:>
          
          <:.call "make_arrows", "down_url":down_url, "up_url":up_url :>
          <:-.end if :>
          <:- if UserCan bse_edit_prodopt_edit:article:>
          <a href="<:script:>?id=<:article id:>&amp;a_delete_option_value=1&amp;value_id=<:dboptionvalue id:>&amp;_csrfp=<:csrfp admin_delete_option_value:>&amp;r=<:script:>%3Fid=<:article id:>%26a_edit_option=1%26option_id=<:option id:>" data-action="Delete" data-object="Value" class="button red small">&minus;</a>
          <:- eif UserCan:>
          <input type="radio" name="default_value" value="<:dboptionvalue id:>" <:ifOr [ifEq [dboptionvalue id] [cgi default_value]] [ifEq [dboptionvalue id] [option default_value]]:>checked="checked"<:eif:> />
          #<:dboptionvalue_number:> <span class="required">*</span> <:error_img [cat value [dboptionvalue id]]:>
        </label>
        <span>
          <input type="text" name="value<:dboptionvalue id:>" id="value<:dboptionvalue id:>" value="<:oldi [cat value [dboptionvalue id]] 0 dboptionvalue value:>" required="required" class="<:ifError_img [cat value [dboptionvalue id]]:>error<:eif:>" />
          <:help edit name:>
        </span>
      </div>
      <:- iterator end dboptionvalues:>
      <:- if Cgi newvaluecount:>
      <:- iterator begin repeats [cgi newvaluecount]:>
      <div>
        <label for="newvalue<:repeat value:>">#<:add [dboptionvalue_count] [repeat value]:> <span class="required">*</span> <:error_img [cat newvalue [repeat value]]:></label>
        <span>
          <input type="text" name="newvalue<:repeat value:>" value="<:= cgi.param("newvalue" _ "repeat value".evaltag ):>" required="required" class="<:ifError_img [cat newvalue [repeat value]]:>error<:eif:>" />
        </span>
      </div>
      <:- iterator end repeats:>
      <:- eif Cgi:>
    </fieldset>
    <p class="buttons">
      <a href="<:script:>?id=<:article id:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:- if UserCan bse_edit_prodopt_save:article:>
      <input type="submit" name="a_save_option" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- eif UserCan:>
    </p>
  </form>
</div>
<:- if UserCan bse_edit_prodopt_edit:article:>
<script type="text/javascript">
    var optionValues = $("option_values");
    var addButton = new Element("button", { "class": "button gray small right" }).update("+");
    optionValues.appendChild(addButton);
    
    var index = parseInt($("newvaluecount").value);
    
    addButton.observe("click", function(ev) {
        ev.stop();
        ++index;
        var name = "newvalue" + index;

        var div = new Element("div");

        var label = new Element("label", { "for": name }).update("#" + parseInt(<:dboptionvalue_count:> + index) );
        div.appendChild(label);

        var requiredIndicator = new Element("span", { "class": "required" }).update(" *");
        label.appendChild(requiredIndicator);
    
        var span = new Element("span");
        div.appendChild(span);
    
        var input = new Element("input", { "type": "text", "name": name, "id": name, "required": "required" });
        span.appendChild(input);
    
        optionValues.insertBefore(div, addButton);
    
        $("newvaluecount").value = index;
    });
</script>
<:- eif UserCan:>