<:= cfg.entry("site", "name").upper |raw:> ACCOUNT SERVICES.

A new user has signed up as a member on your site.

USER DETAILS:

  Username: <:user userId:>
  Full Name : <:user name1:> <:user name2:>
  Email Address: <:user email:>

EDIT USER LINK:
  <:adminurl siteusers a_edit 1 id [user id] |z:>

EDIT USER ACCESS LINK:
  <:adminurl siteusers a_edit 1 id [user id] _t "groups" |z:>
  
<:- include admin/include/registeremail_custom.tmpl optional:>


Regards
The team at <:= cfg.entry("site", "name") |raw:>
(<:= cfg.entry("site", "url") |raw:>)

<:set_subject [concatenate "A new user has signed up (" [user userId] ")"]:>