<:= cfg.entry("site", "name").upper |raw:> ACCOUNT SERVICES.

A new user has signed up as a member on your site.

USER DETAILS:

  <:= cfg.entry("site users", "display_userid", "Username") |raw:>: <:user userId |z:>
  Full Name : <:user name1 |z:> <:user name2 |z:>
  <:= cfg.entry("site users", "display_email", "Email Address") |raw:>: <:user email |z:>

EDIT USER LINK:
  <:adminurl siteusers a_edit 1 id [user id] |z:>

EDIT USER ACCESS LINK:
  <:adminurl siteusers a_edit 1 id [user id] _t "groups" |z:>
  
<:- include admin/include/registeremail_custom.tmpl optional:>


Regards
The team at <:= cfg.entry("site", "name") |raw:>
(<:= cfg.entry("site", "url") |raw:>)

<:set_subject [concatenate "A new user has signed up (" [user userId] ")"]:>