<:wrap admin/base.tmpl title=>"Edit Admin User" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
    <nav data-role="toolbar">
      <span data-role="controlgroup">
        <a href="<:script:>" class="button active">Users</a>
        <a href="<:script:>?a_groups=1" class="button">Groups</a>
      </span>
      <:- if UserCan bse_admin_user_del:>
      <a href="<:script:>?a_deluser=1&amp;userid=<:user id:>" accesskey="d" title="AccessKey = d" data-confirm="Are you sure you want to delete this User?" data-icon="delete" class="button">Delete</a>
      <:- or UserCan:>
      <a data-icon="delete" class="button disabled">Delete</a>
      <:- eif UserCan:>
    </nav>
  </header>
  <form action="<:script:>" method="post">
    <input type="hidden" name="userid" value="<:user id:>" />
    <input type="hidden" name="savegroups" value="1" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Account</legend>
      <div>
        <label for="logon">Username <:error_img logon:></label>
        <span>
          <input type="text" name="logon" id="logon" value="<:old logon user logon:>" readonly="readonly" class="<:ifError_img logon:>error<:or:><:eif:>" />
          <:help adduser logon:>
        </span>
      </div>
      <div>
        <label for="password">Password <:error_img password:></label>
        <span>
          <input type="password" name="password" id="password" value="<:old password:>" class="<:ifError_img password:>error<:or:><:eif:>" />
          <:help adduser password:>
        </span>
      </div>
      <div>
        <label for="confirm">Confirm Password <:error_img confirm:></label>
        <span>
          <input type="password" name="confirm" id="confirm" value="<:old confirm:>" class="<:ifError_img confirm:>error<:or:><:eif:>" />
          <:help adduser confirm:>
        </span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Name</legend>
      <div>
        <label for="name">Full Name <:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name user name:>" class="<:ifError_img name:>error<:or:><:eif:>" />
          <:help adduser name:>
        </span>
      </div>
    </fieldset>
    <:- if Groups:>
    <fieldset>
      <legend>Groups <:error_img groups:></legend>
      <ul>
        <:- iterator begin groups:>
        <li>
          <input type="checkbox" name="groups" id="group_<:igroup id:>" value="<:igroup id:>" <:ifOr [ifMemberof igroup] [ifMatch [old groups] [igroup id]]:>checked="checked" <:or:><:eif:>/>
          <label for="group_<:igroup id:>"><a href="<:script:>?a_showgroup=1&amp;groupid=<:igroup id:>"><:igroup name:></a><:ifIgroup description:> (<:igroup description:>)<:or:><:eif:></label>
        </li>
        <:- iterator end groups:>
      </ul>
      <:help adduser groups:>
    </fieldset>
    <:- or Groups:><:eif Groups:>
    <:- if Gperms:>
    <input type="hidden" name="savegperms" value="1" />
    <fieldset>
      <legend>Permissions <:error_img gperms:></legend>
      <ul>
        <:- iterator begin gperms:>
        <li>
          <input type="checkbox" name="gperms" id="gperms_<:gperm id:>" value="<:gperm id:>" <:ifGperm_set gperm:>checked="checked" <:or:><:eif:>/>
          <label for="gperms_<:gperm id:>" title="<:gperm help:>"><:gperm brief:></label>
        </li>
        <:- iterator end gperms:>
      </ul>
    </fieldset>
    <:- or Gperms:><:eif Gperms:>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:replace [referer] "&amp;referer=1":><:case default:><:script:><:endswitch:>" accesskey="." title="AccessKey = ." class="button gray">Done</a>
      <:- if UserCan bse_admin_user_save:>
      <input type="submit" name="a_saveuser" value="Save changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>