<:wrap admin/base.tmpl title=>"Edit Admin Group" :>
<div class="window dialog">
  <h1><:param title:></h1>
  <p class="buttons">
    <:if UserCan bse_admin_group_del:>
    <a href="<:script:>?a_delgroup=1&amp;groupid=<:group id:>" accesskey="d" title="AccessKey = d" onclick="return window.confirm('Are you sure you want to delete this Group?');" class="button red small">Delete</a>
    <:or UserCan:>
    <a class="button red small disabled">Delete</a>
    <:eif UserCan:>
  </p>
  <form action="<:script:>" method="post">
    <input type="hidden" name="groupid" value="<:group id:>" />
    <input type="hidden" name="saveusers" value="1" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Group</legend>
      <div>
        <label for="name">Name <span class="required">*</span> <:error_img name:></label>
        <span>
          <input type="text" name="name" id="name" value="<:old name group name:>" required="required" class="<:ifError_img name:>error<:or:><:eif:>" />
          <:help addgroup name:>
        </span>
      </div>
      <div>
        <label for="description">Description <:error_img description:></label>
        <span>
          <input type="text" name="description" id="description" value="<:old description group description:>" class="<:ifError_img description:>error<:or:><:eif:>" />
          <:help addgroup description:>
        </span>
      </div>
      <div>
        <label for="template_set">Template Set <:error_img template_set:></label>
        <span>
          <:replace [template_set_popup] "name=\"([a-z A-Z _]+)\"" "name=\"$1\" id=\"$1\"":>
          <:help addgroup template_set:>
        </span>
      </div>
    </fieldset>
    <:if Users:>
    <fieldset>
      <legend>Members <:error_img users:></legend>
      <ul>
        <:iterator begin users:>
        <li>
          <input type="checkbox" name="users" id="user_<:iuser id:>" value="<:iuser id:>" <:ifOr [ifMemberof iuser] [ifMatch [old users] [iuser id]]:>checked="checked" <:or:><:eif:>/>
          <label for="user_<:iuser id:>"><a href="<:script:>?a_showuser=1&amp;userid=<:iuser id:>"><:iuser logon:></a><:ifIuser name:> (<:iuser name:>)<:or:><:eif:></label>
        </li>
        <:iterator end users:>
      </ul>
      <:help addgroup users:>
    </fieldset>
    <:or Users:><:eif Users:>
    <:if Gperms:>
    <input type="hidden" name="savegperms" value="1" />
    <fieldset>
      <legend>Permissions <:error_img gperms:></legend>
      <ul>
        <:iterator begin gperms:>
        <li>
          <input type="checkbox" name="gperms" id="gperms_<:gperm id:>" value="<:gperm id:>" <:ifGperm_set gperm:>checked="checked" <:or:><:eif:>/>
          <label for="gperms_<:gperm id:>" title="<:gperm help:>"><:gperm brief:></label>
        </li>
        <:iterator end gperms:>
      </ul>
    </fieldset>
    <:or Gperms:><:eif Gperms:>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:param r:><:case Cgi referer:><:referer:><:case default:><:script:>?a_groups=1<:endswitch:>" accesskey="." title="AccessKey = ." class="button gray">Done</a>
      <:if UserCan bse_admin_group_save:>
      <input type="submit" name="a_savegroup" value="Save changes" accesskey="c" title="AccessKey = c" class="button green" />
      <:or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>