<:-.wrap "admin/base.tmpl", "title": "Edit Admin User" :>
<div class="window dialog">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <span data-role="controlgroup">
        <a href="<:script:>" class="button active">Users</a>
        <a href="<:script:>?a_groups=1" class="button">Groups</a>
      </span>
      <:- if UserCan bse_admin_user_del:>
      <a href="<:script:>?a_deluser=1&amp;userid=<:user id:>" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="User" data-icon="trash" class="button">Delete</a>
      <:- or UserCan:>
      <a data-icon="trash" class="button disabled">Delete</a>
      <:- eif UserCan:>
    </nav>
  </header>
  <:-.if user.locked_out:>
  <p data-role="status" class="warning">
    <:-.if request.user_can("bse_admin_user_unlock"):>
    <a href="<:= cfg.admin_url2("adminusers", "unlock", { "userid": user.id, "r":cfg.admin_url2("adminusers", "showuser", { "userid":user.id }) }):>" class="button orange small right">Unlock</a>
    <:-.end if:>
    Account temporarily locked due to excessive login failures.
  </p>
  <:-.end if:>
  <form action="<:script:>" method="post" data-object="User">
    <input type="hidden" name="userid" value="<:user id:>" />
    <input type="hidden" name="savegroups" value="1" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Account</legend>
      <div class="field">
        <label class="field-label" for="logon">Username <:error_img logon:></label>
        <span class="field-input">
          <input type="text" name="logon" id="logon" value="<:old logon user logon:>" readonly="readonly" class="<:ifError_img logon:>error<:eif:>" />
          <:help adduser logon:>
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="password">Password <:error_img password:></label>
        <span class="field-input">
          <input type="password" name="password" id="password" value="<:old password:>" class="<:ifError_img password:>error<:eif:>" />
          <:help adduser password:>
        </span>
      </div>
      <div class="field">
        <label class="field-label" for="confirm">Confirm Password <:error_img confirm:></label>
        <span class="field-input">
          <input type="password" name="confirm" id="confirm" value="<:old confirm:>" class="<:ifError_img confirm:>error<:eif:>" />
          <:help adduser confirm:>
        </span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Name</legend>
      <div class="field">
        <label class="field-label" for="name">Full Name <:error_img name:></label>
        <span class="field-input">
          <input type="text" name="name" id="name" value="<:old name user name:>" class="<:ifError_img name:>error<:eif:>" />
          <:help adduser name:>
        </span>
      </div>
    </fieldset>
    <:- if Groups:>
    <fieldset>
      <legend>Groups <:error_img groups:></legend>
      <ul>
        <:- iterator begin groups:>
        <li>
          <input type="checkbox" name="groups" id="group_<:igroup id:>" value="<:igroup id:>" <:ifOr [ifMemberof igroup] [ifMatch [old groups] [igroup id]]:>checked="checked" <:eif:>/>
          <label for="group_<:igroup id:>"><a href="<:script:>?a_showgroup=1&amp;groupid=<:igroup id:>"><:igroup name:></a><:ifIgroup description:> (<:igroup description:>)<:eif:></label>
        </li>
        <:- iterator end groups:>
      </ul>
      <:help adduser groups:>
    </fieldset>
    <:- eif Groups:>
    <:- if Gperms:>
    <fieldset>
      <legend>Permissions <:error_img gperms:></legend>
      <input type="hidden" name="savegperms" value="1" />
      <ul>
        <:- iterator begin gperms:>
        <li>
          <input type="checkbox" name="gperms" id="gperms_<:gperm id:>" value="<:gperm id:>" <:ifGperm_set gperm:>checked="checked" <:eif:>/>
          <label for="gperms_<:gperm id:>" title="<:gperm help:>"><:gperm brief:></label>
        </li>
        <:- iterator end gperms:>
      </ul>
    </fieldset>
    <:- eif Gperms:>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:- if UserCan bse_admin_user_save:>
      <input type="submit" name="a_saveuser" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- eif UserCan:>
    </p>
  </form>
</div>