<:wrap admin/base.tmpl title=>"Admin Group Article Permissions" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
  </header>
  <form action="<:script:>" method="post" data-object="Group">
    <input type="hidden" name="groupid" value="<:group id:>" />
    <input type="hidden" name="saveaperms" value="1" />
    <input type="hidden" name="id" value="<:article id:>" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Group</legend>
      <div>
        <label for="name">Name</label>
        <span>
          <input type="text" name="name" id="name" value="<:old name group name:>" readonly="readonly" />
        </span>
      </div>
      <div>
        <label for="name">Description</label>
        <span>
          <input type="text" name="description" id="description" value="<:old description group description:>" readonly="readonly" />
        </span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Permissions</legend>
      <ul>
        <:- iterator begin aperms:>
        <li>
          <input type="checkbox" name="aperms" id="aperm_<:aperm id:>" value="<:aperm id:>" <:ifAperm_set aperm:>checked="checked" <:or:><:eif:>/>
          <label for="aperm_<:aperm id:>"><:aperm brief:><:ifAperm help:> (<:aperm help:>)<:or:><:eif:></label>
        </li>
        <:- iterator end aperms:>
      </ul>
      <:help addgroup aperms:>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:replace [referer] "&amp;referer=1":><:case default:><:adminurl add id [article id]:><:endswitch:>" accesskey="." title="AccessKey = ." class="button white">Done</a>
      <:- if UserCan bse_admin_group_save_artrights:>
      <input type="submit" name="a_savegroupart" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>