<:wrap admin/base.tmpl title=>"Manage Tag Dependencies" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <ul class="menu context">
        <li><a href="#" data-icon="action+" data-icon-only="true" class="button">Actions</a>
          <ul>
            <li><a href="<:script:>?a_tags=1&amp;id=-1<:ifCgi showarts:><:or:>&amp;showarts=1<:eif:>&amp;cat=<:cgi cat:>&amp;p=<:systags_pagenum:>&amp;pp=<:systags_perpage:><:ifCgi nocat:>&amp;nocat=1<:eif:>" accesskey="t" title="AccessKey = t"><:ifCgi showarts:>Hide<:or:>Show<:eif:> Tagged Articles…</a></li>
             <li class="divider"></li>
             <li><a href="<:script:>?a_tagcleanup=1&amp;id=-1" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="Tags" data-confirm="Are you sure you want to delete all unused Tags?">Delete Unused Tags…</a></li>
          </ul>
        </li>
      </ul>
      <span data-role="controlgroup">
        <a href="<:adminurl add id -1 a_tags 1:>" class="button <:cond [cgi a_tags] selected:>">Tags</a>
        <a href="<:adminurl add id -1 a_tagcats 1:>" class="button <:cond [cgi a_tagcats] selected:>">Dependencies</a>
      </span>
    </nav>
  </header>
  <form action="<:= cfg.admin_url2("add") :>" method="get" data-object="Filter">
    <input type="hidden" name="id" value="-1" />
    <:csrfp admin_tagcatsave hidden :>
    <fieldset>
      <legend>Filter tags</legend>
      <div>
        <label for="cat">Filter category</label>
        <span>
          <input type="text" name="cat" id="cat" value="<:= cgi.param("cat") |html:>" />
        </span>
      </div>
      <p class="buttons">
        <input type="submit" name="a_tagcats" value="Update filter" accesskey="u" title="AccessKey = u" class="button blue" />
      </p>
    </fieldset>
  </form>
  <:-.set pcats = bse.paged(tagcats) :>
  <:-.if pcats.items.size:>
  <fieldset>
    <legend>Categories</legend>
    <ul class="inset list">
      <:-.for cat in pcats.items :>
      <li>
        <a href="<:= cfg.admin_url2("add", "tagcat", { "id":-1, "cat":cat}) |html:>"><:= cat | html :></a>
        <span>
          <a href="<:= cfg.admin_url2("add", "tagcat", { "id":-1, "cat":cat}) |html:>" class="button gray small">Edit</a>
        </span>
      </li>
      <:-.end for:>
    </ul>
  </fieldset>
  <:-.call "page_list", "base":cfg.admin_url2("add", "tagcats", { "id":-1 }), "pages":pcats :>
  <:-.else:>
  <fieldset>
    <legend>Categories</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No categories to display</p>
    </div>
  </fieldset>
  <:-.end if:>
</div>