<:wrap admin/base.tmpl title=>"Manage Site Tags" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <ul class="menu context">
        <li><a href="#" data-icon="action+" data-icon-only="true" class="button">Actions</a>
          <ul>
            <li><a href="<:script:>?a_tags=1&amp;id=-1<:ifCgi showarts:><:or:>&amp;showarts=1<:eif:>&amp;cat=<:cgi cat:>&amp;p=<:systags_pagenum:>&amp;pp=<:systags_perpage:><:ifCgi nocat:>&amp;nocat=1<:eif:>" accesskey="t" title="AccessKey = t"><:ifCgi showarts:>Hide<:or:>Show<:eif:> Tagged Articles…</a></li>
             <li class="divider"></li>
             <li><a href="<:script:>?a_tagcleanup=1&amp;id=-1" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="Tags" data-confirm="Are you sure you want to delete all unused Tags?">Delete Unused Tags…</a></li>
          </ul>
        </li>
      </ul>
      <span data-role="controlgroup">
        <a href="<:adminurl add id -1 a_tags 1:>" class="button <:cond [cgi a_tags] selected:>">Tags</a>
        <a href="<:adminurl add id -1 a_tagcats 1:>" class="button <:cond [cgi a_tagcats] selected:>">Dependencies</a>
      </span>
    </nav>
  </header>
  <form action="<:script:>" method="post">
    <fieldset>
      <legend>Filter tags</legend>
      <input type="hidden" name="id" value="-1" />
      <:- ifCgi showarts:>
      <input type="hidden" name="showarts" value="1" />
      <:- eif:>
      <div>
        <label for="cat">Filter category</label>
        <span>
          <input type="text" name="cat" id="cat" value="<:cgi cat:>" class="<:ifError_img cat:>error<:eif:>" />
        </span>
      </div>
      <ul>
        <li>
          <input type="checkbox" name="nocat" id="nocat" <:ifCgi nocat:>checked="checked" <:eif:>/>
          <label for="nocat">Uncategorized only</label>
        </li>
      </ul>
      <p class="buttons">
        <input type="submit" name="a_tags" value="Update filter" accesskey="u" title="AccessKey = u" class="button blue" />
      </p>
    </fieldset>
  </form>
  <:- if Systags:>
  <:- iterator begin systags:>
  <form action="<:script:>#tag_<:systag id:>" method="post" data-object="Tag">
    <fieldset>
      <div id="tag_<:systag id:>">
        <label for="systag_<:systag_number:>">Tag #<:systag_number:> <:ifEq [cgi tag_id] [systag id]:><:error_img name:><:eif:></label>
        <span>
          <input type="hidden" name="id" value="-1" />
          <input type="hidden" name="tag_id" value="<:systag id:>" />
          <input type="text" name="name" id="systag_<:systag_number:>" value="<:ifAnd [cgi a_tagsave] [ifEq [cgi tag_id] [systag id]]:><:cgi name:><:or:><:systag name:><:eif:>" class="<:ifError_img name:>error<:eif:>" />
          <input type="submit" name="a_tagrename" value="Save" class="button green small" />
          <a href="<:script:>?a_tagdelete=1&amp;id=-1&amp;tag_id=<:systag id:>" data-action="Delete" data-object="Tag" class="button red small">Delete</a>
        </span>
      </div>
      <:- if Cgi showarts:>
      <:- if Systagarts:>
      <ul class="inset list">
        <:- iterator begin systagarts:>
        <li><a href="<:script:>?id=<:systagart id:>&amp;referer=1"><:systagart title:></a></li>
        <:- iterator end systagarts:>
      </ul>
      <:- or Systagarts:>
      <p>No articles use this tag.</p>
      <:- eif Systagarts:>
      <:- eif Cgi:>
    </fieldset>
  </form>
  <:- iterator end systags:>
  <p class="pagination">
    Page <:systags_pagenum:> of <:systags_pagecount:>
    <:- if FirstSystagsPage:>
    <span class="disabled">|←</span>
    <:- or FirstSystagsPage:>
    <a href="<:adminurl add:>?a_tags=1&amp;id=-1&amp;p=1&amp;pp=<:systags_perpage:>&amp;showarts=<:cgi showarts |u:>&amp;nocat=<:cgi nocat |u:>&amp;cat=<:cgi cat |u:>">|←</a>
    <a href="<:adminurl add:>?a_tags=1&amp;id=-1&amp;p=<:prevSystagsPage:>&amp;pp=<:systags_perpage:>&amp;showarts=<:cgi showarts |u:>&amp;nocat=<:cgi nocat |u:>&amp;cat=<:cgi cat |u:>">←</a>
    <:- eif FirstSystagsPage:>
    <:- iterator begin systags_pagec:>
    <:- switch:>
    <:- case systag_pagec gap:>
    <span class="truncation">...</span>
    <:- case systag_pagec link:>
    <a href="<:adminurl add:>?a_tags=1&amp;id=-1&amp;p=<:systag_pagec page:>&amp;pp=<:systags_perpage:>&amp;showarts=<:cgi showarts |u:>&amp;nocat=<:cgi nocat |u:>&amp;cat=<:cgi cat |u:>"><:systag_pagec page:></a>
    <:- case default:>
    <span class="disabled"><:systag_pagec page:></span>
    <:- endswitch:>
    <:- iterator end systags_pagec:>
    <:- if LastSystagsPage:>
    <span class="disabled">→|</span>
    <:- or LastSystagsPage:>
    <a href="<:adminurl add:>?a_tags=1&amp;id=-1&amp;p=<:nextSystagsPage:>&amp;pp=<:systags_perpage:>&amp;showarts=<:cgi showarts |u:>&amp;nocat=<:cgi nocat |u:>&amp;cat=<:cgi cat |u:>">→</a>
    <a href="<:adminurl add:>?a_tags=1&amp;id=-1&amp;p=<:systags_pagecount:>&amp;pp=<:systags_perpage:>&amp;showarts=<:cgi showarts |u:>&amp;nocat=<:cgi nocat |u:>&amp;cat=<:cgi cat |u:>">→|</a>
    <:- eif LastSystagsPage:>
  </p>
  <:- or Systags:>
  <fieldset>
    <legend>Tags</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No tags to display</p>
    </div>
  </fieldset>
  <:- eif Systags:>
</div>