<:-.wrap "admin/base.tmpl", "title": "Manage Admin Users" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <:-.if request.user_can("bse_admin_user_add") or request.user_can("bse_admin_group_add"):>
      <ul class="menu context">
        <li><a href="#" data-icon="action+" data-icon-only="true" class="button">Actions</a>
          <ul>
            <:-.if request.user_can("bse_admin_user_add"):>
            <li><a href="<:= cfg.admin_url2("adminusers", "adduserform"):>" accesskey="u" title="AccessKey = u">New Admin User…</a></li>
            <:-.end if:>
            <:-.if request.user_can("bse_admin_group_add"):>
            <li class="divider"></li>
            <li><a href="<:= cfg.admin_url2("adminusers", "addgroupform"):>" accesskey="g" title="AccessKey = g">New Admin Group…</a></li>
            <:-.end if:>
          </ul>
        </li>
      </ul>
      <:-.end if:>
      <span data-role="controlgroup">
        <:-.if request.user_can("bse_admin_user_list"):>
        <a href="<:= cfg.admin_url("adminusers"):>" class="button selected">Users</a>
        <:-.end if:>
        <:-.if request.user_can("bse_admin_group_list"):>
        <a href="<:= cfg.admin_url2("adminusers", "groups"):>" class="button">Groups</a>
        <:-.end if:>
      </span>
    </nav>
  </header>
  <:-.set adminusers = [ users.all ] -:>
  <:-.if adminusers.size:>
  <fieldset>
    <legend>Users</legend>
    <table class="full list">
      <thead>
        <tr>
          <th>Username</th>
          <th>Full Name</th>
          <th>Groups</th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:-.for user in adminusers :>
        <:-.set usergroups = [ user.groups ] :>
        <tr <:-.if user.locked_out:> class="warning"<:.end if:>>
          <td><:= user.logon:></td>
          <td><:= user.name:></td>
          <td>
            <:-.if usergroups.size:>
            <:-.for group in usergroups :>
            <:= group.name :><:= loop.is_last ? "" : ", " :>
            <:-.end for:>
	        <:-.else:>
	        (none)
	        <:-.end if:>
	      </td>
          <td class="actions">
            <:-.if request.user_can("bse_admin_user_save"):>
            <a href="<:= cfg.admin_url2("adminusers", "showuser", { "userid": user.id }):>" class="button white small">Edit</a>
            <:-.else:>
            <a class="button white small disabled">Edit</a>
            <:-.end if:>
            <:-.if request.user_can("bse_admin_user_del"):>
            <a href="<:= cfg.admin_url2("adminusers", "deluser", { "userid": user.id }):>" data-action="Delete" data-object="User" class="button red small">Delete</a>
            <:-.else:>
            <a class="button red small disabled">Delete</a>
            <:-.end if:>
          </td>
        </tr>
        <:-.end for:>
      </tbody>
    </table>
  </fieldset>
  <:-.else:>
  <fieldset>
    <legend>Users</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No admin users to display</p>
      <:-.if request.user_can("bse_admin_user_add"):>
      <p><a href="<:= cfg.admin_url2("adminusers", "adduserform", { "referer": 1 }):>" data-icon="add" class="button white">New Admin User…</a></p>
      <:-.end if:>
    </div>
  </fieldset>
  <:-.end if:>
</div>