<:- if Admin:>
<span class="bse-admin bse-admin-buttons-mini arrows"><a href="<:adminurl add:>?id=<:allprod id:>&amp;referer=<:top id:>" target="_top"><img src="/bse-admin/images/adminmenu/action-mini.png" width="14" height="14" title="Edit Product… (Id <:allprod id:>)" alt="Edit" /></a><:if UserCan bse_edit_delete_article:allprod:><a href="<:adminurl add:>?id=<:allprod id:>&amp;remove=1&amp;_csrfp=<:csrfp admin_remove_article:>&amp;r=<:adminurl admin:>%3Fid=<:top id:>" onclick="return window.confirm('Are you sure you want to delete this Product?')"><img src="/bse-admin/images/adminmenu/delete-mini.png" width="15" height="14" title="Delete Product (Id <:allprod id:>)" alt="Delete" /></a><:or UserCan:><img src="/bse-admin/images/adminmenu/delete-mini-disabled.png" width="15" height="14" title="Delete" alt="Delete" /><:eif UserCan:><:moveallprod:></span>
<:- eif Admin:> 