<:if Admin:> <span class="arrows"><a href="<:adminurl add:>?id=<:dynallprod id:>" target="_top"><img src="/images/bse-admin/adminmenu/edit_mini.gif" width="13" height="13" border="0" title="Edit this product id: <:dynallprod id:>" alt="Editor" /></a><:if UserCan bse_edit_delete_article:dynallprod:><a href="<:adminurl add:>?id=<:dynallprod id:>&amp;remove=1&amp;_csrfp=<:csrfp admin_remove_article:>&amp;r=<:adminurl admin:>%3Fid=<:top id:>%26h=1%26message=Product%2Bdeleted%2Bsuccessfully" onclick="return window.confirm('Are you sure you want to delete this product?')"><img src="/images/bse-admin/adminmenu/delete_mini.gif" width="14" height="13" border="0" title="Delete this product id: <:dynallprod id:>" alt="Delete" /></a><:or UserCan:><img src="/images/bse-admin/adminmenu/delete_mini_disabled.gif" width="14" height="13" border="0" title="Delete" alt="Delete" /><:eif UserCan:><:dynmoveallprod:></span><:or Admin:><:eif Admin:> 