<:if Match [ifAllkids] "^[01]$":><:or Match:>
<p class="admin sortby">Sort by: <a href="<:adminurl reorder:>?stepparent=<:article id:>&amp;sort=title&amp;refreshto=<:adminurl admin:>?id=<:top id:>" title="Sort child list in alphabetical order">title</a> | <a href="<:adminurl reorder:>?stepparent=<:article id:>&amp;sort=id&amp;refreshto=<:adminurl admin:>?id=<:top id:>" title="Sort child list in date creation order">date</a> | <a href="<:adminurl reorder:>?stepparent=<:article id:>&amp;reverse=1&amp;refreshto=<:adminurl admin:>?id=<:top id:>" title="Sort child list in reverse order">reverse</a></p><:eif Match:>