<:wrap admin/base.tmpl title=>"Manage IP Lockouts", bodyid=>"auditlog":>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <:-.if ips.size:>
  <fieldset>
    <legend>IP Lockouts</legend>
    <table class="full list">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Site Users</th>
          <th>Admin Users</th>
          <th><!--Actions--></th>
        </tr>
      </thead>
      <tbody>
        <:-.for ip in ips:>
        <tr class="warning">
          <td><:= ip.ip_address:></td>
          <td>
            <:-.if ip.lockout_S and request.user_can("bse_ipaddress_unlock"):>
            <a href="<:= cfg.admin_url2("ipaddress", "unlock", { "ip":ip.ip_address, "type":"S" }):>" class="button orange small">Unlock</a>
            <:-.elsif ip.lockout_S:>
            Locked
            <:-.end if:>
          </td>
          <td>
            <:-.if ip.lockout_A and request.user_can("bse_ipaddress_unlock"):>
            <a href="<:= cfg.admin_url2("ipaddress", "unlock", { "ip":ip.ip_address, "type":"A" }):>" class="button orange small">Unlock</a>
            <:-.elsif ip.lockout_A:>
            Locked
            <:-.end if:>
          </td>
          <td class="actions">
            <:-.if request.user_can("bse_ipaddress_detail"):>
            <a href="<:= cfg.admin_url2("ipaddress", "detail", { "ip":ip.ip_address }):>" class="button gray small">Details</a>
            <:-.end if:>
          </td>
        </tr>
        <:-.end for:>
      </tbody>
    </table>
  </fieldset>
  <:-.else:>
  <fieldset>
    <legend>IP Lockouts</legend>
    <div class="center">
      <p><img src="/bse-admin/images/icons/alert.png" alt="Alert!" /></p>
      <p>No locked IP addresses to display</p>
    </div>
  </fieldset>
  <:-.end if:>
</div>