<:wrap admin/base.tmpl title=>"Edit Subscription" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" data-widget="close">Quick Launch</a>
    <nav data-role="toolbar">
      <ul class="menu context">
        <li><a href="#" data-icon="action+" data-icon-only="true" class="button">Actions</a>
          <ul>
            <:- if UserCan bse_subscr_update:>
            <li><a href="<:script:>?a_update=1" accesskey="u" title="AccessKey = u">Update Expiry Dates</a></li>
            <:- or UserCan:><:eif UserCan:>
            <li class="divider"></li>
            <:- if And [ifUserCan bse_subscr_delete] [subscription is_removable]:>
            <li><a href="<:script:>?a_remove=1&amp;subscription_id=<:subscription subscription_id:>" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="Subscription">Delete</a></li>
            <:- or And:>
            <li class="disabled"><span>Delete</span></li>
            <:- eif And:>
          </ul>
        </li>
      </ul>
      <:- if Or [ifUserCan bse_subscr_list] [ifUserCan bse_subscr_edit]:>      
      <span data-role="controlgroup">
        <:- if UserCan bse_subscr_edit:>
        <a href="<:script:>?a_edit=1&amp;subscription_id=<:subscription subscription_id:>" class="button selected">Subscription</a>
        <:- or UserCan:><:eif UserCan:>
        <:- if UserCan bse_subscr_list:>
        <a href="<:script:>?a_detail=1&amp;subscription_id=<:subscription subscription_id:>" class="button">Relationships</a>
        <:- or UserCan:><:eif UserCan:>
      </span>
      <:- or Or:><:eif Or:>
      <:- if And [ifUserCan bse_subscr_delete] [subscription is_removable]:>
      <a href="<:script:>?a_remove=1&amp;subscription_id=<:subscription subscription_id:>" accesskey="d" title="AccessKey = d" data-action="Delete" data-object="Subscription" data-icon="delete" class="button">Delete</a>
      <:- or And:>
      <a data-icon="delete" class="button disabled">Delete</a>
      <:- eif And:>
    </nav>
  </header>
  <form action="<:script:>" method="post" data-object="Subscription">
    <input type="hidden" name="subscription_id" value="<:subscription subscription_id:>" />
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Subscription</legend>
      <div>
        <label for="title">Title <span class="required">*</span> <:error_img title:></label>
        <span>
          <input type="text" name="title" id="title" value="<:old title subscription title:>" required="required" class="<:ifError_img title:>error<:or:><:eif:>" />
          <:help addsubscr title:>
        </span>
      </div>
      <div>
        <label for="text_id">Name <span class="required">*</span> <:error_img text_id:></label>
        <span>
          <input type="text" name="text_id" id="text_id" value="<:old text_id subscription text_id:>" maxlength="20" required="required" class="<:ifError_img text_id:>error<:or:><:eif:>" />
          <:help addsubscr text_id:>
        </span>
      </div>
      <div>
        <label for="max_lapsed">Max Lapsed <span class="required">*</span> <:error_img max_lapsed:></label>
        <span>
          <input type="text" name="max_lapsed" id="max_lapsed" value="<:old max_lapsed subscription max_lapsed:>" required="required" placeholder="days" class="<:ifError_img max_lapsed:>error<:or:><:eif:>" />
          <:help addsubscr max_lapsed:>
        </span>
      </div>
    </fieldset>
    <details>
      <summary>More attributes</summary>
      <fieldset>
        <legend>Content</legend>
        <div class="full">
          <label for="description">Description <:error_img description:></label>
          <span>
            <textarea name="description" id="description" class="<:ifError_img description:>error<:or:><:eif:>"><:old description subscription description:></textarea>
            <:help addsubscr description:>
          </span>
        </div>
      </fieldset>
    </details>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:script:>?a_list=1<:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <:- if UserCan bse_subscr_save:>
      <input type="submit" name="a_save" value="Save Changes" accesskey="s" title="AccessKey = s" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>