<:wrap admin/base.tmpl title=>"Preview Unreferenced Images" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <form action="<:adminurl imageclean:>" method="post" data-action="Delete" data-object="Images" data-confirm="false">
    <:iterator begin messages:>
    <:-.set msgbase = [ state, "msg:bse/admin/imageclean/", "NOMSGID" ][1] -:>
    <:-.if state.type eq "stage" :>
    <fieldset>
      <legend id="<:= state.stage :>"><:= request.catmsg(msgbase _ "stage/" _ state.stage) :></legend>
      <ul class="list">
        <:-.elsif state.type eq "orphanimage" :>
        <li>
          <input type="checkbox" name="image" id="image_<:= state.image.id :>" value="<:= state.image.id :>" checked="checked" />
          <label for="image_<:= state.image.id :>"><:= request.htmlmsg(msgbase _ "preview/image", [ state.image.id, state.image.image ]) :></label>
        </li>
        <:-.elsif state.type eq "orphanfile" :>
        <li>
          <input type="checkbox" name="file" id="file_<:= state.file:>" value="<:= state.file :>" checked="checked" />
          <label for="file_<:= state.file:>"><:= request.htmlmsg(msgbase _ "preview/file", [ state.file ]) :></label>
        </li>
        <:-.elsif state.type eq "substage" :>
        <li><:= request.htmlmsg(msgbase _ "substage/" _ state.stage _ "/" _ state.substage) :></li>
        <:-.elsif state.type eq "error" :>
        <li class="error"><:= state.error | html :></li>
        <:-.elsif state.type eq "endstage" :>
      </ul>
    </fieldset>
    <:-.end if -:>
    <:iterator end messages:>
    <fieldset>
      <legend>Confirm image deletion</legend>
      <ul>
        <li>
          <input type="checkbox" name="confirm" id="confirm" value="1" required="required" />
          <label for="confirm">I understand this process will permanently remove all selected images</label>
        </li>
      </ul>
    </fieldset>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case And [cgi referer] [referer]:><:replace [referer] "&amp;referer=[0-9]+":><:case default:><:adminurl imageclean:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="Cancel" class="button white">Cancel</a>
      <input type="submit" name="a_final" value="Delete Images" class="button red" />
    </p>
  </form>
</div>