<:wrap admin/base.tmpl title=>"Sending Mailing List", nonavbar=>"1" :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <p><b>Warning</b> Do not interrupt this process. Attempting to stop, go-back or refresh may result in incomplete, or duplicate transmissions.</p>
  <ul class="inset list">
    <:iterator begin messages:>
    <:switch:>
    <:case Error:>
    <li class="error"><:message:></li>
    <:case User:>
    <li>Sending to <:user email:></li>
    <:case default:>
    <li><:message:></li>
    <:endswitch:>
    <:iterator end messages:>
  </ul>
</div>