<:-.wrap "admin/base.tmpl", "title": "Sending Mailing List", "nonavbar": 1 :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <p data-role="status" class="warn"><b>Warning: Do not interrupt this process</b> — Attempting to stop, go back or refresh may result in incomplete or duplicate transmissions</p>
  <ul class="inset list">
    <:iterator begin messages:>
    <:-.if is_error:>
      <:-.if sub_user:>
    <li class="error"><b><:= sub_message:> sending to <:= sub_user.email:></b></li>
      <:-.else :>
    <li class="error"><b><:= sub_message:></b></li>
      <:-.end if:>
    <:-.else:>
      <:-.if sub_user:>
    <li>Sending to: <:= sub_user.email:></li>
      <:-.else:>
    <li><:= sub_message:></li>
      <:-.end if:>
    <:-.end if:>
    <:iterator end messages:>
  </ul>
</div>