<:-.wrap "admin/base.tmpl", "title": "Send Error", "nonavbar": 1 :>
<div class="window">
  <header>
    <h1><:= params.title:></h1>
    <a href="<:= cfg.admin_url("menu"):>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <p data-role="status" class="error"><b>Error</b> — Your send form contains the following problems</p>
  <ul class="inset list">
    <:iterator begin errors:>
    <li class="error"><:error message:></li>
    <:iterator end errors:>
  </ul>
</div>