<:wrap admin/base.tmpl title=>"Send Error", nomessage=>"1", nonavbar=>"1" :>
<div class="window">
  <header>
    <h1><:param title:></h1>
    <a href="<:adminurl menu:>" accesskey="m" title="AccessKey = m" data-widget="close">Quick Launch</a>
  </header>
  <p><b>Warning</b> Your send form contained the following errors:</p>
  <ul class="inset list">
    <:iterator begin errors:>
    <li class="error"><:error message:></li>
    <:iterator end errors:>
  </ul>
</div>