<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title><:= cfg.entry("site", "name"):> - Send Mailing List</title>
  </head>
  <frameset rows="50%,*">
    <frame src="<:script:>?send_form=1&amp;id=<:sub id:>" name="form" />
    <frame src="<:script:>?<:cond [sub html_template] "html_preview" "text_preview":>=1&amp;id=<:sub id:>&amp;body=" name="preview" />
    <noframes>
      <body>
        <p>Your browser does not support frames.</p>
      </body>
    </noframes>
  </frameset>
</html>