<:wrap admin/base.tmpl title=>"Import Site User Data" :>
<div class="window dialog">
  <header>
    <h1><:param title:></h1>
  </header>
  <form action="<:adminurl userupdate:>" method="post" enctype="multipart/form-data" data-object="File">
    <input type="hidden" name="r" value="<:cgi r:>" />
    <fieldset>
      <legend>Selection</legend>
      <div>
        <label for="file">Data file <span class="required">*</span> <:error_img file:></label>
        <span>
          <input type="file" name="file" id="file" accesskey="f" title="AccessKey = f" required="required" autofocus="autofocus" class="<:ifError_img file:>error<:or:><:eif:>" />
          <:help userupdate file:>
        </span>
      </div>
      <div>
        <label for="importspec">Specification <span class="required">*</span> <:error_img importspec:></label>
        <span>
          <select name="importspec" id="importspec" required="required" class="<:ifError_img importspec:>error<:or:><:eif:>">
            <option value="">(select an import specification)</option>
            <:- iterator begin importspecs:>
            <option value="<:importspec name:>"<:ifEq [old importspec] [importspec name]:> selected="selected"<:or:><:eif:>><:importspec description:> (<:capitalize [importspec name]:>)</option>
            <:- iterator end importspecs:>
          </select>
          <:help userupdate importspecs:>
        </span>
      </div>
    </fieldset>
    <:- if Cfgsection "siteuser updates":>
    <details>
      <summary>Field details</summary>
      <:- iterator begin importspecs:>
      <fieldset>
        <legend><:capitalize [importspec name]:></legend>
        <label for="<:importspec name:>"><:importspec description:></label>
        <input type="text" name="<:importspec name:>" id="<:importspec name:>" value="<:cfg [concatenate "siteuser update " [importspec name]] fields:>" readonly="readonly" />
      </fieldset>
      <:- iterator end importspecs:>
    </details>
    <:- or Cfgsection:><:eif Cfgsection:>
    <p class="buttons">
      <a href="<:switch:><:case Cgi r:><:cgi r:><:case Cgi referer:><:replace [referer] "&amp;referer=1":><:case default:><:adminurl menu:><:endswitch:>" accesskey="." title="AccessKey = ." data-action="cancel" class="button white">Cancel</a>
      <:- if UserCan bse_siteuser_list:>
      <input type="submit" name="a_preview" value="Preview Data" accesskey="p" title="AccessKey = p" class="button blue" />
      <:- or UserCan:><:eif UserCan:>
      <:- if UserCan bse_siteuser_edit:>
      <input type="submit" name="a_import" value="Import Data" accesskey="i" title="AccessKey = i" class="button green" />
      <:- or UserCan:><:eif UserCan:>
    </p>
  </form>
</div>